<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo_azul_50x50.png">
    <script src="https://apis.google.com/js/api:client.js"></script>

    <script>
      window.onLoadCallback = function () {
        gapi.auth2.init({
          client_id: 'your cliend id'
        });
      }
    </script>

    <title>Rendezvous</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but cliente doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
