<template>
    <div>
        <br>
        <b-container>
            <!-- Info del evento -->
            <b-row>
                <b-col>
                    <h1 class="titulo">Asignación de Evaluadores: {{ fase }}</h1>
                </b-col>
            </b-row>
            <b-row>
                <b-col> 
                    <h4> Desde ({{ fechaInicio }}) Hasta ({{ fechaFin }})</h4> 
                </b-col>
            </b-row>
            <div class=transparentBackground>
                <b-row>
                    <b-col cols="10">
                        <h2>"{{ nombreDelPaper }}" - Por {{nombreAutor}}</h2>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col sm="auto">
                        <h5 id=labelKeyword>CATEGORIAS: </h5>
                    </b-col>
                    <b-col sm="auto">
                        <span v-for="item in this.keywords" v-bind:key="item.name" id=keyword>
                            {{item.name}} 
                        </span>
                    </b-col>
                </b-row>
            </div>
            <br>

            <!-- Tabla de evaluadores recomendados -->
            <b-row>
                <b-col>
                    <h5>Para este paper le recomendamos a los siguientes evaluadores:</h5>
                </b-col>
            </b-row>
            <br>
            <b-table class=evalTable :fields="fields" :items="recomEvaluators" fixed selectable :select-mode="selectMode" @row-clicked="selectedRecom" hover />




            <!-- Tabla de evaluadores disponibles -->
            <b-row>
                <b-col>
                    <h5>Lista de evaluadores adicionales del comité:</h5>
                </b-col>
            </b-row>
            <b-row no-gutters>
                <b-col cols="3" sm="auto">
                    <b-form-input v-model="searchName" placeholder="Buscar..." /> 
                </b-col>
                <b-col cols="7">
                    <b-button variant="primary" @click="searchName = null">Despejar Búsqueda</b-button> 
                </b-col>
                <b-col cols="1">
                    <b-pagination v-model="currentPageDisp" :total-rows="rows" :per-page="evalPerPageDisp" aria-controls="evalDispTable" sm="auto"></b-pagination>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-table id=evalDispTable class=evalTable :fields="fields" :items="evaluators" :per-page="evalPerPageDisp" :current-page="currentPageDisp" fixed 
                    :filter="searchName" selectable :select-mode="selectMode" @row-clicked="selectedDisp" hover />
                </b-col>
            </b-row>            
            <!-- Boton de agregar -->
            <b-row>
                <b-col cols=7>
                    <strong class=centeredLabel>Seleccione los evaluadores que desee y presione "Agregar" para asignarlos al paper.</strong>
                </b-col>
                <b-col cols=3 class=counterLabel sm="auto">
                    <strong >Evaluadores Seleccionados: {{ evalSelecDisp }} </strong>
                </b-col>
                <b-col cols="1">
                    <b-button variant="primary" @click="addEval">Agregar</b-button>
                </b-col>
            </b-row>
            <br>
            <br>
            <br>




            <!-- Tabla de evaluadores Asignados -->
            <b-row>
                <b-col cols="4" />
                <b-col>
                    <h2 class="titulo">Evaluadores Seleccionados</h2>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="10"/>
                <b-col cols="1">
                    <b-pagination v-model="currentPageAsign" :total-rows="rowsAssigned" :per-page="evalPerPageAsign" aria-controls="evalAsignTable" sm="auto"></b-pagination>
                </b-col>
            </b-row>
            <b-table id=evalAsignTable class=evalTable :fields="fields" :items="asignEvaluators" :per-page="evalPerPageAsign" :current-page="currentPageAsign" fixed />
            <!-- selectable :select-mode="selectMode" @row-clicked="selectedAsign" hover  -->
            <!-- Boton de Quitar -->
            <!-- <b-row>
                <b-col cols="7">
                    <strong class=centeredLabel>Seleccione los evaluadores que desee y presione "Quitar" para removerlos del paper.</strong>
                </b-col>
                <b-col cols=3 class=counterLabel sm="auto">
                    <strong >Evaluadores Seleccionados: {{ evalSelecAsign }} </strong>
                </b-col>
                <b-col cols="1">
                    <b-button variant="primary" @click="removeEval">Quitar</b-button>
                </b-col>
            </b-row> -->
            <br>
            <br>




            <b-row no-gutter>
                <b-col cols=4 />
                <b-col cols=3>
                    <b-button variant="danger" @click="cancelar">Cancelar</b-button>
                </b-col>
                <b-col>
                    <b-button variant="primary" @click="asignar">Asignar</b-button>
                </b-col>
            </b-row>
            <br>
            <br>

        </b-container>
    </div>
</template>

<script>
    export default {
        name: 'AssignEvaluators',
        data() {
            return{
                //Datos del paper, por estandarizacion los id van con snake_case
                paper_id: '',
                event_id: '',
                phase_id: '',
                fase: '',
                fechaInicio: '',
                fechaFin: '',
                nombreDelPaper: '',
                nombreAutor: '',
                keywords: '',
                //Table data
                fields: [{ key: "first_name", label: "Nombre", thStyle: { backgroundColor: '#3284ee'}}, {key: "last_name", label: "Apellido", thStyle: { backgroundColor: '#3284ee'}}, {key: "preference", label: "Preferencia", thStyle: { backgroundColor: '#3284ee'} }, ],
                evalPerPageDisp: 5,
                evalPerPageAsign: 10,
                currentPageDisp: 1,
                currentPageAsign: 1,
                selectMode: "multi",
                searchName: null,
                //Listas de evaluadores
                evaluators: [],
                recomEvaluators: [],
                tempEvaluators: [],
                asignEvaluators: [],
                ogAsignEval: [],
                evalSelecDisp: 0,
                evalSelecAsign: 0,
                //Dato para asignar a BD.
                tempAsignEval: '',
            }
        },
        created() { 
            //Cargamos los parámetros pasados de "PaperList.vue"
            this.paper_id = this.$route.params.id;
            this.event_id = this.$route.params.event_id;
            this.phase_id = this.$route.params.phase_id;
            this.fase = this.$route.params.phase_name;
            this.fechaInicio = this.$route.params.start_date;
            this.fechaFin = this.$route.params.end_date;
            this.nombreAutor = this.$route.params.paper_author;
            this.nombreDelPaper = this.$route.params.paper_name;
            this.keywords = this.$route.params.paper_keyword;
            //Hacemos los queries para conseguir las listas de evaluadores.
            this.axios.post('/view_evaluators_by_event', {
                'event_id': this.event_id,
                'phase_id': this.phase_id,
                'submission_id': this.paper_id
            })
            .then(response => {
                console.log(response);
                
                this.evaluators = response.data.evaluators;
                for(let item in this.evaluators){
                    this.evaluators[item]._rowVariant = 'light';
                    switch(this.evaluators[item].preference){
                        case(1):
                            this.evaluators[item].preference = "Sí me Interesa";
                            break;
                        case(2):
                            this.evaluators[item].preference = "Quizás me interesa";
                            break;
                        case(3):
                            this.evaluators[item].preference = "No me Interesa";
                            break;
                        case(4):
                            this.evaluators[item].preference = "Conflicto de Interés";
                            break;
                        default:
                            this.evaluators[item].preference = "No Asignó Preferencia";
                            break;
                    }
                }
            })
            .catch(error => {
                console.log(error.response)
            })
            this.axios.post('/view_document_evaluators', {
                'submission_id': this.paper_id
            })
            .then(response => {
                console.log(response);
                this.asignEvaluators = response.data.evaluators;
                for(let item in this.asignEvaluators){
                    this.asignEvaluators[item]._rowVariant = 'light';
                    switch(this.asignEvaluators[item].preference){
                        case(1):
                            this.asignEvaluators[item].preference = "Sí me Interesa";
                            break;
                        case(2):
                            this.asignEvaluators[item].preference = "Quizás me interesa";
                            break;
                        case(3):
                            this.asignEvaluators[item].preference = "No me Interesa";
                            break;
                        case(4):
                            this.asignEvaluators[item].preference = "Conflicto de Interés";
                            break;
                        default:
                            this.asignEvaluators[item].preference = "No Asignó Preferencia";
                            break;
                    }
                    this.ogAsignEval.push(this.asignEvaluators[item]);
                }
            })
            .catch(error => {
                console.log(error.response);
            })
            this.axios.post('/recommended_evaluators', {
                'event_id': this.event_id,
                'submission_id': this.paper_id
            })
            .then(response => {
                console.log(response);
                this.recomEvaluators = response.data.evaluators;
                for(let item in this.recomEvaluators){
                    this.recomEvaluators[item]._rowVariant = 'light';
                    switch(this.recomEvaluators[item].preference){
                        case(1):
                            this.recomEvaluators[item].preference = "Sí me Interesa";
                            break;
                        case(2):
                            this.recomEvaluators[item].preference = "Quizás me interesa";
                            break;
                        case(3):
                            this.recomEvaluators[item].preference = "No me Interesa";
                            break;
                        case(4):
                            this.recomEvaluators[item].preference = "Conflicto de Interés";
                            break;
                        default:
                            this.recomEvaluators[item].preference = "No Asignó Preferencia";
                            break;
                    }
                }
                //Remover evaluadores recomendados de lista disponible.
                for(let tempEval of this.recomEvaluators){
                    for(let position in this.evaluators){
                        if(this.evaluators[position].user_id === tempEval.user_id){
                            this.evaluators.splice(position, 1);
                        }
                    }
                }
            })
            .catch(error => {
                console.log(error.response);
            })
        },
        methods: {
            selectedDisp(item) {
                if(!(this.tempEvaluators.includes(item))){
                    let temp = this.evaluators.indexOf(item);
                    this.evaluators[temp]._rowVariant = 'info';
                    this.tempEvaluators.push(item);
                    this.evalSelecDisp++;
                }
                else{
                    let temp = this.tempEvaluators.indexOf(item);
                    this.tempEvaluators[temp]._rowVariant = 'light';
                    this.tempEvaluators.splice(temp, 1);
                    this.evalSelecDisp--;
                }
            },
            selectedRecom(item) {
                if(!(this.tempEvaluators.includes(item))){
                    let temp = this.recomEvaluators.indexOf(item);
                    this.recomEvaluators[temp]._rowVariant = 'info';
                    this.tempEvaluators.push(item);
                    this.evalSelecDisp++;
                }
                else{
                    let temp = this.tempEvaluators.indexOf(item);
                    this.tempEvaluators[temp]._rowVariant = 'light';
                    this.tempEvaluators.splice(temp, 1);
                    this.evalSelecDisp--;
                }
            },
            selectedAsign(item) {
                if(!(this.tempEvaluators.includes(item))){
                    let temp = this.asignEvaluators.indexOf(item);
                    this.asignEvaluators[temp]._rowVariant = 'info';
                    this.tempEvaluators.push(item);
                    this.evalSelecAsign++;
                }
                else{
                    let temp = this.tempEvaluators.indexOf(item);
                    this.tempEvaluators[temp]._rowVariant = 'light';
                    this.tempEvaluators.splice(temp, 1);
                    this.evalSelecAsign--;
                }                
            },
            addEval(){
                for(let item of this.tempEvaluators){
                    item._rowVariant = 'light';
                    this.asignEvaluators.push(item);
                    if(this.evaluators.includes(item)){
                        let counter = this.evaluators.indexOf(item);
                        this.evaluators.splice(counter, 1);
                    }
                    else{
                        let counter = this.recomEvaluators.indexOf(item);
                        this.recomEvaluators.splice(counter, 1);                       
                    }
                }
                this.tempEvaluators = [];
                this.evalSelecDisp = 0;
            },
            removeEval(){
                for(let item of this.tempEvaluators){
                    item._rowVariant = 'light';
                    this.evaluators.push(item);
                    let counter = this.asignEvaluators.indexOf(item);
                    this.asignEvaluators.splice(counter, 1);
                }
                this.tempEvaluators = [];
                this.evalSelecAsign = 0;
            },
            asignar(){
                this.$swal.fire({
                    title: '¿Desea asignar los evaluadores seleccionados?',
                    text: "",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar'
                })
                .then((result) => {
                    console.log(result.value);
                    if(result.value===true){
                        if(this.asignEvaluators.length !== 0){
                            let tempEvalList = [];
                            for(let element of this.asignEvaluators){
                                tempEvalList.push(element);
                            }
                            for(let element in this.ogAsignEval){
                                for(let position in tempEvalList){
                                    if(this.ogAsignEval[element].user_id === tempEvalList[position].user_id){
                                        tempEvalList.splice(position,1);
                                    }
                                }
                            }
                            let finalList = [];
                            for(this.tempAsignEval of tempEvalList){
                                finalList.push({user_id: this.tempAsignEval.user_id});
                            }
                            const formData = new FormData();
                            formData.append("submission_id", this.paper_id);
                            console.log(JSON.parse(localStorage.getItem("user")).username);
                            formData.append("username", JSON.parse(localStorage.getItem("user")).username);
                            for(let tempUser of finalList){
                                formData.append("evaluators", JSON.stringify(tempUser));
                            }
                            this.axios.post('/assign_documents_by_submission', formData)
                            .then(response => {
                                console.log(response)
                            })
                            .catch(error => {
                                console.log(error.response)
                            })
                        }
                    this.$swal("Sus evaluadores han sido registrados con éxito.", "", "success");
                    this.$router.go(-1);
                    }
                }) 
            },
            cancelar(){
                this.$router.go(-1);
            }
        },
        computed: {
            rows() { 
                return this.evaluators.length;
            },
            rowsAssigned() {
                return this.asignEvaluators.length;
            }
        }
    }
</script>

<style lang="scss" scoped>
    #labelKeyword{
        font-weight: bold;
        border-style: hidden hidden solid hidden;
        border-width: 1px; 
        border-color: rgb(26, 30, 49);
        padding: 3.5px;
        margin-left: 12px;
    }
    #keyword{
        border-style: hidden hidden solid hidden;
        border-width: 1px; 
        border-color: rgb(50, 132, 238);
        padding: 3.5px;
    }
    #descripcionBuscar{
        margin-left: 5px;
        margin-right: 40px;
    }
    #rubrica{
        margin-top: 5px;
    }
    .counterLabel{
        color: rgba(255,255,255,1);
        background-color: rgb(50, 132, 238);
        line-height: 35px;
        padding: 2px;
        padding-right: 8px;
        padding-left: 8px;
        margin-left: 130px;
    }
    .centeredLabel{
        line-height: 35px;
    }
    .transparentBackground{
        background-color: rgba(255, 255, 255, 0.719);
        padding: 10px;
    }
    .evalTable{
        background-color: white;
        padding: 7px;
        border: solid;
        border-width: 3px;
        border-color: rgb(50, 132, 238);
    }
    .titulo{
        text-decoration: underline;
    }
</style>