<template>
    <div>
    <b-container>
      <b-row >
        <b-col >
            <font size="6"><strong>Datos generales del evento</strong></font>
        </b-col>
      </b-row>
      <b-card border-variant="primary" >
            <b-row>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Nombre del evento: </strong></font></b-col>
                <b-col><label>{{event.name}}</label></b-col>
            </b-row>
            <b-row>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Descripción del evento: </strong></font></b-col>
                <b-col><label>{{event.description}}</label></b-col>
            </b-row>
            <b-row>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Fechas establecidas: </strong></font></b-col>
                <b-col><label>{{(new Date(event.dateFirst)).toLocaleDateString()}} - {{(new Date(event.dateLast)).toLocaleDateString()}}</label></b-col>
            </b-row>
            <b-row>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Fin de Call for Papers: </strong></font></b-col>
                <b-col><label>{{(new Date(event.dayCfP)).toLocaleDateString()}}</label></b-col>
            </b-row>
            <b-row>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Ubicación: </strong></font></b-col>
                <b-col><label>{{event.location}}</label></b-col>
            </b-row>
            <b-row>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Tipo de evento: </strong></font></b-col>
                <b-col><label>{{event.type}}</label></b-col>
            </b-row>
            <b-row>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Vacantes: </strong></font></b-col>
                <b-col><label>{{event.vacancies}}</label></b-col>
                <b-col cols="3"><font face="Calibri Light" size="4"><strong>Costo unitario: </strong></font></b-col>
                <b-col><label>S/.{{event.amount}}.00</label></b-col>
            </b-row>
            <hr>
            <b-row cols="3">
                <table class="table">
                    <thead class="bg-info">
                    <tr>
                        <th scope="col">Categorías del evento</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="keyword in event.keywords" :key="keyword.id">
                        <td class=table-info>{{ keyword.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </b-row>
            <hr>
            <b-row cols="4">
                <table class="table">
                    <thead class="bg-info">
                    <tr>
                        <th scope="col">Correo</th>
                        <th scope="col">Rol</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="member in event.members" :key="member.id">
                        <td class=table-info>{{ member.email }}</td>
                        <td class=table-info>{{ member.rol }}</td>
                    </tr>
                    </tbody>
                </table>
            </b-row>
            <hr>
          <!--Modal de Carga -->
          <b-modal id="loading-modal"
                   v-model="loading"
                   centered="true"
                   hide-header-close
                   hide-footer
                   no-close-on-esc
                   no-close-on-backdrop
                   size="sm"
                   title="Su evento se está creando">

              <b-container >
                    <b-row align-h="center">
                        <b-col align-v="center" cols="6">

                            <PacmanLoader
                                    :size="35"
                                    sizeUnit="px"
                                    color="#003c7d"
                            />
                        </b-col>
                    </b-row>
                </b-container>
              <br> <br>
          </b-modal>



          <b-row cols="4">
                <table class="table">
                    <thead class="bg-info">
                    <tr>
                        <th scope="col" >Fases agregadas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(phase, index) in event.phases" :key="phase.id">
                        <td class=table-info>  
                        <tr><strong>N° {{ index + 1 }}</strong></tr>
                        <tr><strong>Nombre:</strong> {{phase.name}} </tr>
                        <tr><strong>Descripción:</strong> {{phase.description.length>200?"(descripción extensa)":phase.description}} </tr>
                        <tr><strong>Fechas:</strong> {{(new Date(phase.start_date)).toLocaleDateString()}} - {{(new Date(phase.end_date)).toLocaleDateString()}} </tr>
                        <tr><strong>Subida de documentos: </strong> {{phase.needs_document? "Sí":"No"}}</tr>
                        <tr><strong>N° de campos:</strong> {{phase.fields.length}}</tr>
                        <tr><strong>N° de criterios:</strong> {{phase.criteriums.length}}</tr>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-row>
            <hr>
            <b-row align-h="around">
                <b-button @click="returnCreateEvent" variant="primary">Retroceder</b-button>
                <b-button @click="swalConfirm" variant="primary" >Confirmar</b-button>
            </b-row>

                <b-modal id="modal-confirm" ref="modal-confirm" hide-footer title="Rendezvous">
                    <div class="d-block text-center">
                      <p class="my-4"><strong>¿Esta seguro de haber confirmado los datos?</strong></p>
                    </div>
                    <b-row>
                    <b-col><b-button class="mt-2" variant="outline-danger" block @click="hideModal">No</b-button></b-col>
                    <b-col><b-button class="mt-2" variant="outline-success" block @click="registrarEvento">Sí</b-button></b-col>
                    </b-row>
                </b-modal>
      </b-card>
        </b-container>
    </div>
</template>


<script>    
import { startOfDay} from 'date-fns';
import {mapState, mapActions, mapGetters} from "vuex";
import { PacmanLoader} from '@saeris/vue-spinners'

export default { 
    name:'confirmEvent',
    data() {
        return {
            user: JSON.parse(localStorage.getItem('user')),
            username: '',
            event: null,
            membersOk:'',
            loading: false
        }
    },
    components:{
        PacmanLoader
    },
    computed:{
        ...mapState('event_creation', ['global_event']),
        ...mapState('account', ['status', 'user','isAdmin','is_organizer'])
    },
    created(){
        this.username = this.user.username;
        this.event = this.get_event();
        console.log(this.event.dayCfP);
        console.log("asi viene si lo saco de vuex->");
        console.log(this.event)
    },
    methods: {
        ...mapActions('event_creation', ['clean_event_data', 'set_event_data']), 
        ...mapGetters('event_creation', ['get_event']),        
        ...mapActions('account', ['update_permission']),
        ...mapGetters('account', ['check_organizer']),         

        swalConfirm(){
            this.$swal.fire({
            title: '¿Desea crear este evento?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    this.loading = true;
                        const formData = new FormData();
                    formData.append('username',this.username)
                    formData.append('name', this.event.name)
                    formData.append('description', this.event.description)
                    formData.append('vacancies', this.event.vacancies)
                    formData.append('amount', this.event.amount)
                    formData.append('location', this.event.location)
                    formData.append('type', this.event.type)
                    formData.append('start_date', startOfDay(new Date(this.event.dateFirst)).toISOString())
                    formData.append('dayCfP', startOfDay(new Date(this.event.dayCfP)).toISOString())
                    formData.append('end_date', startOfDay(new Date(this.event.dateLast)).toISOString())
                    formData.append('keywords', JSON.stringify(this.event.keywords))
                    formData.append('members', JSON.stringify(this.event.members))
                    this.event.phases.forEach(phase => {
                        phase.start_date = (new Date(phase.start_date)).toISOString()
                        if(!phase.iscamrdy){
                             phase.limit_date = (new Date(phase.limit_date)).toISOString()
                        }
                        phase.end_date   = (new Date(phase.end_date)).toISOString()
                    });
                    formData.append('phases', JSON.stringify(this.event.phases));
                    if (this.event.fileProgramme != null)
                        formData.append('programme', this.event.fileProgramme, this.event.fileProgramme.name)
                    if (this.event.fileImage != null)
                        formData.append('picture', this.event.fileImage, this.event.fileImage.name)

                    console.log(JSON.stringify(this.event));

                    this.axios.post('/create_event', formData)
                    .then(response => {
                        console.log(response);
                        //  SE ENVIAN LAS INVITACIONES A TODOS LOS MIEMBROS
                        const formDataMembers = new FormData();
                        var base_page=this.axios.defaults.baseURL
                        formDataMembers.append('link',base_page)
                        formDataMembers.append('guests', JSON.stringify(this.event.members))

                        this.axios.post('/send_invitations', formDataMembers)
                        .then(response => {
                            this.membersOk = response.data.status;
                            // se actualiza el loading
                            this.loading = false;
                            // esto demora un poco por las promesa
                            this.clean_event_data();
                            this.$swal.fire(
                                    'Guardado con éxito',
                                    'El evento fue creado exitosamente',
                                    'success'
                                );
                            //volver a mis eventos (por ahora ahi)
                            this.$router.push({ path: '/MyEvents'})
                        })
                        .catch(error => {
                            console.log(error.response)
                        });
                    })
                    .catch(error => {
                        console.log(error.response)
                    });
                }
            })
        },
        returnCreateEvent(){
            this.$router.push({ name: 'createEvent'}) 
        },
        hideModal(){
            this.$refs['modal-confirm'].hide()
        },
        show_pacman(){
            this.loading = true;
        },
        registrarEvento(){
            this.hideModal();
            this.loading = true;
            // se crea la data para ser enviada
            const formData = new FormData();
            formData.append('username',this.username)
            formData.append('name', this.event.name) 
            formData.append('description', this.event.description) 
            formData.append('vacancies', this.event.vacancies) 
            formData.append('amount', this.event.amount) 
            formData.append('location', this.event.location) 
            formData.append('type', this.event.type)
            formData.append('start_date', startOfDay(new Date(this.event.dateFirst)).toISOString())
            formData.append('dayCfP', startOfDay(new Date(this.event.dayCfP)).toISOString())
            formData.append('end_date', startOfDay(new Date(this.event.dateLast)).toISOString())
            formData.append('keywords', JSON.stringify(this.event.keywords));
            formData.append('members', JSON.stringify(this.event.members));
            this.event.phases.forEach(phase => {
                phase.start_date = (new Date(phase.start_date)).toISOString();
                phase.limit_date = (new Date(phase.limit_date)).toISOString();
                phase.end_date   = (new Date(phase.end_date)).toISOString()
            }); 
            formData.append('phases', JSON.stringify(this.event.phases));
            if (this.event.fileProgramme != null)
                formData.append('programme', this.event.fileProgramme, this.event.fileProgramme.name)
            if (this.event.fileImage != null)
                formData.append('picture', this.event.fileImage, this.event.fileImage.name)
            
            console.log(JSON.stringify(this.event));
            
            this.axios.post('/create_event', formData)
            .then(response => { 
                console.log(response);
                //  SE ENVIAN LAS INVITACIONES A TODOS LOS MIEMBROS
                const formDataMembers = new FormData();
                
                formDataMembers.append('guests', JSON.stringify(this.event.members))
                this.axios.post('/send_invitations', formDataMembers)
                .then(response => {
                    this.membersOk = response.data.status;
                    // se actualiza el loading
                    this.loading = false;
                    // esto demora un poco por las promesa
                    this.clean_event_data();
                    //volver a mis eventos (por ahora ahi)
                    this.$router.push({ path: '/MyEvents'})
                })
                .catch(error => {
                    console.log(error.response)
                });
            })
            .catch(error => {
                console.log(error.response)
            });
      }, 
    }
}
</script>

<style scoped>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:30px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 15px 30px;
    }
    .box legend {
        font-size:26px;
        text-align:center;
        font-weight:300;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 2px;
    }


</style>