<template>
    <div id="app">
      <b-container>
      <br>
      <b-row>
        <b-col offset-md = "1">
          <div class="titulo">
            <strong>Creación de eventos</strong>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="box well" md="10" offset-md="3">
        <form-wizard @on-complete="toConfirm" 
                      color="#0B62B9"
                      title=""
                      subtitle=""
                      back-button-text="Retroceder"
                      finish-button-text="Finalizar"
                      next-button-text="Siguiente">

          <tab-content title="Datos generales del evento" :before-change="validacionStep1"  >
            <b-container class="bcont">
                        <div class="text-left">
                        <font face="Calibri Light" size="4"><strong>Datos generales del evento</strong></font>
                        </div>
                        <b-card border-variant="primary" > 
                          <b-row>
                            <b-col md="6">
                              <b-form @submit.stop.prevent="onSubmit3" @reset="onReset" v-if="show">
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label >Nombre(*): </label> <!-- NOMBRE -->
                                    </b-col>
                                    <b-col cols="9">
                                      <b-form-group>
                                        <b-form-input
                                          size="sm" 
                                          placeholder="Ingrese un nombre"
                                          v-model="$v.event.name.$model"
                                          :state="$v.event.name.$dirty ? !$v.event.name.$error : null"
                                          type="text"
                                          aria-describedby="input-10-live-feedback"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="input-10-live-feedback">
                                          (2-120 caracteres)
                                        </b-form-invalid-feedback>
                                      </b-form-group> 
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Descripción(*): </label> <!-- DESCRIPCION -->
                                    </b-col>
                                    <b-col cols= "9">
                                      <b-form-textarea
                                        v-model="$v.event.description.$model"
                                        placeholder="Ingrese una descripción"
                                        rows="8"
                                        max-rows="8"
                                        size = "sm"
                                        :state="$v.event.description.$dirty ? !$v.event.description.$error : null"
                                        type="text"
                                        aria-describedby="input-11-live-feedback"
                                      ></b-form-textarea>
                                      <b-form-invalid-feedback id="input-11-live-feedback">
                                        (5-2500 caracteres)
                                      </b-form-invalid-feedback>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Ubicación(*): </label> <!-- UBICACION -->
                                    </b-col>
                                    <b-col cols="9">
                                      <b-form-input
                                        v-model="$v.event.location.$model"
                                        placeholder="Ingrese una ubicación"
                                        size = "sm"
                                        :state="$v.event.location.$dirty ? !$v.event.location.$error : null"
                                        type="text"
                                        aria-describedby="input-12-live-feedback"
                                      ></b-form-input>
                                      <b-form-invalid-feedback id="input-12-live-feedback">
                                        (5-250 caracteres)
                                      </b-form-invalid-feedback>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                  
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Tipo(*): </label> <!-- TIPO -->
                                    </b-col>
                                    <b-col cols="6">
                                      <b-form-select
                                        v-model="$v.event.type.$model"
                                        required
                                        size = "sm"
                                        :state="$v.event.type.$dirty ? !$v.event.type.$error : null"
                                        aria-describedby="input-13-live-feedback">
                                      <template v-slot:first>
                                        <option :value=null>Seleccionar</option>
                                      </template>
                                        <option v-for="option in eventTypes" :key="option.id">{{option.name}}</option>
                                      </b-form-select>
                                      <b-form-invalid-feedback id="input-13-live-feedback">
                                        Eliga un tipo de evento.
                                      </b-form-invalid-feedback>
                                    </b-col>

                                  </b-row>
                                </b-form-group>
                                <b-card>
                                  <b-form-group>
                                  <b-row>
                                    <b-col cols="9">Subir programa:</b-col> <!-- PROGRAMA -->
                                    <b-col cols="3"><b-button @click="event.fileProgramme = null" size="sm" variant="danger">Borrar</b-button></b-col>
                                  </b-row>
                                  </b-form-group>
                                  <b-row>
                                    <b-col>
                                      <b-form-file 
                                      placeholder="Seleccionar archivo" 
                                      v-model="event.fileProgramme" 
                                      ref="file-input" 
                                      class="mb-2"  
                                      size = "sm"></b-form-file>
                                    </b-col>
                                  </b-row>
                                </b-card>
                                <b-card>
                                  <b-form-group>
                                  <b-row>
                                    <b-col cols="9">Subir imagen:</b-col> <!-- IMAGEN -->
                                    <b-col cols="3"><b-button @click="event.fileImage = null" size="sm" variant="danger">Borrar</b-button></b-col>
                                  </b-row>
                                  </b-form-group>
                                  <b-row>
                                      <b-col>
                                        <b-form-file 
                                        placeholder="Seleccionar archivo" 
                                        v-model="event.fileImage" 
                                        ref="file-input" 
                                        class="mb-2" 
                                        size = "sm"></b-form-file>
                                      </b-col>
                                  </b-row>
                                </b-card>
                              </b-form>
                            </b-col>
                            <b-col md="6">
                              <b-form>
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Vacantes(*): </label> <!-- VACANTES -->
                                    </b-col>
                                    <b-col cols="4">
                                      <b-form-input
                                      v-model="$v.event.vacancies.$model"
                                      type="number"
                                      placeholder="0"
                                      size="sm"
                                      :state="$v.event.vacancies.$dirty ? !$v.event.vacancies.$error : null"
                                      aria-describedby="input-14-live-feedback"
                                      ></b-form-input>
                                      <b-form-invalid-feedback id="input-14-live-feedback">
                                        (1-10000)
                                      </b-form-invalid-feedback>
                                    </b-col>
                                  </b-row>
                                </b-form-group>

                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Precio: </label> <!-- PRECIO -->
                                    </b-col>
                                        <b-col cols="5">
                                      <b-input-group size="sm" prepend="S/." append=".00">
                                          <b-form-input
                                          v-model="$v.event.amount.$model"
                                          type="number"
                                          placeholder="0"
                                          size="sm"
                                          :state="$v.event.amount.$dirty ? !$v.event.amount.$error : null"
                                          aria-describedby="input-15-live-feedback"
                                          ></b-form-input>
                                      </b-input-group>
                                          <b-form-invalid-feedback id="input-15-live-feedback">
                                            (1-10000).
                                          </b-form-invalid-feedback>
                                        </b-col>
                                  </b-row>
                                </b-form-group>

                                <b-form-group>
                                  <b-row>
                                    <b-col cols="5"><label>Fecha inicial(*):</label></b-col> <!-- FECHA INICIAL -->
                                    <b-col cols="7">
                                      <datepicker  
                                      :format="customFormatter"
                                      :language="es"
                                      placeholder="Elegir fecha inicial" 
                                      v-model="event.dateFirst"
                                      > </datepicker>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="5"><label>Fecha final(*):</label></b-col> <!-- FECHA FINAL -->
                                    <b-col cols="7">
                                      <datepicker 
                                      :format="customFormatter"
                                      :language="es"
                                      placeholder="Elegir fecha final" 
                                      v-model="event.dateLast"> </datepicker>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="5">
                                      <label>Periodo de fases(*): </label> <!-- PERIODO -->
                                    </b-col>
                                        <b-col cols="4">
                                      <b-input-group size="sm" append=" días">
                                          <b-form-input
                                          v-model="$v.daysCfP.$model"
                                          type="number"
                                          placeholder="0"
                                          size="sm"
                                          :state="$v.daysCfP.$dirty ? !$v.daysCfP.$error : null"
                                          aria-describedby="input-18-live-feedback"
                                          ></b-form-input>
                                      </b-input-group>
                                          <b-form-invalid-feedback id="input-18-live-feedback">
                                            (1-100).
                                          </b-form-invalid-feedback>
                                        </b-col>
                                        <b-col cols="1">
                                          <b-button class="botonAyuda" :pressed="true" size="md" 
                                            v-b-popover.hover.top="'Este número indica la cantidad de días que durará la etapa de Call for Papers (todas las fases).'" title="Ayuda">?
                                          </b-button>
                                        </b-col>
                                  </b-row>
                                </b-form-group>
                                <hr>
                                <b-form-group>
                                  <b-row >
                                    <b-col cols="8"> <label>Categorías del evento: </label> <!-- KEYWORDS -->
                                      <b-button class="botonAyuda" :pressed="true" size="md" 
                                        v-b-popover.hover.top="'Para agregar una categoría escríbala y haga click en Agregar. Para borrarla, selecciónela en la tabla y haga click en Borrar'" title="Ayuda">?
                                      </b-button>
                                    </b-col> 
                                  </b-row>
                                  <b-row>
                                    <b-col cols="8">
                                      <b-form-input 
                                        placeholder="Ingresar categoría" 
                                        v-model="tempKeyword.name" size = "sm" ></b-form-input>
                                    </b-col>
                                    <b-col cols="3">
                                      <b-button @click="addKeyword(tempKeyword.name); tempKeyword.name='';" size="sm" variant="success">Agregar</b-button>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                <b-table 
                                    ref="keywordsTable"
                                    selectable
                                    select-mode="single"
                                    selected-variant="active"
                                    :items="event.keywords"
                                    :fields="fieldsKeywords"
                                    @row-selected="onRowSelectedKeywords"
                                    responsive="sm"
                                 >
                                </b-table>
                                <b-form-group>
                                  <b-row align-h="center">
                                    <b-button @click="deleteSelectedKeyword()" size="sm" variant="danger">Borrar</b-button>
                                  </b-row>
                                </b-form-group>
                              </b-form>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-container>


          </tab-content>

            <tab-content title="Colaboradores del evento" :before-change="validacionStep2">
              <b-row>
                <b-col>
                  <font face="Calibri Light" size=4>
                    <strong>Ingrese el correo electrónico de los colaboradores de evento</strong>
                  </font>  
                </b-col>  
              </b-row>
              <b-row>
                <b-col>
                  <div class="card border-primary mb-3" >
                    <div class="card-body">
                      <b-row class="my-1">
                        <b-col sm="4">
                          <font class="mr-sm-0" face="Calibri Light" size=4>Correo electrónico:</font> 
                        </b-col>
                        <b-col sm="6">
                          <b-form-group id="input-group-1" >
                            <b-form-input
                              id="input-1"
                              name="input-1"
                              size="sm" 
                              placeholder="Ingrese el correo electrónico"
                              v-model="$v.member.email.$model"
                              :state="($v.member.email.$dirty && !$v.member.email.$required)? !$v.member.email.$error : null"
                              type="email"
                              aria-describedby="input-1-live-feedback">
                            </b-form-input>
                            <b-form-invalid-feedback id="input-1-live-feedback">
                              Ingrese un email válido.
                            </b-form-invalid-feedback>
                          </b-form-group>  
                        </b-col>
                      </b-row>
                      <b-row class="my-4">
                        <b-col sm="4">
                          <font class="mr-sm-0" face="Calibri Light" size=4>Rol del colaborador:</font> 
                        </b-col>
                        <b-col sm="6">
                          <b-form-group id="input-group-2" >
                            <b-form-select
                              id="input-2"
                              name="input-2"
                              v-model="$v.member.selected.$model"
                              size="sm"
                              :state="$v.member.selected.$dirty? !$v.member.selected.$error : null"
                              aria-describedby="input-2-live-feedback">
                              <template v-slot:first>
                                <option :value=null>Seleccionar</option>
                              </template>
                              <option v-for="option in options" :key="option.id">{{option.name}}</option>
                            </b-form-select>
                            <b-form-invalid-feedback id="input-2-live-feedback">
                              Seleccione un rol.
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <div class="text-center">
                        <b-button type="submit" @click="onSubmit" variant="success" >Agregar</b-button>
                        <b-button variant="danger" @click="deleteSelectedMember" >Borrar</b-button>
                      </div>
                  </div>
                </div>  
              </b-col>    
            </b-row>  
            <b-row>  
              <b-col>
                <div class="subtitulo2">
                  <font face="Calibri Light" size=4>
                    <strong>Colaboradores</strong>
                  </font>
                </div>
                <div class="contenido2">
                  <div class="card border-primary mb-3">
                    <!-- Tabla donde se muestran los datos -->
                    <b-table class="table"
                      ref="membersTable"
                      selectable
                      select-mode="single"
                      selected-variant="active"
                      :items="event.members"
                      @row-selected="onRowSelectedMember"
                      responsive="sm"
                    >
                      <thead class="bg-primary">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Correo</th>
                          <th scope="col">Rol</th>
                          <th scope="col">Rol</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="member in event.members" :key="member.id">
                          <td class=table-primary>{{ member.email }}</td>
                          <td class=table-primary>{{ member.rol }}</td>
                          <td class="table-primary">
                            <span>
                              <button @click="borrarColaborador(member.id)" class="btn btn-danger">Borrar</button>
                            </span>                            
                          </td> 
                        </tr>
                      </tbody>
                    </b-table>
                  </div>
                </div>    
              </b-col>  
            </b-row>
          </tab-content>



          <tab-content title="Fases del evento" >
            <b-container>
                        <div class="text-left">
                        <font face="Calibri Light" size="4"><strong>Configuración de fases para la etapa Call for Papers (máx. 4)</strong></font>
                        </div>
                    <b-card border-variant="primary">
                      <b-row >
                        <b-col>
                          <b-form-group>
                            <b-row>
                              <b-col cols="2">
                                <label >Nombre(*): </label> <!-- NOMBRE -->
                              </b-col>
                              <b-col cols="8">
                                <b-form-group>
                                  <b-form-input
                                    size="sm" 
                                    placeholder="Ingrese un nombre"
                                    v-model="$v.phase.name.$model"
                                    type="text"
                                    :state="$v.phase.name.$dirty ? !$v.phase.name.$error : null"
                                    aria-describedby="input-16-live-feedback"
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="input-16-live-feedback">
                                      (1-120 caracteres)
                                    </b-form-invalid-feedback>
                                </b-form-group>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="2"><label class="reduct">Fecha inicial(*):  </label></b-col> <!-- FECHA INICIAL -->
                              <b-col>
                                <datepicker  
                                :language="es"
                                :format="customFormatter"
                                placeholder="Elegir fecha inicial" 
                                v-model="phase.start_date"
                                > </datepicker>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <div v-if="!phase.iscamrdy">
                          <b-form-group>
                            <b-row>
                              <b-col cols="2"><label class="reduct">Fecha límite(*):  </label></b-col> <!-- FECHA LIMITE -->
                              <b-col cols="3">
                                <datepicker  
                                :language="es"
                                :format="customFormatter"
                                placeholder="Elegir fecha límite" 
                                v-model="phase.limit_date"
                                > </datepicker>
                              </b-col>
                              <b-col cols="1">
                              <b-button class="botonAyuda" :pressed="true" size="md" 
                                v-b-popover.hover.top="'La fecha límite indica hasta qué día los postulantes pueden completar lo que solicite la fase.'" title="Ayuda">?
                              </b-button></b-col>
                            </b-row>
                          </b-form-group>
                          </div>
                          <b-form-group>
                            <b-row>
                              <b-col cols="2"><label>Fecha final(*):  </label></b-col> <!-- FECHA FINAL -->
                              <b-col cols="8">
                                <datepicker 
                                :language="es"
                                :format="customFormatter"
                                placeholder="Elegir fecha final" 
                                v-model="phase.end_date"> </datepicker>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="2">
                                <label >Descripción(*): </label> <!-- DESCRIPCIÓN -->
                              </b-col>
                              <b-col cols="8">
                                <b-form-group>
                                  <b-form-textarea
                                    size="sm" 
                                    placeholder="Ingrese una descripción"
                                    rows="8"
                                    max-rows="8"
                                    v-model="$v.phase.description.$model"
                                    type="text"
                                    :state="$v.phase.description.$dirty ? !$v.phase.description.$error : null"
                                    aria-describedby="input-17-live-feedback"
                                    ></b-form-textarea>
                                    <b-form-invalid-feedback id="input-17-live-feedback">
                                      (1-2500 caracteres)
                                    </b-form-invalid-feedback>
                                </b-form-group>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col>
                                Carga de documentos:
                              </b-col>
                              <b-col>
                                <b-form-checkbox v-model="phase.needs_document" name="check-button" switch> <!--BOOL DOCUMENTOS -->
                                  <b>{{phase.needs_document ? 'Sí' : 'No'}}</b>
                                </b-form-checkbox>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col>
                                La fase es Camera Ready:
                              </b-col>
                              <b-col>
                                <b-form-checkbox v-model="phase.iscamrdy" name="check-button" switch> <!--BOOL CAMERA READY -->
                                  <b>{{phase.iscamrdy?'Sí':'No'}}</b>
                                </b-form-checkbox>
                              </b-col>
                            </b-row>
                          </b-form-group>
                      
                        <b-form-group>
                          <b-row>
                            <b-col> <label>Campos de la fase: </label> <!-- FIELDS -->
                            <b-button class="botonAyuda" :pressed="true" size="md" 
                              v-b-popover.hover.top="'Para agregar un campo escríbalo y haga click en Agregar. Para borrarlo, selecciónelo en la tabla y haga click en Borrar'" title="Ayuda">?
                            </b-button> </b-col>
                          </b-row>
                          <b-row>
                            <b-col cols="8">
                              <b-form-input v-model="field.name" size = "sm" placeholder="Ingresar campo" ></b-form-input>
                            </b-col>
                            <b-col cols="3">
                              <b-button @click="addField(field.name); field.name='';" size="sm" variant="success">Agregar</b-button>
                            </b-col>
                          </b-row>
                        </b-form-group>
                        <b-table class="table"
                            ref="fieldsTable"
                            selectable
                            select-mode="single"
                            selected-variant="active"
                            :items="phase.fields"
                            :fields="fieldsFields"
                            @row-selected="onRowSelectedField"
                            responsive="sm"
                        >
                        </b-table>
                        
                        <b-form-group>
                          <b-row align-h="center">
                            <b-button @click="deleteSelectedField()" size="sm" variant="danger">Borrar</b-button>
                          </b-row>
                        </b-form-group>

                        <hr>

                        <b-form-group>
                          <b-row>
                            <b-col> <label>Criterios de la fase: </label>  <!-- CRITERIUMS -->
                            <b-button class="botonAyuda" :pressed="true" size="md" 
                              v-b-popover.hover.top="'Para agregar un criterio escríbalo y haga click en Agregar. Para borrarlo, selecciónelo en la tabla y haga click en Borrar'" title="Ayuda">?
                            </b-button></b-col>
                          </b-row>
                          <b-row>
                            <b-col cols="8">
                              <b-form-input v-model="criterium.name" size = "sm" placeholder="Ingresar criterio" ></b-form-input>
                            </b-col>
                            <b-col cols="3">
                              <b-button @click="addCriterium(criterium.name); criterium.name='';" size="sm" variant="success">Agregar</b-button>
                            </b-col>
                        </b-row>
                      </b-form-group>
                      
                      <b-table class="table"
                            ref="criteriumsTable"
                            selectable
                            select-mode="single"
                            selected-variant="active"
                            :items="phase.criteriums"
                            :fields="fieldsCriteriums"
                            @row-selected="onRowSelectedCriterium"
                            responsive="sm"
                        >
                      </b-table>

                      <b-form-group>
                        <b-row align-h="center">
                          <b-button @click="deleteSelectedCriterium()" size="sm" variant="danger">Borrar</b-button>
                        </b-row>
                      </b-form-group>
                      <hr>
                        <b-row align-h="center">
                          <b-button @click="addPhase(phase)" size="sm" variant="success">Agregar Fase</b-button>
                          <b-button @click="deletePhase" size="sm" variant="danger">Borrar Última Fase Creada</b-button>
                        </b-row>
                        </b-col>
                      </b-row>
                      <hr>  
                      <label><strong>Fases agregadas:</strong> </label>
                      <b-button class="botonAyuda" :pressed="true" size="md" 
                        v-b-popover.hover.top="'Para ver los detalles de una fase haga click sobre ella en la tabla. Atención: Nombres con más de 60 caracteres no serán desplegados en la tabla pero sí son permitidos (hasta 120 caracteres).'" title="Ayuda">?
                      </b-button>
                      <b-row>
                        <b-table class="table"
                          ref="phasesTable"
                          selectable
                          @row-selected="onRowSelectedPhase"
                          select-mode="single"
                          selected-variant="active"
                          :items="event.phases"
                          :fields="fieldsPhases"
                          responsive="sm"
                        >
                        <template v-slot:cell(name)="data">
                          {{ data.value.length>62? "(nombre extenso)":data.value }}
                        </template>
                        <template v-slot:cell(start_date)="data">
                          {{ data.value.toLocaleDateString() }}
                        </template>
                        <template v-slot:cell(end_date)="data">
                          {{ data.value.toLocaleDateString() }}
                        </template>
                        </b-table>
                      </b-row>
                  </b-card>
            </b-container>
          </tab-content>
        </form-wizard>
      </b-col>
    </b-row>
  </b-container>
</div>
    
</template>

<script>
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import Datepicker from 'vuejs-datepicker'
import {es} from 'vuejs-datepicker/dist/locale' 
import moment from 'moment'
import { required, minLength, email, maxLength, minValue, maxValue, numeric} from 'vuelidate/lib/validators'
import { startOfDay } from 'date-fns'
import ConfirmEvent from './ConfirmEvent'
import {mapState, mapActions, mapGetters} from "vuex";
import { stringify } from 'querystring'

export default {
    
     data () {
      return{
        answer:'true',
        user: JSON.parse(localStorage.getItem('user')),
        username:'',
        users:[],
        email:'',
        daysCfP: '',
        id:1,
        memberSelected: [],
        //Permission:'', //recibido por router
        event: {
          name: '',
          description: '',
          vacancies: '',
          location: '',
          type: null,
          amount: '',
          keywords: [],
          members: [],
          phases: [],
          dateFirst: '',
          dateLast: '',
          dayCfP:'',
          fileProgramme: null,
          fileImage: null
        },
        tempKeyword:{
          name:''
        },
        keywordSelected: '',
        fieldsKeywords: [{key:'name', label:'Categorías', sortable: true}],

        eventTypes: [], //tipos de evento
        member:{
          email: '',   
          selected:null
        },
        phasesCounter:0, //contador de fases para limitarlo a 4
        phase:{
          name: '',
          description: '',
          start_date: '',
          limit_date: '',
          end_date: '',
          status: '0',
          needs_document: false,
          fields: [],
          criteriums: [],
          iscamrdy: false //a ver serranos, este atributo sirve para saber si la fase es camera ready
        },
        criterium:{
          name: ''
        },
        selectedField: [],
        selectedCriterium: [],
        fieldsPhases: [{key:'name', label:'Nombre'},{key:'start_date', label:'Inicio'},{key:'end_date', label:'Fin'}],
        fieldsFields:[{key:'name', label:'Campos agregados'}],
        fieldsCriteriums:[{key:'name', label:'Criterios agregados'}],
        field:{
          name: ''
        },
        members:[],
        options: [], // roles
        show: true, 
        es: es, //lenguaje para el datepicker

        hoy: null, //día actual 
        phaseLastDate: '' //sirve para validar que las fases no se crucen entre ellas
      } 
    },

    validations: {

      member:{
        email:{required, email, maxLength: maxLength(35)},
        selected:{required}
      },
      event:{
        name:{required, minLength: minLength(2), maxLength: maxLength(120)},
        description:{required, minLength: minLength(5), maxLength: maxLength(2500)},
        location:{required, minLength: minLength(5), maxLength: maxLength(250)},
        type:{required},
        amount:{required, numeric, minValue: minValue(0), maxValue: maxValue(100000)},
        vacancies:{required, numeric, minValue: minValue(1), maxValue: maxValue(10000)},
        dateFirst: {required},
        dateLast: {required},
      },
      daysCfP:{required, numeric, minValue: minValue(1), maxValue: maxValue(100)},
      phase:{
        name:{required, minLength: minLength(1), maxLength: maxLength(120)},
        description:{required, minLength: minLength(1), maxLength: maxLength(2500)}
      }
  },
  computed:{
    ...mapState('event_creation', ['global_event'] ),
    ...mapState('time', ['now'])
  },    

  methods: {
      ...mapActions('event_creation', ['clean_event_data', 'set_event_data']), 
      ...mapGetters('event_creation', ['get_event']),  
      ...mapGetters('time', ['today']),           
      onRowSelectedKeywords(items){
        this.keywordSelected = items;
      },
      deleteSelectedKeyword(){
          if(this.keywordSelected.length != 0){
            let indice = this.event.keywords.indexOf(this.keywordSelected[0]);
            this.event.keywords.splice(indice,1);
          }
      },
      onRowSelectedMember(items){
        this.memberSelected = items;
      },

      deleteSelectedMember(){
          if(this.memberSelected.length != 0){
            let indice = this.event.members.indexOf(this.memberSelected[0]);
            this.event.members.splice(indice,1);
          }
      },

      onRowSelectedField(items){
        this.selectedField = items;
      },
      onRowSelectedCriterium(items){
        this.selectedCriterium = items;
      },
      onRowSelectedPhase(items){
        if(items.length == 0){//cuando se deselecciona también se activa esta función
          this.resetPhase(); return;
        }; 
        this.selectedPhase = items;
        this.phase.name = this.selectedPhase[0].name;
        this.phase.description = this.selectedPhase[0].description;
        this.phase.start_date = this.selectedPhase[0].start_date;
        this.phase.iscamrdy = this.selectedPhase[0].iscamrdy;
        if(!this.phase.iscamrdy){
          this.phase.limit_date = this.selectedPhase[0].limit_date;
        }
        this.phase.end_date = this.selectedPhase[0].end_date;
        this.phase.needs_document = this.selectedPhase[0].needs_document;
        this.phase.fields = [];
        this.phase.criteriums = [];
        for(var index in this.selectedPhase[0].fields){
          this.phase.fields.push(this.selectedPhase[0].fields[index]);
        }
        for(var index in this.selectedPhase[0].criteriums){
          this.phase.criteriums.push(this.selectedPhase[0].criteriums[index]);
        }
      },
      deletePhase(){
        var length = this.event.phases.length;
        if(length != 0){
          this.event.phases.pop();
          this.resetPhase();
          this.phasesCounter--;
          if(length == 1)
            this.phaseLastDate = '';
          else{
            var lastDay = startOfDay(this.event.phases[length-2].end_date); 
            this.phaseLastDate = lastDay;
          }
        }else{
          this.$swal("No hay fases");
        }
      },
      deleteSelectedField(){
        if(this.selectedField.length != 0){
        let indice = this.phase.fields.indexOf(this.selectedField[0]);
        this.phase.fields.splice(indice,1);
        }
      },
      deleteSelectedCriterium(){
        if(this.selectedCriterium.length != 0){
        let indice = this.phase.criteriums.indexOf(this.selectedCriterium[0]);
        this.phase.criteriums.splice(indice,1);
        }
      },

      toConfirm(){
        if(this.event.phases.length==0){
          this.$swal("No ha agregado fases");
          return;
        }
        console.log(this.event);
        console.log("LAÑSDJFLASKDJFASD");
        console.log(this.event.dayCfP);

        //
        this.set_event_data(this.event);

        //this.$router.replace({name: 'confirmEvent', params: { Permission: this.Permission }}).catch(err=>{console.log(err)})
        this.$router.replace({name: 'confirmEvent'})
      },

      customFormatter(date){
        return moment(date).format('D / MM / YYYY')
      },

      borrarColaborador(id){
        //alert(id)
        let index = -1;
        for(let i = 0;  i<this.members.length ; i++) {
          if (this.members[i].id === id) {
            //alert(index);
            index = i;
            break;
          }
        }
        this.members.splice(index, 1);
        this.event.members.splice(index, 1);
      },
      /*showModal() {
        this.$refs['my-modal'].show()
      },
      hideModal() {
        this.$refs['my-modal'].hide()
      },
      toggleModal() {
        this.$refs['my-modal'].toggle('#toggle-btn')
      },*/

      onSubmit() {
          this.$v.member.$touch()
          if (this.$v.member.$anyError || this.member.selected == null) {
            return
          }else{
            //Validaciones
            if(this.member.selected=='Asistente'){
              this.$swal("No puede asignar asistentes en este paso");
                 return
            }

            // No se van a asignar postulantes en este paso. Esta restriccion se debe descomentar en cuanto tengamos front para asignar postulantes.
            if(this.member.selected=='Postulante'){
              this.$swal("No puede asignar postulantes en este paso");
                return
             }

            for (let member of this.event.members){
              if(this.member.email == member.email && this.member.selected == member.rol){
                 this.$swal("El rol asignado a ese usuario se repite");
                 return
              }

              if(this.member.email == member.email && member.rol == 'Presidente del comité académico' && this.member.selected =='Miembro del comité académico'){
                this.$swal("El Presidente del comité académico no puede ser Miembro del comité académico");
                return
              }

              if(this.member.email == member.email && member.rol == 'Miembro del comité académico' && this.member.selected =='Presidente del comité académico'){
                this.$swal("El Miembro del comité académico no puede ser Presidente del comité académico");
                return
              }

              if(this.member.email == member.email && member.rol == 'Presidente del comité organizador' && this.member.selected =='Miembro del comité organizador'){
                this.$swal("El Presidente del comité organizador no puede ser Miembro del comité organizador");
                return
              }

              if(this.member.email == member.email && member.rol == 'Miembro del comité organizador' && this.member.selected =='Presidente del comité organizador'){
                this.$swal("El Miembro del comité organizador no puede ser Presidente del comité organizador");
                return
              }

              if(member.rol == 'Presidente del comité organizador' && this.member.selected =='Presidente del comité organizador'){
                this.$swal("Ya existe un Presidente del comité organizador");
                return
              }

              if(member.rol == 'Presidente del comité académico' && this.member.selected =='Presidente del comité académico'){
                this.$swal("Ya existe un Presidente del comité académico");
                return
              }

              
            }
            if(this.answer=="false"){
              this.$swal("El usuario no esta registrado");
                  return
            }

            this.members.push({
              id:this.id++,
              email: this.member.email,
              rol: this.member.selected
            });
            
            this.event.members.push({
              email: this.member.email,
              rol: this.member.selected
            });
            
            this.member.email= '';
            this.$v.$reset();
    
          }
        },
      cancelar(){
        this.member.email='';
        this.member.selected=null;
        this.members=[];
        this.event.members = [];
        this.id=0
        this.$v.$reset();
        this.$v.$error=false;    
      },

      dateConverter(strDay){ //para validar fechas
        var slashPos1 = strDay.indexOf("/");
        var slashPos2 = strDay.lastIndexOf("/");
        var cmpDay = strDay.slice(slashPos2+1);
        cmpDay = cmpDay.concat(strDay.slice(slashPos1+1,slashPos2),strDay.slice(0,slashPos1));
        var intDay = parseInt(cmpDay);
        return intDay;
      },
      dateRangeValidation(day1,day2){//para validar fechas
        var cpyDay1 = new Date(day1);
        var cpyDay2 = new Date(day2);
        cpyDay1.setDate(cpyDay1.getDate() + 1);
        cpyDay2.setDate(cpyDay2.getDate() + 1);
  
        if(cpyDay1 < this.hoy){
          this.$swal("Fecha inicial inválida","¡La fecha seleccionada es anterior a hoy!");
          return false;
        }
        if(cpyDay2 < this.hoy){
          this.$swal("Fecha final inválida","¡La fecha seleccionada es anterior a hoy!");
          return false;
        }
        if(cpyDay1 > cpyDay2){
          this.$swal("Rango de fechas inválido", "¡Fecha final anterior a la fecha inicial!");
          return false;
        }
        return true;
      },

      validacionStep1(){
        if(this.event.name=='' || this.$v.event.name.$anyError){
          this.$swal({
            title: 'Ingrese el nombre correctamente',
            width: 600,
            padding: '3em',
            background: '#fff',
            backdrop: `
              rgba(0,0,123,0.4)
              url("http://giphygifs.s3.amazonaws.com/media/10j1sRnpiklXB6/200.gif")
              top left
              no-repeat
            `,
            onOpen: function() {
              var audioPlay = new Audio('http://limonte.github.io/mp3/zippi.mp3')
              audioPlay.play();
  }
          })
          return false;
        }
        if(this.event.description=='' || this.$v.event.description.$anyError){
          this.$swal("Ingrese la descripción correctamente");
          return false;
        }
        if(this.event.location=='' || this.$v.event.location.$anyError){
          this.$swal("Ingrese la ubicación correctamente");
          return false;
        }
        if(this.$v.event.type.$anyError || this.event.type == null){
          this.$swal("No ha seleccionado el tipo de evento");
          return false;
        }
        if(this.event.vacancies=='' || this.$v.event.vacancies.$anyError){
          this.$swal("Ingrese el n° de vacantes correctamente");
          return false;
        }
        if(this.daysCfP=='' || this.$v.daysCfP.$anyError){
          this.$swal("Ingrese el periodo que duran las fases.");
          return false;
        }
        //Validación de fechas
        if(this.event.dateFirst == ""){
          this.$swal("Ingrese una fecha inicial");
          return false;
        }
        if(this.event.dateLast == ""){
          this.$swal("Ingrese una fecha final");
          return false;
        }
        if(!this.dateRangeValidation(this.event.dateFirst, this.event.dateLast)){
          return false;
        }
        var eolDate = new Date(this.hoy.getFullYear(), this.hoy.getMonth(), parseInt(this.hoy.getDate()) + parseInt(this.daysCfP)+1);
        if(this.event.dateFirst < eolDate){
          this.$swal("Recuerde: Existe un periodo de "+ this.daysCfP +" días mínimos desde hoy hasta el inicio de su evento.", "¡No olvide que primero sucede la etapa Call for Papers!","error");
          return false;
        }
        var miliseconds = 1000*3600*24; //milisegundos en 1 hora
        var eventDuration = (this.event.dateLast.getTime() - this.event.dateFirst.getTime())/miliseconds; // esto utiliza timestamps xd asi que hace cálculos muy grandes
        if(eventDuration > 20){
          this.$swal("Un evento no puede durar más de 20 días.","Disculpe, por razones internas un evento no podrá durar más de 20 días.", "error");
          return false;
        }
        /***************/

        if(this.$v.event.amount.$anyError){
          this.$swal("Ingrese el precio correctamente");
          return false;
        }
        if(this.event.amount == ''){ //si no ingresó monto este será 0
          this.event.amount = '0';
        }
        this.event.dayCfP = new Date(this.hoy.getFullYear(), this.hoy.getMonth(),parseInt(this.hoy.getDate()) + parseInt(this.daysCfP) ) //última fecha de Call for Papers
        console.log(this.event.dayCfP);
        return true;
      },
      validacionStep2(){
        if(this.event.members.length!=0){
          this.member.email="";
          this.user='';
          this.$v.$reset(); 
          return true;
       
        }else {
          this.$swal("No ha ingresado ningún colaborador");
          return false;
      }
      },
      guardar(){
        alert(JSON.stringify(this.event));
      },
      onSubmit3() {
        this.$v.$touch()
        if (this.$v.event.$anyError) {
          return
        }else{
          alert(JSON.stringify(this.event));
        }  
      },
      onReset(evt) {
        evt.preventDefault()
        this.event.name = ''
        this.event.description = ''
        this.event.location = ''
        this.event.type = ''
        this.event.vacancies = ''
        this.event.amount = ''
        this.event.keywords=[]
        this.show = false
        this.$nextTick(() => {
          this.show = true
        }) 
      },
      addKeyword(cpyTempKeyword){
        if(this.tempKeyword.name == ''){
          return;
        }
        //verificacion que el keyword no se repita
        var tempKeywords = [];
        for(var index in this.event.keywords){
          tempKeywords.push(this.event.keywords[index].name);
        }
        var indexPrev = tempKeywords.indexOf(this.tempKeyword.name);
        if(indexPrev != -1){
          this.$swal("Ya agregó esa categoría.");
          return;
        }
        //
        var newKeyword = {
          name: cpyTempKeyword
        }
        this.event.keywords.push(newKeyword)
      },
      addField(_name_){
        if(_name_ == ''){
          return;
        }
        var tempFields = [];
        for(var index in this.phase.fields){
          tempFields.push(this.phase.fields[index].name);
        }
        var indexPrev = tempFields.indexOf(_name_);
        if(indexPrev != -1){
          this.$swal("Ya agregó ese campo.");
          return;
        }
        var newField = {
          name:_name_
        }
        this.phase.fields.push(newField);
      },
      addCriterium(_name_){
        if(_name_ === ''){
          return;
        }
        var tempCrits = [];
        for(var index in this.phase.criteriums){
          tempCrits.push(this.phase.criteriums[index].name);
        }
        var indexPrev = tempCrits.indexOf(_name_);
        if(indexPrev !== -1){
          this.$swal("Ya agregó ese criterio.");
          return;
        }
        var newCriterium = {
          name:_name_
        }
        this.phase.criteriums.push(newCriterium);
      },
      resetPhase(){
        this.phase.name='',
        this.phase.description='',
        this.phase.start_date='',
        this.phase.limit_date= '',
        this.phase.status='0',
        this.phase.end_date='',
        this.phase.needs_document= false,
        this.phase.iscamrdy = false,
        this.phase.fields=[],
        this.phase.criteriums=[]
      },
      addPhase(phase){

        if(this.phasesCounter >= 4){
          this.$swal("No puede crear más de 4 fases");
          return false;
        }
        if(this.phase.name == '' || this.$v.phase.name.$anyError){
          this.$swal("Ingrese el nombre correctamente");
          return false;
        }
        if(this.phase.description == '' || this.$v.phase.description.$anyError){
          this.$swal("Ingrese la descripción correctamente");
          return false;
        }

        //validación común entre 2 fechas
        if(this.phase.start_date == ""){
          this.$swal("Ingrese una fecha inicial");
          return false;
        }
        if(!this.phase.iscamrdy && this.phase.limit_date == ""){
          this.$swal("Ingrese una fecha límite");
          return false;
        }
        if(this.phase.end_date == ""){
          this.$swal("Ingrese una fecha final");
          return false;
        }
        console.log(this.phase.start_date)
        console.log(this.phase.end_date)
        if(!this.dateRangeValidation(this.phase.start_date, this.phase.end_date)){
          return false;
        }
        if(!this.phase.iscamrdy && (startOfDay(this.phase.limit_date) < startOfDay(this.phase.start_date) || startOfDay(this.phase.limit_date) > startOfDay(this.phase.end_date))){
          this.$swal("La fecha límite de carga de documentos está fuera del rango.", "Recuerde: La fecha límite debe estar entre las fechas de la fase.", "error");
          return false;
        }
        //validación específica de fases
        if(this.phase.start_date >= this.event.dateFirst || this.phase.end_date >= this.event.dateFirst){
          this.$swal("¡La fase se cruza con el inicio del evento!", "Recuerde que su evento empieza el: " + this.event.dateFirst.toLocaleDateString(), "error");
          return false;
        }
        if(startOfDay(this.phase.end_date) > startOfDay(this.event.dayCfP)){
          this.$swal("¡La fase sobrepasa la fecha de fin de Call for Papers", "Recuerde que su etapa Call for Papers termina el: " + this.event.dayCfP.toLocaleDateString() + " Puede editar esto en el step 1.", "error");
          return false;
        }

        if(this.phasesCounter > 0){ 
          if( startOfDay(this.phase.start_date) < this.phaseLastDate){ 
            console.log(startOfDay(this.phase.start_date));
            console.log(this.phaseLastDate);
            this.$swal("Las fechas seleccionadas se cruzan con las fechas de la fase anterior.");
            return false;
          }
        }
        var cpyLastDay = startOfDay(this.phase.end_date);
        this.phaseLastDate = cpyLastDay;
        /*************/
        if(this.phase.iscamrdy){
          for(var index in this.event.phases){
            if(this.event.phases[index].iscamrdy){
              this.$swal("No pueden existir 2 fases Camera Ready.");
              return false;
            }
          }
        }
        var newFields = [];
        for(var index in this.phase.fields){
          newFields.push(this.phase.fields[index]);
        }
        var newCriteriums = [];
        for(index in this.phase.criteriums){
          newCriteriums.push(this.phase.criteriums[index]);
        }
        var HOYY = new Date()
        if(startOfDay(this.phase.start_date) <= HOYY){
          this.phase.status='1';
        }
        console.log(this.phase.start_date);
        console.log(this.hoy);
        console.log(this.phase.status);
        console.log("en addPhase -> " + phase.needs_document);

        var newPhase = {
          name: this.phase.name,
          description: this.phase.description,
          start_date: startOfDay(this.phase.start_date),
          limit_date: startOfDay(this.phase.limit_date),
          end_date: startOfDay(this.phase.end_date),
          needs_document: this.phase.needs_document,
          iscamrdy: this.phase.iscamrdy,
          status: phase.status,
          fields: newFields,
          criteriums: newCriteriums
        };
        this.event.phases.push(newPhase);          
        this.phasesCounter++;
        //se limpian los datos
        this.resetPhase();
        this.$v.$reset();

      },
    },

    validate() { //revisar luego
      this.$v.form.$touch();
      var isValid = !this.$v.form.$invalid
      this.$emit('on-validate', this.$data, isValid)
      return isValid
    },

    components: {
        FormWizard,
        TabContent,
        Datepicker,
        'ConfirmEvent': ConfirmEvent
    },
    mounted: function() {
      
      let tryEvent = this.get_event();
      
      if(tryEvent.name !== ''){
        this.event.name = tryEvent.name;
        this.event.description = tryEvent.description;
        this.event.vacancies = tryEvent.vacancies;
        this.event.location = tryEvent.location;
        this.event.type = tryEvent.type;
        this.event.amount = tryEvent.amount;
        this.event.dateFirst = tryEvent.dateFirst;
        this.event.dateLast = tryEvent.dateLast;
        this.event.keywords = tryEvent.keywords;
        this.event.members = tryEvent.members;
        this.event.phases = tryEvent.phases;
        this.event.fileProgramme = tryEvent.fileProgramme;
        this.event.fileImage = tryEvent.fileImage;
      }
      this.axios.post('/allroles')
      .then(response => (this.options = response.data.roles))
      this.axios.post('/alltypes')
      .then(response => (this.eventTypes = response.data.types))
    },

    created(){
      //this.Permission=this.$route.params.Permission;
    this.hoy = this.today()
    // this.hoy = new Date(this.hoy.getFullYear(), this.hoy.getMonth(), parseInt(this.hoy.getDate) +1)
    this.username = this.user.username;
    console.log(this.today())
    console.log("THIS HOY ES EL SIGUIENTE")
    console.log(this.hoy)
    
    this.axios.post('/send_email_person', {
          "username": this.username,
                      
      }).then(response =>{
          console.log(response);
          this.email = response.data.email;
          console.log(this.email);  
         
          //Cada vez que carga la vista inserta el presidente. No debería ocurrir.
          if(this.event.members.length == 0){
            this.event.members.push({
              email: this.email,
              rol: "Presidente del comité organizador"
            });  
          }  
      }).catch(e =>{
          console.log(e);
      })
    }
}
</script>

<style scoped>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:10px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 15px 30px;
    }
    .box legend {
        font-size:26px;
        text-align:center;
        font-weight:300;
    }
    .titulo{
      font-size: 35px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
    }
    .steps{
      margin-top: 25px;
    }
    .table{
      table-layout: fixed;
    }
    .botonAyuda{
      padding: 0px 10px;
      font-size: 14px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .reduct{
      font-size: 15.5px; 
    }
    .bcont{
      margin-top:55px;
    }
</style>
