<template>
    <div id="app">
      <b-container >
      <br>
      <b-row>
        <b-col offset-md = "1">
          <div class="titulo">
            <strong>Edición de Call for Papers</strong>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="box well" md="10" offset-md="3">
            <b-modal id="finish-modal" ref="finish-modal" hide-footer title="Rendezvous">
                <div class="d-block text-center">
                    <p class="my-4"><strong>¿Esta seguro de realizar los cambios?</strong></p>
                </div>
                <b-row>
                <b-col><b-button class="mt-2" variant="outline-danger" block @click="hideModalSave">No</b-button></b-col>
                <b-col><b-button class="mt-2" variant="outline-success" block @click="editarFases" >Sí</b-button></b-col>
                </b-row>
            </b-modal>
            <b-modal id="away-modal" ref="away-modal" hide-footer title="Rendezvous">
                <div class="d-block text-center">
                    <p class="my-4"><strong>¿Desea retirarse sin guardar los cambios?</strong></p>
                </div>
                <b-row>
                <b-col><b-button class="mt-2" variant="outline-danger" block @click="hideModalAway">No</b-button></b-col>
                <b-col><b-button class="mt-2" variant="outline-success" block @click="salirVentana">Sí</b-button></b-col>
                </b-row>
            </b-modal>
            <b-container>
                        <div class="text-left">
                        <font face="Calibri Light" size="4"><strong>Configuración de fases (máx. 4)</strong></font>
                        </div>
                    <b-card border-variant="primary">
                      <b-row>
                        <b-table class="table"
                            ref="phasesTable"
                            selectable
                            select-mode="single"
                            selected-variant="active"
                            :items="phases"
                            :fields="fieldsPhases"
                            @row-selected="onRowSelectedPhase"
                            responsive="sm"
                        >
                        <template v-slot:cell(name)="data">
                          {{ data.value.length>62? "(nombre extenso)":data.value }}
                        </template>
                        <template v-slot:cell(description)="data">
                          {{ data.value.length>62? "(descripción extensa)":data.value }}
                        </template>
                        <template v-slot:cell(start_date)="data">
                          {{ data.value }}
                        </template>
                        <template v-slot:cell(limit_date)="data">
                          {{ data.value }}
                        </template>
                        <template v-slot:cell(end_date)="data">
                          {{ data.value}}
                        </template>
                        </b-table>
                      </b-row>
                      <hr>
                      <div class="subtitulo">
                        <b-row>
                          <b-col>
                          <font face="Calibri Light" size="4"><strong>Datos de la fase:</strong></font>
                          </b-col>
                        </b-row>
                      </div>
                      <b-row>
                      <b-col cols="6">
                          <b-form-group>
                            <b-row>
                              <b-col cols="4">
                                <label >Nombre(*): </label> <!-- NOMBRE -->
                              </b-col>
                              <b-col cols="8">
                                <b-form-group>
                                  <b-form-input
                                    size="sm" 
                                    placeholder="Ingrese un nombre"
                                    v-model="$v.phase.name.$model"
                                    type="text"
                                    :state="$v.phase.name.$dirty ? !$v.phase.name.$error : null"
                                    aria-describedby="input-16-live-feedback"
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="input-16-live-feedback">
                                      (1-120 caracteres)
                                    </b-form-invalid-feedback>
                                </b-form-group>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="4" class="fechas"><label>Fecha inicial(*):  </label></b-col> <!-- FECHA INICIAL -->
                              <b-col cols="8">
                                <datepicker  
                                :language="es"
                                :format="customFormatter"
                                placeholder="Elegir fecha inicial" 
                                v-model="phase.start_date"
                                > </datepicker>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="4"><label class="reduct">Fecha límite(*):  </label></b-col> <!-- FECHA LIMITE -->
                              <b-col cols="5">
                                <datepicker  
                                :language="es"
                                :format="customFormatter"
                                placeholder="Elegir fecha límite" 
                                v-model="phase.limit_date"
                                > </datepicker>
                              </b-col>
                              <b-col cols="1">
                              <b-button class="botonAyuda" :pressed="true" size="md" 
                                v-b-popover.hover.top="'La fecha límite indica hasta qué día los postulantes pueden completar lo que solicite la fase.'" title="Ayuda">?
                              </b-button></b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="4"><label>Fecha final(*):  </label></b-col> <!-- FECHA FINAL -->
                              <b-col cols="8">
                                <datepicker 
                                :language="es"
                                :format="customFormatter"
                                placeholder="Elegir fecha final" 
                                v-model="phase.end_date"> </datepicker>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="4">
                                <label >Descripción(*): </label> <!-- DESCRIPCIÓN -->
                              </b-col>
                              <b-col cols="8">
                                <b-form-group>
                                  <b-form-textarea
                                    size="sm" 
                                    placeholder="Ingrese una descripción"
                                    rows="8"
                                    max-rows="8"
                                    v-model="$v.phase.description.$model"
                                    type="text"
                                    :state="$v.phase.description.$dirty ? !$v.phase.description.$error : null"
                                    aria-describedby="input-17-live-feedback"
                                    ></b-form-textarea>
                                    <b-form-invalid-feedback id="input-17-live-feedback">
                                      (1-2500 caracteres)
                                    </b-form-invalid-feedback>
                                </b-form-group>
                              </b-col>
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="4">
                                Carga de documentos:
                              </b-col>
                              <b-col cols="3"><b-form-radio-group
                                v-model="phase.needs_document"
                                :options="radioGroupDocument"
                              ></b-form-radio-group></b-col>
                              <b-col>
                                (Actualmente: <strong>{{phase.needs_document? "Sí":"No"}}</strong>)
                              </b-col>
                                <!--<b-form-checkbox v-model="phase.needs_document" name="check-button" switch> 
                                  <b>{{phase.needs_document ? 'Sí' : 'No'}}</b>
                                </b-form-checkbox> -->
                            </b-row>
                          </b-form-group>
                          <b-form-group>
                            <b-row>
                              <b-col cols="4">
                                La fase es Camera Ready:
                              </b-col>
                              <b-col cols="3"><b-form-radio-group
                                v-model="phase.iscamrdy"
                                :options="radioGroupCamera"
                              ></b-form-radio-group></b-col>
                              <b-col>
                                (Actualmente: <strong>{{phase.iscamrdy? "Sí":"No"}}</strong>)
                              </b-col>
                              
                                <!--<b-form-checkbox v-model="phase.iscamrdy" name="check-button" switch> 
                                  <b>{{phase.iscamrdy?'Sí':'No'}}</b>
                                </b-form-checkbox>-->
                            </b-row>
                          </b-form-group>
                      </b-col>
                      <b-col>
                      
                        <b-form-group>
                          <b-row>
                            <b-col cols="5"> <label>Campos de la fase: </label> </b-col> <!-- FIELDS -->
                            <b-button class="botonAyuda" :pressed="true" size="md" v-b-popover.hover.top="'Para agregar un campo, escríbalo y haga click en Agregar'" title="Ayuda">?</b-button>
                          </b-row>
                          <b-row>
                            <b-col cols="7">
                              <b-form-input v-model="field.name" size = "sm" placeholder="Ingresar campo" ></b-form-input>
                            </b-col>
                            <b-col cols="2">
                              <b-button @click="addField(field.name); field.name='';" size="sm" variant="success">Agregar</b-button>
                            </b-col>
                            <b-col cols="2">
                              <b-button @click="deleteSelectedField()" size="sm" variant="danger">Borrar</b-button>
                            </b-col>
                          </b-row>
                        </b-form-group>

                        <b-table class="table"
                            ref="fieldsTable"
                            selectable
                            select-mode="single"
                            selected-variant="active"
                            :items="phase.fields"
                            :fields="fieldsFields"
                            @row-selected="onRowSelectedField"
                            responsive="sm"
                        >
                        </b-table>
                        

                        <hr>

                        <b-form-group>
                          <b-row>
                            <b-col cols="5"> <label>Criterios de la fase: </label> </b-col> <!-- CRITERIUMS -->
                            <b-button class="botonAyuda" :pressed="true" size="md" v-b-popover.hover.top="'Para borrar un criterio, selecciónelo de la tabla y haga click en Borrar'" title="Ayuda">?</b-button>
                          </b-row>
                          <b-row>
                            <b-col cols="7">
                              <b-form-input v-model="criterium.name" size = "sm" placeholder="Ingresar criterio" ></b-form-input>
                            </b-col>
                            <b-col cols="2">
                              <b-button @click="addCriterium(criterium.name); criterium.name='';" size="sm" variant="success">Agregar</b-button>
                            </b-col>
                            <b-col cols="2">
                              <b-button @click="deleteSelectedCriterium()" size="sm" variant="danger">Borrar</b-button>
                            </b-col>
                        </b-row>
                      </b-form-group>

                      <b-table class="table"
                            ref="criteriumsTable"
                            selectable
                            select-mode="single"
                            selected-variant="active"
                            :items="phase.criteriums"
                            :fields="fieldsCriteriums"
                            @row-selected="onRowSelectedCriterium"
                            responsive="sm"
                        >
                        </b-table>
                      </b-col>
                    </b-row>
                    
                    <b-row align-h="center">
                        <b-button @click="updatePhase(phase); " size="sm" variant="success">Actualizar Fase Seleccionada</b-button>
                        <b-button @click="deleteSelectedPhase" size="sm" variant="danger">Borrar Fase Seleccionada</b-button>
                    </b-row>
                    <hr>
                    <b-row align-h="center">
                        <b-button @click="addPhase(phase) " size="sm" variant="success">Agregar Nueva Fase</b-button>
                    </b-row>
                    <hr>
                    <b-row align-h="around">
                        <b-button @click="swalEdit" size="sm" variant="primary">Guardar Cambios</b-button>
                        <b-button @click="swalSalir" size="sm" variant="danger">Salir</b-button>
                    </b-row>
                  </b-card>
            </b-container>
      </b-col>
    </b-row>
  </b-container>
</div>
    
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import {es, en} from 'vuejs-datepicker/dist/locale' 
import moment from 'moment'
import { validationMixin } from 'vuelidate'
import { required, minLength,email,maxLength,alpha, minValue, maxValue, numeric,between} from 'vuelidate/lib/validators'
import { startOfDay } from 'date-fns'


export default {
    name: 'EditPhases',
  
     data () {
      return{
        eventId: '', //router
        user: JSON.parse(localStorage.getItem('user')),
        username: '',
        phases: [], //recibe las fases del back
        phasesCounter:0, //contador de fases para limitarlo a 4
        phase:{
          name: '',
          description: '',
          start_date: '',
          limit_date: '',
          end_date: '',
          status: '0',
          needs_document: false,
          iscamrdy: false,
          fields: [],
          criteriums: []
        },
        criterium:{
          name: ''
        },
        field:{
          name: ''
        },
        selectedPhase: [],
        selectedField: [],
        selectedCriterium: [],
        fieldsPhases: [{key:'name', label:'Nombre'},{key:'description', label:'Descripción'},{key:'start_date', label:'Inicio', sortable: true},{key:'limit_date', label:'Fin(postulantes)'},
                       {key:'end_date', label:'Fin'}],
        fieldsFields:[{key:'name', label:'Campos'}],
        fieldsCriteriums:[{key:'name', label:'Criterios'}],
        phasesCounter: 0,
        phaseLastDate: '',
        radioGroupDocument: [{text:'Sí', value:true},{text:'No', value:false}],
        radioGroupCamera: [{text:'Sí', value:true},{text:'No', value:false}],
        today: new Date(),
        show: true, 
        es: es, //lenguaje para el datepicker

      } 
        },

    validations: {
      phase:{
        name:{required, minLength: minLength(1), maxLength: maxLength(120)},
        description:{required, minLength: minLength(1), maxLength: maxLength(2500)}
      }
  },
    

  methods: {
    swalSalir(){
      this.$swal.fire({
      title: '',
      text: "¿Desea salir?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Aceptar',
      cancelButtonText: 'Cancelar'
      }).then((result) => {
          if (result.value) {
              this.$router.go(-1)                        
          }
      })
    },
    swalEdit(){this.$swal.fire({
      title: '¿Desea editar las fases?',
      text: "",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Aceptar',
      cancelButtonText: 'Cancelar'
      }).then((result) => {
          console.log(JSON.stringify(this.phases))
          if (result.value) {   
            const formData = new FormData(); 
            formData.append('phases', JSON.stringify(this.phases));
            formData.append('event_id', this.eventId);
            formData.append('username',this.username) //aqui se envía al usuario

            this.axios.post('/update_event_phases', formData)
            .then(response => { 
                console.log(response)
            })
            .catch(error => {
                console.log(error.response)
                });

                  this.$swal.fire(
                      'Guardado con éxito',
                      'La/s fase/s fue/ron editada/s exitosamente',
                      'success'
                  )  
            this.$router.push({ name: 'eventDetail', params: { id: this.eventId }}) //esto deberia regresarte a la ventana de eventDetail

          }
              
      })
                  
    },
      onRowSelectedPhase(items){
        if(items.length == 0){
          this.resetPhase(); return;
        }; 
        
        this.selectedPhase = items;
        /*validación que la fase no haya empezado
        var tempDay = new Date(this.selectedPhase[0].start_date);
        console.log(tempDay);
        if( tempDay <= this.today){ 
          this.$swal("No puede editar esta fase.", "¡La fase ya ha empezado!", "error");
          return false; 
        }*/
        this.phase.needs_document = this.selectedPhase[0].needs_document;
        this.phase.iscamrdy = this.selectedPhase[0].iscamrdy;

        this.phase.name = this.selectedPhase[0].name;
        this.phase.description = this.selectedPhase[0].description;
        this.phase.start_date = this.selectedPhase[0].start_date;
        this.phase.limit_date = this.selectedPhase[0].limit_date;
        this.phase.end_date = this.selectedPhase[0].end_date;
        this.phase.fields=[];
        this.phase.criteriums=[];
        for(var index in this.selectedPhase[0].fields){
          this.phase.fields.push(this.selectedPhase[0].fields[index]);
        }
        for(var index in this.selectedPhase[0].criteriums){
          this.phase.criteriums.push(this.selectedPhase[0].criteriums[index]);
        }
      },
      onRowSelectedField(items){
        this.selectedField = items;
      },
      onRowSelectedCriterium(items){
        this.selectedCriterium = items;
      },
      
    deleteSelectedPhase(){

      if(this.selectedPhase.length != 0){
        let indice = this.phases.indexOf(this.selectedPhase[0]);
        this.phases.splice(indice,1);
        this.resetPhase();
        if(typeof this.phases[this.phases.length-1].last_date != 'string'){
          var cpyLastDay = startOfDay(this.phases[this.phases.length-1].last_date);
          this.phaseLastDate = cpyLastDay;
        }
        this.phasesCounter--;
        console.log(this.phasesCounter);
      }
    },
    deleteSelectedField(){
        if(this.selectedField.length != 0){
        let indice = this.phase.fields.indexOf(this.selectedField[0]);
        this.phase.fields.splice(indice,1);
        }
    },
    deleteSelectedCriterium(){
        if(this.selectedCriterium.length != 0){
        let indice = this.phase.criteriums.indexOf(this.selectedCriterium[0]);
        this.phase.criteriums.splice(indice,1);
        }
    },
      customFormatter(date){
        return moment(date).format('D-MM-YYYY')
      },
      addField(_name_){
        if(_name_ == ''){
          return;
        }
        var tempFields = [];
        for(var index in this.phase.fields){
          tempFields.push(this.phase.fields[index].name);
        }
        var indexPrev = tempFields.indexOf(_name_);
        if(indexPrev != -1){
          this.$swal("Ya agregó ese campo.");
          return;
        }
        var newField = {
          name:_name_
        }
        this.phase.fields.push(newField);
      },
      addCriterium(_name_){
        if(_name_ === ''){
          return;
        }
        var tempCrits = [];
        for(var index in this.phase.criteriums){
          tempCrits.push(this.phase.criteriums[index].name);
        }
        var indexPrev = tempCrits.indexOf(_name_);
        if(indexPrev !== -1){
          this.$swal("Ya agregó ese criterio.");
          return;
        }
        var newCriterium = {
          name:_name_
        }
        this.phase.criteriums.push(newCriterium);
      },
      resetPhase(){
        this.phase.name='',
        this.phase.description='',
        this.phase.start_date='',
        this.phase.limit_date='',
        this.phase.end_date='',
        this.phase.needs_document= false,
        this.phase.iscamrdy= false,
        this.phase.fields=[],
        this.phase.criteriums=[]
      },
      dateConverter(strDay){ //para validar fechas
        var slashPos1 = strDay.indexOf("/");
        var slashPos2 = strDay.lastIndexOf("/");
        var cmpDay = strDay.slice(slashPos2+1);
        cmpDay = cmpDay.concat(strDay.slice(slashPos1+1,slashPos2),strDay.slice(0,slashPos1));
        var intDay = parseInt(cmpDay);
        return intDay;
      },
      dateRangeValidation(day1,day2){//para validar fechas
        var cpyDay1 = new Date(day1);
        var cpyDay2 = new Date(day2);
        cpyDay1.setDate(cpyDay1.getDate() + 1);
        cpyDay2.setDate(cpyDay2.getDate() + 1);
  
        if(cpyDay1 < this.today){
          this.$swal("Fecha inicial inválida","¡La fecha seleccionada es anterior a hoy!");
          return false;
        }
        if(cpyDay2 < this.today){
          this.$swal("Fecha final inválida","¡La fecha seleccionada es anterior a hoy!");
          return false;
        }
        if(cpyDay1 > cpyDay2){
          this.$swal("Rango de fechas inválido", "¡Fecha final anterior a la fecha inicial!");
          return false;
        }
        return true;
      },
      addPhase(phase){
        console.log(this.phasesCounter)
        if(this.phasesCounter >= 3){
          this.$swal("No puede crear más de 4 fases");
          return;
        }
        if(this.phase.name == '' || this.$v.phase.name.$anyError){
          this.$swal("Ingrese el nombre correctamente");
          return false;
        }
        if(this.phase.description == '' || this.$v.phase.description.$anyError){
          this.$swal("Ingrese la descripción correctamente");
          return false;
        }
        //validación común entre 2 fechas
        if(this.phase.start_date == ""){
          this.$swal("Ingrese una fecha inicial");
          return false;
        }
        if(this.phase.limit_date == "" && !this.phase.iscamrdy){
          this.$swal("Ingrese una fecha límite");
          return false;
        }
        if(this.phase.end_date == ""){
          this.$swal("Ingrese una fecha final");
          return false;
        }
        if(!this.dateRangeValidation(this.phase.start_date, this.phase.end_date)){
          return false;
        }
        if(!this.phase.iscamrdy && (startOfDay(this.phase.limit_date) < startOfDay(this.phase.start_date) || startOfDay(this.phase.limit_date) > startOfDay(this.phase.end_date))){
          this.$swal("La fecha límite de carga de documentos está fuera del rango.", "Recuerde: La fecha límite debe estar entre las fechas de la fase.", "error");
          return false;
        }
        //validación específica de fases
        if(this.phasesCounter > 0){ 
          console.log(this.phase.start_date)
          //var phaseStartDateInt = this.dateConverter(this.phase.start_date.toLocaleDateString());
          
          if( this.phase.start_date < this.phaseLastDate){
            this.$swal("Las fechas seleccionadas se cruzan con las fechas de la fase anterior.");
            return false;
          }
        }
        var cpyLastDay = startOfDay(this.phase.end_date);
        this.phaseLastDate = cpyLastDay;
        /*************/

        var newFields = [];
        for(var index in this.phase.fields){
          newFields.push(this.phase.fields[index]);
        }
        var newCriteriums = [];
        for(var index in this.phase.criteriums){
          newCriteriums.push(this.phase.criteriums[index]);
        }

        var newPhase = {
          name: phase.name,
          description: phase.description,
          start_date: phase.start_date,
          limit_date: phase.limit_date,
          end_date: phase.end_date,
          status: phase.status,
          fields: newFields,
          criteriums: newCriteriums,
          needs_document: phase.needs_document,
          iscamrdy: phase.iscamrdy
        }
        this.phases.push(newPhase);
        this.phasesCounter++;
        this.$v.$reset();

        this.resetPhase();
      },



      updatePhase(phase){
        if(this.selectedPhase.length==0){
          this.$swal("No ha seleccionado ninguna fase.");
          return false;
        }

        //validación de la fase
        if(this.phase.name == '' || this.$v.phase.name.$anyError){
          this.$swal("Ingrese el nombre correctamente");
          return false;
        }
        if(this.phase.description == '' || this.$v.phase.description.$anyError){
          this.$swal("Ingrese la descripción correctamente");
          return false;
        }
      //validación común entre 2 fechas
      if(this.phase.start_date == ""){
        this.$swal("Ingrese una fecha inicial");
        return false;
      }
      if(this.phase.limit_date == "" && !this.phase.iscamrdy){
        this.$swal("Ingrese una fecha límite");
        return false;
      }
      if(this.phase.end_date == ""){
        this.$swal("Ingrese una fecha final");
        return false;
      }
      if(!this.dateRangeValidation(this.phase.start_date, this.phase.end_date)){
        return false;
      }
      //validación específica de fecha de fases
      /*if(this.phasesCounter > 0 && typeof this.phase.start_date != 'string'){ 
        var phaseStartDateInt = this.dateConverter(this.phase.start_date.toLocaleDateString());
        if( phaseStartDateInt < this.phaseLastDate){
          this.$swal("Las fechas seleccionadas se cruzan con las fechas de la fase anterior.");
          return false;
        }
      }*/
      if(typeof this.phase.start_date != 'string'){
       var phaseLastDateInt = this.dateConverter(this.phase.end_date.toLocaleDateString()); 
      }
      this.phaseLastDate = phaseLastDateInt;
      ////////////////
        let indice = this.phases.indexOf(this.selectedPhase[0]);
        this.phases[indice].name = this.phase.name;
        this.phases[indice].description = this.phase.description;
        this.phases[indice].start_date = this.phase.start_date;
        this.phases[indice].limit_date = this.phase.limit_date;
        this.phases[indice].end_date = this.phase.end_date;
        this.phases[indice].needs_document = this.phase.needs_document;
        this.phases[indice].iscamrdy = this.phase.iscamrdy;
        this.phases[indice].fields = this.phase.fields;
        this.phases[indice].criteriums = this.phase.criteriums;
      },

      
        showModalSave() { //se llama al finalizar la edición
            this.$refs['finish-modal'].show()
        },
        hideModalSave(){ //se llama si el usuario regresa a la edición
            this.$refs['finish-modal'].hide()
        },
        showModalAway() { //se llama al finalizar la edición
            this.$refs['away-modal'].show()
        },
        hideModalAway(){ //se llama si el usuario regresa a la edición
            this.$refs['away-modal'].hide()
        },
        salirVentana(){
          this.$router.push({ name: 'eventDetail', params: { id: this.eventId }})  //esto deberia regresarte a la ventana de eventDetail
        },
        editarFases(){ //se llama cuando el usuario acepta los cambios
            //alert(JSON.stringify(this.event));

            const formData = new FormData(); 
            formData.append('phases', JSON.stringify(this.phases));
            formData.append('event_id', this.eventId);
            formData.append('username',this.username) //aqui se envía al usuario
            
            this.axios.post('/update_event_phases', formData)
            .then(response => { 
                console.log(response)
            })
            .catch(error => {
                console.log(error.response)
                });

            this.$router.push({ name: 'eventDetail', params: { id: this.eventId }}) //esto deberia regresarte a la ventana de eventDetail

        }

    },
    components: {
        Datepicker
    },

    mounted: function() {

    },
    created(){
        this.username = this.user.username;
        this.eventId = this.$route.params.id; //recibiendo id del router
        this.axios.post('/view_event_phases_information', { 
            'event_id': this.eventId
        })
        .then(response => this.phases = response.data.phases)
        .catch(error => {
            console.log(error.response)
        })
        console.log(JSON.stringify(this.phases))
    }



}
</script>

<style scoped>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:10px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 15px 30px;
    }
    .box legend {
        font-size:26px;
        text-align:center;
        font-weight:300;
    }
    .titulo{
      font-size: 35px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
    }
    .subtitulo{
        margin-top:20px;
        margin-bottom: 15px;
    }
    .fechas{
      font-size: 16 px;
    }
    .botonAyuda{
      padding: 0px 10px;
      font-size: 14px;
      margin-bottom: 10px;
}
</style>
