<template>
    <div id="app">
      <b-container>
      <br>
      <b-row>
        <b-col offset-md = "1">
          <div class="titulo">
            <strong>Edición de eventos</strong>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="box well" md="10" offset-md="3">
        <form-wizard @on-complete="swalEdit" 
                      color="#0B62B9"
                      title=""
                      subtitle=""
                      back-button-text="Retroceder"
                      finish-button-text="Finalizar"
                      next-button-text="Siguiente">
        
          <tab-content title="Datos generales del evento" :before-change="validacionStep1"  >
        <b-modal id="finish-modal" ref="finish-modal" hide-footer title="Rendezvous">
            <div class="d-block text-center">
                <p class="my-4"><strong>¿Esta seguro de realizar los cambios?</strong></p>
            </div>
            <b-row>
            <b-col><b-button class="mt-2" variant="outline-danger" block @click="hideModal">No</b-button></b-col>
            <b-col><b-button class="mt-2" variant="outline-success" block @click="editarEvento">Sí</b-button></b-col>
            </b-row>
        </b-modal>
        <b-modal id="away-modal" ref="away-modal" hide-footer title="Rendezvous">
            <div class="d-block text-center">
                <p class="my-4"><strong>¿Desea retirarse sin guardar los cambios?</strong></p>
            </div>
            <b-row>
            <b-col><b-button class="mt-2" variant="outline-danger" block @click="hideModalAway">No</b-button></b-col>
            <b-col><b-button class="mt-2" variant="outline-success" block @click="salirVentana">Sí</b-button></b-col>
            </b-row>
        </b-modal>
            <b-container class="bcont">
                        <div class="text-left">
                        <font face="Calibri Light" size="4"><strong>Datos generales del evento</strong></font>
                        </div>
                        <b-card border-variant="primary" > 
                          <b-row>
                            <b-col md="6">
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label >Nombre(*): </label> <!-- NOMBRE -->
                                    </b-col>
                                    <b-col cols="9">
                                      <b-form-group>
                                        <b-form-input
                                          size="sm" 
                                          placeholder="Ingrese un nombre"
                                          v-model="$v.event.name.$model"
                                          :state="$v.event.name.$dirty ? !$v.event.name.$error : null"
                                          type="text"
                                          aria-describedby="input-10-live-feedback"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="input-10-live-feedback">
                                          (2-120 caracteres)
                                        </b-form-invalid-feedback>
                                      </b-form-group> 
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Descripción(*): </label> <!-- DESCRIPCION -->
                                    </b-col>
                                    <b-col cols= "9">
                                      <b-form-textarea
                                        v-model="$v.event.description.$model"
                                        placeholder="Ingrese una descripción"
                                        rows="8"
                                        max-rows="8"
                                        size = "sm"
                                        :state="$v.event.description.$dirty ? !$v.event.description.$error : null"
                                        type="text"
                                        aria-describedby="input-11-live-feedback"
                                      ></b-form-textarea>
                                      <b-form-invalid-feedback id="input-11-live-feedback">
                                        (5-2500 caracteres)
                                      </b-form-invalid-feedback>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Ubicación(*): </label> <!-- UBICACION -->
                                    </b-col>
                                    <b-col cols="9">
                                      <b-form-input
                                        v-model="$v.event.location.$model"
                                        placeholder="Ingrese una ubicación"
                                        size = "sm"
                                        :state="$v.event.location.$dirty ? !$v.event.location.$error : null"
                                        type="text"
                                        aria-describedby="input-12-live-feedback"
                                      ></b-form-input>
                                      <b-form-invalid-feedback id="input-12-live-feedback">
                                        (5-250 caracteres)
                                      </b-form-invalid-feedback>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                  
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Tipo(*): </label> <!-- TIPO -->
                                    </b-col>
                                    <b-col cols="6">
                                      <b-form-select
                                        v-model="$v.event.type.$model"
                                        required
                                        size = "sm"
                                        :state="$v.event.type.$dirty ? !$v.event.type.$error : null"
                                        aria-describedby="input-13-live-feedback">
                                      <template v-slot:first>
                                        <option :value=null>Seleccionar</option>
                                      </template>
                                        <option v-for="option in eventTypes" :key="option.id">{{option.name}}</option>
                                      </b-form-select>
                                      <b-form-invalid-feedback id="input-13-live-feedback">
                                        Eliga un tipo de evento.
                                      </b-form-invalid-feedback>
                                    </b-col>

                                  </b-row>
                                </b-form-group>
                                <b-card>
                                  <b-form-group>
                                  <b-row>
                                    <b-col cols="9">Subir programa:</b-col> <!-- PROGRAMA -->
                                    <b-col cols="3"><b-button @click="event.fileProgramme = null" size="sm" variant="danger">Borrar</b-button></b-col>
                                  </b-row>
                                  </b-form-group>
                                  <b-row>
                                    <b-col>
                                      <b-form-file 
                                      placeholder="Seleccionar archivo" 
                                      v-model="event.fileProgramme" 
                                      ref="file-input" 
                                      class="mb-2"  
                                      size = "sm"></b-form-file>
                                    </b-col>
                                  </b-row>
                                </b-card>
                                <b-card>
                                  <b-form-group>
                                  <b-row>
                                    <b-col cols="9">Subir imagen:</b-col> <!-- IMAGEN -->
                                    <b-col cols="3"><b-button @click="event.fileImage = null" size="sm" variant="danger">Borrar</b-button></b-col>
                                  </b-row>
                                  </b-form-group>
                                  <b-row>
                                      <b-col>
                                        <b-form-file 
                                        placeholder="Seleccionar archivo" 
                                        v-model="event.fileImage" 
                                        ref="file-input" 
                                        class="mb-2" 
                                        size = "sm"></b-form-file>
                                      </b-col>
                                  </b-row>
                                </b-card>
                            </b-col>
                            <b-col md="6">
                              <b-form>
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Vacantes(*): </label> <!-- VACANTES -->
                                    </b-col>
                                    <b-col cols="4">
                                      <b-form-input
                                      v-model="$v.event.vacancies.$model"
                                      type="number"
                                      placeholder="0"
                                      size="sm"
                                      :state="$v.event.vacancies.$dirty ? !$v.event.vacancies.$error : null"
                                      aria-describedby="input-14-live-feedback"
                                      ></b-form-input>
                                      <b-form-invalid-feedback id="input-14-live-feedback">
                                        (1-10000)
                                      </b-form-invalid-feedback>
                                    </b-col>
                                  </b-row>
                                </b-form-group>

                                <b-form-group>
                                  <b-row>
                                    <b-col cols="3">
                                      <label>Precio: </label> <!-- PRECIO -->
                                    </b-col>
                                        <b-col cols="5">
                                      <b-input-group size="sm" prepend="S/." append=".00">
                                          <b-form-input
                                          v-model="$v.event.amount.$model"
                                          type="number"
                                          placeholder="0"
                                          size="sm"
                                          :state="$v.event.amount.$dirty ? !$v.event.amount.$error : null"
                                          aria-describedby="input-15-live-feedback"
                                          ></b-form-input>
                                      </b-input-group>
                                          <b-form-invalid-feedback id="input-15-live-feedback">
                                            (1-10000).
                                          </b-form-invalid-feedback>
                                        </b-col>
                                  </b-row>
                                </b-form-group>

                                <div v-if="eventStartComponent">
                                  <b-form-group>
                                    <b-row>
                                      <b-col cols="5"><label>Fecha inicial(*):</label></b-col> <!-- FECHA INICIAL -->
                                      <b-col cols="7">
                                        <datepicker  
                                        :format="customFormatter"
                                        :language="es"
                                        placeholder="Elegir fecha inicial" 
                                        v-model="event.start_date"
                                        > </datepicker>
                                      </b-col>
                                    </b-row>
                                  </b-form-group>
                                </div>
                                <b-form-group>
                                  <b-row>
                                    <b-col cols="5"><label>Fecha final(*):</label></b-col> <!-- FECHA FINAL -->
                                    <b-col cols="7">
                                      <datepicker 
                                      :format="customFormatter"
                                      :language="es"
                                      placeholder="Elegir fecha final" 
                                      v-model="event.end_date"> </datepicker>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                <div v-if="eventDayCfPComponent">
                                  <b-form-group>
                                    <b-row>
                                      <b-col cols="4"><label>Fecha límite(*):</label></b-col> <!-- FECHA FINAL CALL FOR PAPERS -->
                                        <b-button class="botonAyuda" :pressed="true" size="md" 
                                          v-b-popover.hover.top="'La fecha en que termina Call for Papers (todas las fases).'" title="Ayuda">?
                                        </b-button>
                                      <b-col cols="7">
                                        <datepicker 
                                        :format="customFormatter"
                                        :language="es"
                                        placeholder="Elegir fecha final" 
                                        v-model="event.dayCfP"> </datepicker>
                                      </b-col>
                                    </b-row>
                                  </b-form-group>
                                </div>
                                <hr>
                                <b-form-group>
                                  <b-row >
                                    <b-col cols="6"> <label>Categorías del evento: </label> </b-col> <!-- KEYWORDS -->
                                  </b-row>
                                  <b-row>
                                    <b-col cols="8">
                                      <b-form-input 
                                        placeholder="Ingresar categoría" 
                                        v-model="tempKeyword.name" size = "sm" ></b-form-input>
                                    </b-col>
                                    <b-col cols="3">
                                      <b-button @click="addKeyword(tempKeyword.name); tempKeyword.name='';" size="sm" variant="success">Agregar</b-button>
                                    </b-col>
                                  </b-row>
                                </b-form-group>
                                
                                <b-table 
                                    ref="keywordsTable"
                                    selectable
                                    select-mode="single"
                                    selected-variant="active"
                                    :items="event.keywords"
                                    :fields="fieldsKeywords"
                                    @row-selected="onRowSelectedKeywords"
                                    responsive="sm"
                                 >
                                </b-table>

                                <b-form-group>
                                  <b-row align-h="center">
                                    <b-button @click="deleteSelectedKeyword()" size="sm" variant="danger">Borrar</b-button>
                                  </b-row>
                                </b-form-group>
                              </b-form>
                            </b-col>
                          </b-row>
                        </b-card>
                      </b-container>


          </tab-content>

            <tab-content title="Colaboradores del evento" :before-change="validacionStep2">
              <b-row>
                <b-col>
                  <font face="Calibri Light" size=4>
                    <strong>Ingrese el correo electrónico de los colaboradores de evento</strong>
                  </font>  
                </b-col>  
              </b-row>
              <b-row>
                <b-col>
                  <div class="card border-primary mb-3" >
                    <div class="card-body">
                      <b-row class="my-1">
                        <b-col sm="4">
                          <font class="mr-sm-0" face="Calibri Light" size=4>Correo electrónico:</font> 
                        </b-col>
                        <b-col sm="6">
                          <b-form-group id="input-group-1" >
                            <b-form-input
                              id="input-1"
                              name="input-1"
                              size="sm" 
                              placeholder="Ingrese el correo electrónico"
                              v-model="$v.member.email.$model"
                              :state="($v.member.email.$dirty && !$v.member.email.$required)? !$v.member.email.$error : null"
                              type="email"
                              aria-describedby="input-1-live-feedback">
                            </b-form-input>
                            <b-form-invalid-feedback id="input-1-live-feedback">
                              Ingrese un email válido.
                            </b-form-invalid-feedback>
                          </b-form-group>  
                        </b-col>
                      </b-row>
                      <b-row class="my-4">
                        <b-col sm="4">
                          <font class="mr-sm-0" face="Calibri Light" size=4>Rol del colaborador:</font> 
                        </b-col>
                        <b-col sm="6">
                          <b-form-group id="input-group-2" >
                            <b-form-select
                              id="input-2"
                              name="input-2"
                              v-model="$v.member.selected.$model"
                              size="sm"
                              :state="$v.member.selected.$dirty? !$v.member.selected.$error : null"
                              aria-describedby="input-2-live-feedback">
                              <template v-slot:first>
                                <option :value=null>Seleccionar</option>
                              </template>
                              <option v-for="option in options" :key="option.id">{{option.name}}</option>
                            </b-form-select>
                            <b-form-invalid-feedback id="input-2-live-feedback">
                              Seleccione un rol.
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <div class="text-center">
                        <b-button type="submit" @click="addMember();"
                           variant="success" >Agregar</b-button>
                        <b-button variant="danger" @click="deleteSelectedMember">Borrar</b-button>
                      </div>
                  </div>
                </div>  
              </b-col>    
            </b-row>  
            <b-row>  
              <b-col>
                <div class="subtitulo2">
                  <font face="Calibri Light" size=4>
                    <strong>Colaboradores</strong>
                  </font>
                </div>
                <div class="contenido2">
                  <div class="card border-primary mb-3">
                    <!-- Tabla donde se muestran los datos -->
                    <b-table class="table"
                      ref="membersTable"
                      selectable
                      select-mode="single"
                      selected-variant="active"
                      :items="event.members"
                      :fields="fieldsMembers"
                      @row-selected="onRowSelectedMember"
                      responsive="sm"
                    >
                      <thead class="bg-primary">
                        <tr>
                          <th scope="col">Correo</th>
                          <th scope="col">Rol</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="member in event.members" :key="member.id">
                          <td class=table-primary>{{ member.email }}</td>
                          <td class=table-primary>{{ member.role }}</td>
                        </tr>
                      </tbody>
                    </b-table>
                  </div>
                </div>    
              </b-col>  
            </b-row>
          </tab-content>

        </form-wizard>
    <b-row align-h="center">
      <b-button variant="danger" @click="swalSalir">Salir</b-button>
    </b-row>
      </b-col>
    </b-row>
  </b-container>
</div>
    
</template>

<script>
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import Datepicker from 'vuejs-datepicker'
import {es, en} from 'vuejs-datepicker/dist/locale' 
import moment from 'moment'
import { validationMixin } from 'vuelidate'
import { required, minLength,email,maxLength,alpha, minValue, maxValue, numeric,between} from 'vuelidate/lib/validators' 
import { startOfDay, endOfDay } from 'date-fns';
export default {
    name: 'EditEvent',
     data () {
      return{
        eventId: '', //aqui se recibirá el id del evento como parámetro del router
        answer:'true', //aquí se recibe el post de si el usuario ya está agregado
        users:[],
        user: JSON.parse(localStorage.getItem('user')),
        username: '',
        event: {
          name: '',
          description: '',
          vacancies: '',
          location: '',
          type: null,
          amount: '',
          keywords: [],
          members: [],
          start_date: '',
          end_date: '',
          dayCfP: '',
          fileProgramme: null,
          fileImage: null
        },
        tempKeyword:{
          name:''
        },
        keywordSelected: [],
        memberSelected: [],
        fieldsKeywords: [{key:'name', label:'Categorías', sortable: true}],
        fieldsMembers: [{key:'email', label:'E-mail', sortable:true },{key:'role', label:'Rol', sortable:true}],
        eventTypes: [], //tipos de evento
        member:{
          email: '',   
          selected:null
        },    
        options: [], // roles
        today: new Date(),
        show: true, 
        es: es, //lenguaje para el datepicker
        
      } 
        },

    validations: {
      member:{
        email:{required, email, maxLength: maxLength(35)},
        selected:{required}
      },
      event:{
        name:{required, minLength: minLength(2), maxLength: maxLength(120)},
        description:{required, minLength: minLength(5), maxLength: maxLength(2500)},
        location:{required, minLength: minLength(5), maxLength: maxLength(250)},
        type:{required},
        amount:{required, numeric, minValue: minValue(0), maxValue: maxValue(100000)},
        vacancies:{required, numeric, minValue: minValue(1), maxValue: maxValue(10000)},
        start_date: {required},
        end_date: {required}
      }
  },
    

  methods: {
    swalSalir(){
        this.$swal.fire({
        title: '',
        text: "¿Desea salir?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                this.$router.go(-1)                        
            }
        })
    },
    swalEdit(){this.$swal.fire({
            title: '¿Desea editar este evento?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
            }).then((result) => {

                if (result.value) {  
                  const formData = new FormData(); 
                  formData.append('event_id', this.eventId)
                  formData.append('username',this.username) //aqui se envía al usuario
                  formData.append('name', this.event.name) 
                  formData.append('description', this.event.description) 
                  formData.append('vacancies', this.event.vacancies) 
                  formData.append('amount', this.event.amount) 
                  formData.append('location', this.event.location) 
                  formData.append('type', this.event.type)
                  formData.append('start_date', startOfDay(new Date(this.event.start_date)).toISOString())
                  formData.append('end_date', startOfDay(new Date(this.event.end_date)).toISOString())
                  formData.append('dayCfP', startOfDay(new Date(this.event.dayCfP)).toISOString())
                  formData.append('keywords', JSON.stringify(this.event.keywords))
                  formData.append('members', JSON.stringify(this.event.members))
                  if (this.event.fileProgramme != null)
                    formData.append('programme', this.event.fileProgramme, this.event.fileProgramme.name)
                  if (this.event.fileImage != null)
                    formData.append('picture', this.event.fileImage, this.event.fileImage.name)
                  var base_page=this.axios.defaults.baseURL
                  formData.append('link',base_page)
                  
                  this.axios.post('/update_event', formData)
                  .then(response => { 
                      console.log(response)
                  })
                  .catch(error => {
                      console.log(error.response)
                  });
                        this.$swal.fire(
                            'Guardado con éxito',
                            'El evento fue editado exitosamente',
                            'success'
                        )  
                  this.$router.push({ name: 'eventDetail', params: { id: this.eventId }}) //esto deberia regresarte a la ventana de eventDetail

                }
                    
            })
                  
    },
    showModal() { //se llama al finalizar la edición
        this.$refs['finish-modal'].show()
    },
    hideModal(){ //se llama si el usuario regresa a la edición
        this.$refs['finish-modal'].hide()
    },
    showModalAway(){ //este método es para salir de la ventana si guardar cambios
        this.$refs['away-modal'].show()
    },
    hideModalAway(){ //se llama si el usuario regresa a la edición
        this.$refs['away-modal'].hide()
    },
    salirVentana(){
      this.$router.push({ name: 'eventDetail', params: { id: this.eventId }})  //esto deberia regresarte a la ventana de eventDetail
    },
    editarEvento(){ //se llama cuando el usuario acepta los cambios
        const formData = new FormData(); 
        formData.append('event_id', this.eventId)
        formData.append('username',this.username) //aqui se envía al usuario
        formData.append('name', this.event.name) 
        formData.append('description', this.event.description) 
        formData.append('vacancies', this.event.vacancies) 
        formData.append('amount', this.event.amount) 
        formData.append('location', this.event.location) 
        formData.append('type', this.event.type)
        formData.append('start_date', startOfDay(new Date(this.event.start_date)).toISOString())
        formData.append('end_date', startOfDay(new Date(this.event.end_date)).toISOString())
        formData.append('dayCfP', startOfDay(new Date(this.event.dayCfP)).toISOString())
        formData.append('keywords', JSON.stringify(this.event.keywords))
        formData.append('members', JSON.stringify(this.event.members))
        if (this.event.fileProgramme != null)
          formData.append('programme', this.event.fileProgramme, this.event.fileProgramme.name)
        if (this.event.fileImage != null)
          formData.append('picture', this.event.fileImage, this.event.fileImage.name)
             
        
        this.axios.post('/update_event', formData)
        .then(response => { 
            console.log("upd: ",response)
        })
        .catch(error => {
            console.log(error.response)
        });
        
        this.$router.push({ name: 'eventDetail', params: { id: this.eventId }}) //esto deberia regresarte a la ventana de eventDetail
    },
    onRowSelectedKeywords(items){
        this.keywordSelected = items;
    },
    onRowSelectedMember(items){
        this.memberSelected = items;
    },
    eventStartComponent(){
      if(startOfDay(this.event.start_date) <= startOfDay(this.today)){//si el evento ya empezó, no se puede editar su comienzo
        return false;
      }
      return true;
    },
    eventDayCfPComponent(){ //si el fin de la etapa Call for Papers ya pasó, no se puede editar
      if(startOfDay(this.today) > startOfDay(this.event.dayCfP)){
        return false;
      }
      return true;
    },
    customFormatter(date){
      return moment(date).format('D / MM / YYYY')
    },

      addMember() {
          this.$v.member.$touch()
          if (this.$v.member.$anyError || this.member.selected == null) {
            return
          }else{
            //Validaciones
            if(this.member.selected=='Asistente'){
              this.$swal("No puede asignar asistentes en este paso");
                 return
            }

            // No se van a asignar postulantes en este paso. Esta restriccion se debe descomentar en cuanto tengamos front para asignar postulantes.
            // if(this.member.selected=='Postulante'){
            //   this.$swal("No puede asignar postulantes en este paso");
            //      return
            // }

            for (let member of this.event.members){
              if(this.member.email == member.email && this.member.selected == member.role){
                 this.$swal("El rol asignado a ese usuario se repite");
                 return
              }

              if(this.member.email == member.email && member.role == 'Presidente del comité académico' && this.member.selected =='Miembro del comité académico'){
                this.$swal("El Presidente del comité académico no puede ser Miembro del comité académico");
                return
              }

              if(this.member.email == member.email && member.role == 'Miembro del comité académico' && this.member.selected =='Presidente del comité académico'){
                this.$swal("El Miembro del comité académico no puede ser Presidente del comité académico");
                return
              }

              if(this.member.email == member.email && member.role == 'Presidente del comité organizador' && this.member.selected =='Miembro del comité organizador'){
                this.$swal("El Presidente del comité organizador no puede ser Miembro del comité organizador");
                return
              }

              if(this.member.email == member.email && member.role == 'Miembro del comité organizador' && this.member.selected =='Presidente del comité organizador'){
                this.$swal("El Miembro del comité organizador no puede ser Presidente del comité organizador");
                return
              }

              if(member.role == 'Presidente del comité organizador' && this.member.selected =='Presidente del comité organizador'){
                this.$swal("Ya existe un Presidente del comité organizador");
                return
              }

              if(member.role == 'Presidente del comité académico' && this.member.selected =='Presidente del comité académico'){
                this.$swal("Ya existe un Presidente del comité académico");
                return
              }

              
            }
            if(this.answer=="false"){
              this.$swal("El usuario no esta registrado");
                  return
            }
            
            this.event.members.push({
              email: this.member.email,
              role: this.member.selected
            });
            
            this.member.email= '';
            this.$v.$reset();
    
          }
          
          },
      dateRangeValidation(day1,day2){//para validar fechas
        var cpyDay1 = new Date(day1);
        var cpyDay2 = new Date(day2);
        cpyDay1.setDate(cpyDay1.getDate() + 1);
        cpyDay2.setDate(cpyDay2.getDate() + 1);
  
        if(cpyDay1 < this.today){
          this.$swal("Fecha inicial inválida","¡La fecha seleccionada es anterior a hoy!");
          return false;
        }
        if(cpyDay2 < this.today){
          this.$swal("Fecha final inválida","¡La fecha seleccionada es anterior a hoy!");
          return false;
        }
        if(cpyDay1 > cpyDay2){
          this.$swal("Rango de fechas inválido", "¡Fecha final anterior a la fecha inicial!");
          return false;
        }
        return true;
      },
      validacionStep1(){
        if(this.event.name=='' || this.$v.event.name.$anyError){
          this.$swal({
            title: 'Ingrese el nombre correctamente',
            width: 600,
            padding: '3em',
            background: '#fff',
            backdrop: `
              rgba(0,0,123,0.4)
              url("http://giphygifs.s3.amazonaws.com/media/10j1sRnpiklXB6/200.gif")
              top left
              no-repeat
            `
          })
          return false;
        }
        if(this.event.description=='' || this.$v.event.description.$anyError){
          this.$swal("Ingrese la descripción correctamente");
          return false;
        }
        if(this.event.location=='' || this.$v.event.location.$anyError){
          this.$swal("Ingrese la ubicación correctamente");
          return false;
        }
        if(this.$v.event.type.$anyError || this.event.type == null){
          this.$swal("No ha seleccionado el tipo de evento");
          return false;
        }
        if(this.event.vacancies=='' || this.$v.event.vacancies.$anyError){
          this.$swal("Ingrese el n° de vacantes correctamente");
          return false;
        }

        //Validación de fechas
        if(this.event.start_date == ""){
          console.log(this.event.start_date)
          this.$swal("Ingrese una fecha inicial");
          return false;
        }
        if(this.event.end_date == ""){
          this.$swal("Ingrese una fecha final");
          return false;
        }
        if(this.event.dayCfP == ""){ //esto nunca pasa creo 
          this.$swal("Ingrese la fecha final de la etapa Call for Papers");
          return false;
        }
        if(!this.dateRangeValidation(this.event.start_date, this.event.end_date)){
          return false;
        }
        var dateTypeStart_date = startOfDay(new Date(this.event.start_date));
        var dateTypeEnd_date = startOfDay(new Date(this.event.end_date));
        var dateTypeDay_CfP = startOfDay(new Date(this.event.dayCfP));
        console.log(dateTypeStart_date)
        console.log(dateTypeEnd_date)
        console.log(dateTypeDay_CfP)
        if(dateTypeDay_CfP < startOfDay(this.today)){  
          this.$swal("¡Fecha fin de Call for Papers anterior a hoy!");
          return false;
        }
        if(dateTypeStart_date <= dateTypeDay_CfP){
          this.$swal("Call for Papers se cruza con el evento","Recuerde: Call for Papers termina el "+dateTypeDay_CfP.toLocaleDateString(), "error");
          return false;
        }
        /***************/
        if(this.$v.event.amount.$anyError){
          this.$swal("Ingrese el precio correctamente");
          return false;
        }
        if(this.event.amount == ''){ //si no ingresó monto este será 0
          this.event.amount = '0';
        }
        return true;
      },
      validacionStep2(){
        if(this.event.members.length!=0){
          this.member.email='';
          this.user='';
          this.$v.$reset(); 
          return true;
       
        }else {
          this.$swal("No ha ingresado ningún colaborador");
          return false;
      }
      },
      addKeyword(tempKeyword){
        if(tempKeyword == ''){
          return;
        }
        var tempKeywords = [];
        for(var index in this.event.keywords){
          tempKeywords.push(this.event.keywords[index].name);
        }
        var indexPrev = tempKeywords.indexOf(this.tempKeyword.name);
        if(indexPrev != -1){
          this.$swal("Ya agregó esa categoría.");
          return;
        }
        var newKeyword = {
          name: tempKeyword
        }
        this.event.keywords.push(newKeyword)
      },
      deleteSelectedKeyword(){
          if(this.keywordSelected.length != 0){
            let indice = this.event.keywords.indexOf(this.keywordSelected[0]);
            this.event.keywords.splice(indice,1);
          }
      },
      deleteSelectedMember(){
          if(this.memberSelected.length != 0){
            let indice = this.event.members.indexOf(this.memberSelected[0]);
            this.event.members.splice(indice,1);
          }
      }

    },

        validate() {
      this.$v.form.$touch();
      var isValid = !this.$v.form.$invalid
      this.$emit('on-validate', this.$data, isValid)
      return isValid
    },

    components: {
        FormWizard,
        TabContent,
        Datepicker
    },

    mounted: function() {
      this.axios.post('/allroles')
      .then(response => (this.options = response.data.roles))
      this.axios.post('/alltypes')
      .then(response => (this.eventTypes = response.data. types))
    },

    created(){
        this.username = this.user.username;
        this.eventId = this.$route.params.id; //recibiendo id del evento del router
        this.axios.post('/view_event_information', { //llamando al back para recibir info del evento, se pasa id como parámetro
            'event_id': this.eventId
        })
        .then(response => {
          this.event = response.data.event
          console.log(this.event)
          })
        .catch(error => {
            console.log(error.response)
        })

    }

}
</script>

<style scoped>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:10px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 45px 30px;
    }
    .box legend {
        font-size:26px;
        text-align:center;
        font-weight:300;
    }
    .titulo{
      font-size: 35px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
    }
    .steps{
      margin-top: 25px;
    }
    .table{
      table-layout: fixed;
    }
    .botonAyuda{
      padding: 0px 7px;
      font-size: 14px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .bcont{
      margin-top:35px;
    }
</style>
