<template>
    <div class="container">
        <b-row>
            <b-col class="titulo">
                <div class="Titulo">
                    <strong>{{Entregable.Title}}</strong>
                </div>
            </b-col>       
        </b-row>
        <b-col md="12">
            <div class="card-group formato3">
                <div class="card card-body">
                    <b-row>
		                <b-col class="formato">
		                    <h4>Autores</h4>
		                </b-col>
	                </b-row><!--/row-->
	                <b-row>
		                <b-col md="12">
		                    <div class="card card-body">
                                <li  v-for="author in Entregable.Authors" :key="author.id">
                                    {{author.first_name}} {{author.last_name}} 
                                </li>                 

                            </div>
                        </b-col>
	                </b-row><!--/row-->
	                <b-row>
		                <b-col class="formato2">
		                    <h4>Keyword</h4>
		                </b-col>
	                </b-row><!--/row-->
	                <b-row>
		                 <b-col  md="12">
		                    <div class="card card-body">
                                    <li  v-for="keyw in Entregable.Keywords" :key="keyw">
                                        {{keyw}}
                                    </li>
                            </div>
		                </b-col>
	                </b-row><!--/row-->
                    <b-row class="row">
		                <b-col class="formato2">
		                    <h4>Resumen</h4>
		                </b-col>
	                </b-row><!--/row-->
	                <b-row>
		                <b-col md="12">
		                    <div class="card card-body">{{Entregable.Summary}}</div>
		                </b-col>
	                </b-row><!--/row-->
                    <b-row>
		                <b-col class="centerI">
                            <br/>
		                    <b-button variant="primary" v-on:click="goToPaperDoc()">Visualizar Entregable</b-button>
		                </b-col>
                    </b-row><!--/row-->
                </div>
                <div class="card card-body">
                    <b-form @submit.stop.prevent="onSubmit">
                        <b-row>
                            <b-col class="formato">
                            <h2><strong>Evaluación</strong></h2>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row>
                            <b-col class="formato4">
                            <h5>Criterios Establecidos</h5>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row>
                            <b-col class="formato4">
                                <li  v-for="(rew,index) in Review" :key="rew.id">
                                    {{rew.name}}
                                    <b-row>
                                        <b-col class="centerI">
                                            <b-form-radio-group
                                            :name="'rad'+index"
                                            :options="options"
                                            size="sm"
                                            v-model="selected3[index]"  
                                            stacked                                          
                                        ></b-form-radio-group>
                                        <!--Mostrar datos><div class="mt-3">Selected: <strong>{{ selected3[index]}}</strong></div><-->              
                                        </b-col>    
                                    </b-row>
                                    <br>
                                </li>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row>
                            <b-col class="formato4">
                            <h6>Observaciones para el evaluado</h6>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row >
                            <b-col>
                                <b-form-textarea
                                    id="textarea"
                                    placeholder="Ingrese observaciones para el evaluado"
                                    rows="3"
                                    max-rows="6"
                                    v-model="$v.text.$model"
                                    :state="$v.text.$dirty ? !$v.text.$error : null"
                                    aria-describedby="input-12-live-feedback"
                                ></b-form-textarea>
                                <b-form-invalid-feedback id="input-12-live-feedback">
                                    Ingrese las observaciones
                                </b-form-invalid-feedback>
                            </b-col>
                        </b-row>
                        <br>
                        <b-row>
                            <b-col class="formato4">
                            <h5>Criterios Generales</h5>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row>
                            <b-col class="formato4">
                            <h6>Nivel de confianza del evaluador con la/las categorías del entregable </h6>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row >
                            <b-col>
                                <div class="centerI">
                                    <b-form-group class="{ 'hasError': $v.selected.$error}">
                                        <b-form-radio-group 
                                            name="radio"
                                            :options="options"
                                            size="sm"
                                            v-model="selected"
                                            v-model.trim="$v.selected.$model"
                                            :state="$v.selected.$dirty ? !$v.selected.$error : null"
                                            stacked
                                    ></b-form-radio-group>
                                        <div class="error formato6" v-if="$v.selected.$error">
                                            Seleccione una opción
                                        </div>
                                    </b-form-group>
                                </div>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col class="formato4">
                            <h6>Resultado final</h6>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row >
                            <b-col>
                                <div class="centerI">
                                    <b-form-group >
                                        <b-form-radio-group
                                            name="radio2"
                                            :options="options2"
                                            size="sm"
                                            v-model="$v.selected2.$model"
                                            :state="$v.selected2.$dirty ? !$v.selected2.$error : null"
                                            stacked
                                        ></b-form-radio-group>
                                            <div class="error formato6" v-if="$v.selected2.$error">
                                                Seleccione una opción
                                            </div>
                                    </b-form-group>
                                </div>
                            </b-col>
                        </b-row>  
                        <b-row>
                            <b-col class="formato4">
                            <h6>Observaciones para el presidente del comité</h6>
                            </b-col>
                        </b-row><!--/row-->
                        <b-row >
                            <b-col>
                                <b-form-textarea
                                    id="textarea"
                                    rows="3"
                                    max-rows="6"
                                    v-model="$v.text2.$model"
                                    placeholder="Ingrese observaciones para el presidente"
                                    :state="$v.text2.$dirty ? !$v.text2.$error : null"
                                    aria-describedby="input-13-live-feedback"
                                ></b-form-textarea>
                                <b-form-invalid-feedback id="input-13-live-feedback">
                                    Ingrese las observaciones
                                </b-form-invalid-feedback>
                            </b-col>
                        </b-row>
                        <br>
                        <b-row class="centerI2">
                            <b-col > 
                                <b-button  variant="success" @click="onSubmit">Guardar Cambios</b-button>
                            </b-col>
                            <b-col>
                                <b-button variant="danger" @click="cancelar">Cancelar</b-button>
                            </b-col>
                        </b-row>
                    </b-form>         
                </div>
    </div>
    </b-col> 
</div>
</template>
<script>
import { required} from 'vuelidate/lib/validators'

export default{
    name: 'evaluatedPaper',
    data () {    
        return{
            username: '',
            data:[],
            Entregable:{
                Title: '',
                Authors: [],
                Keywords: [],
                Summary: ''
            },
            Review:[],
            options:['Muy malo','Malo','Regular', 'Bueno', 'Muy bueno'],
            options2:['Fuerte Rechazo','Rechazo','Indeciso', 'Débil Aceptación', 'Fuerte Aceptación'],
            Evaluation1:[],
            selected:'',
            selected2:'',
            selected3:[],
            text:'',
            text2:'',
            FinalEvaluation:[],
            id_evaluation: 0,
            info: ''
        }
    },
     validations: {
        selected3:{required},
        selected2:{required},
        selected:{required},
        text2:{required},
        text:{required},
      },
    methods: {
        goToPaperDoc(){
            this.axios.post('/send_submission',{
                "name_submission": this.Entregable.Title
            })
            .then((response)=>{
                console.log(response.data);
                //window.location.href = response.data.programme
                window.open(response.data.document, '_blank');
            })
            .catch(e=>{
                console.log(e)
            })
        },
        cancelar(){
            this.$swal({
                title: '',
                text: "¿Está seguro de cancelar la evaluación?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    this.selected=''
                    this.selected2=''
                    this.text=''
                    this.text2=''
                    this.selected3=new Array(this.Review.length)
                    this.FinalEvaluation=[]
                    this.$v.$reset()
                    this.$v.selected2.$reset()
                    this.$v.selected.$reset()
                    this.$router.go(-1)
                }
            })
        },
        onSubmit(){
            this.$v.$touch()
            if (this.$v.text.$anyError){
                return
            }else{
                if (this.$v.selected.$anyError) {
                    this.$swal("Seleccione nivel de confianza");
                    return
                }else{
                    if (this.$v.selected2.$anyError) {
                        this.$swal("Seleccione resultado final");
                        return
                    }else{
                        if((this.$v.text2.$anyError)){ 
                            return      
                        }else{
                            console.log(this.selected3.length)
                            console.log(this.Review.length)
                            if(this.selected3.length==this.Review.length){          
                                this.$swal({
                                        title: '¿Desea guardar los cambios en la evaluación?',
                                        text: "",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Aceptar',
                                        cancelButtonText: 'Cancelar'
                                        }).then((result) => {
                                        if (result.value) {
                                            for (let i=0; i < this.Review.length;i++){
                                                if(this.selected3[i]!=null){
                                                    this.Evaluation1.push({
                                                    criterium_id: this.Review[i].id,
                                                    score: this.selected3[i]
                                                    })
                                                }   
                                            }

                                            this.axios.post('/evaluate_papers', {   
                                                "id": this.id_evaluation,
                                                "trust": this.selected, 
                                                "score" : this.selected2,
                                                "criterium_evaluation" : JSON.stringify(this.Evaluation1),
                                                "comment_author":this.text,
                                                "comment_president":this.text2,
                                                "username": this.username
                                            }).then(response =>{
                                                this.$swal.fire(
                                                    'Guardado con éxito',
                                                    'Sus cambios fueron guardados exitosamente',
                                                    'success'
                                                )
                                                this.preferences=[];
                                                this.selected=[];
                                                console.log(response)    
                                                //Ya no mandar correo de evaluaciones parciales.
                                                // this.axios.post('/send_partial_evaluation_results', {
                                                //     "id": this.id_evaluation,
                                                //     "comment": this.text
                                                // })
                                                // .then(response => {
                                                //     console.log(response)
                                                // })
                                                // .catch(error => {
                                                //     console.log(error.response)
                                                // })    
                                                this.$router.go(-1)  
                                            }).catch(e =>{
                                                this.$swal.fire(
                                                'Upss..',
                                                'Hubo un error al guardar sus cambios',
                                                'error'
                                                )
                                                this.selected='',
                                                this.selected2='',
                                                this.text='',
                                                this.text2='',
                                                this.selected3=new Array(this.Review.length)
                                                this.$v.$reset(),
                                                this.$v.selected2.$reset(),
                                                this.$v.selected.$reset();
                                                console.log(e)
                                            })
                                        }
                                    })    

                        }else{
                            this.$swal("Seleccione criterios generales");
                            return
                        }
                    }
                }
            }               
          }
        }        
    },
    mounted: function()  {
        this.username = JSON.parse(localStorage.getItem('user')).username;
        this.id_evaluation=this.$route.params.id_evaluation;
        this.axios.post('/send_evaluation_data', {   
            "id": this.id_evaluation
        }).then(response =>{
            console.log(response.data);
            this.Entregable.Title = response.data.info.name
            this.Entregable.Authors = response.data.info.authors
            this.Entregable.Keywords = response.data.info.keyword
            this.Entregable.Summary = response.data.info.summary
            this.text = response.data.info.comment_author
            this.text2 = response.data.info.comment_president


          
        

            switch(response.data.info.trust){
                case 1:
                    this.selected ='Muy malo';
                    break;
                case 2:
                    this.selected='Malo';
                    break;
                case 3:
                    this.selected='Regular';
                    break;
                case 4:
                    this.selected= 'Bueno';
                    break;
                case 5:
                    this.selected = 'Muy bueno';
                    break;
            }


            switch(response.data.info.score){
                case 1:
                    this.selected2 ='Fuerte Rechazo';
                    break;
                case 2:
                    this.selected2='Rechazo';
                    break;
                case 3:
                    this.selected2='Indeciso';
                    break;
                case 4:
                    this.selected2= 'Débil Aceptación';
                    break;
                case 5:
                    this.selected2= 'Fuerte Aceptación';
                    break;
            }

            this.Review = response.data.info.criteria
            
            var t = []
            for (let i=0; i < this.Review.length;i++){
                var aux=''
                switch(this.Review[i].score){
                    case 1:
                        // alert("entro1")
                        aux ='Muy malo';
                        t.push(aux);
                        break;
                    case 2:
                        // alert("entro2")
                        aux='Malo';
                        t.push(aux);
                        break;
                    case 3:
                        // alert("entro3")
                        aux='Regular';
                        t.push(aux);
                        break;
                    case 4:
                        // alert("entro4")
                        aux= 'Bueno';
                        t.push(aux);
                        break;
                    case 5:
                        // alert("entro5")
                        aux= 'Muy bueno';
                        t.push(aux);
                        break;
            }
                
            }
            this.selected3 = t;
        }).catch(e =>{
            console.log(e);
        })
    }
}           
</script>    
        
<style scoped>
     .titulo{
      font-size: 50px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
      margin-top:20px; 
    }

    .formato{
      margin-top:5px; 
      font-family: Calibri, 'Trebuchet MS', sans-serif;  
    }

    .formato2{
      margin-top:20px; 
      font-family: Calibri, 'Trebuchet MS', sans-serif;  
    }

    .formato3{
      margin-top:20px; 
      font-family: Calibri, 'Trebuchet MS', sans-serif;  
    }

     .formato4{
      margin-top:10px; 
      font-family: Calibri, 'Trebuchet MS', sans-serif;  
    }

    .formato5{
      margin-top:15px; 
      font-family: Calibri, 'Trebuchet MS', sans-serif; 
    
    }

    .formato6{
      margin-left:40px;
      text-align: left;
      font-size: 12px;
      font-family: Calibri, 'Trebuchet MS', sans-serif; 
      color: red
    
    }
   
    .centerI {
        float: left;
        position: relative;
        left: 40%;
    }   

    .centerI2 {
        text-align: center
    } 

</style>    

          