<template>
    <div class="eventDetail">
        <div class="container mt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <h1><b> {{title}} </b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <h3> Del {{startDate}} - Al {{endDate}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <div v-if="picture == ' ' ">
                        <b-img  v-bind:src='pic_default' fluid></b-img>
                    </div>
                    <div v-else>
                        <b-img v-bind:src='picture' fluid></b-img>
                    </div>
                    <div class="row mt-4">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Tipo de evento</h5>
                                    <p class="card-text">{{ev_type}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Descripción</h5>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Ubicación</h5>
                                    <p class="card-text">{{location}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row mt-4">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Tipo de Evento</h5>
                                    <p class="card-text">{{eventType}}</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    
                    <div class="row" v-if="OrganiOrAcademComOrOrgMem===true">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Organización</h5>
                                    <p class="card-text"></p>
                                    <b-list-group>
                                    <b-list-group-item :to="{name: 'editEvent', params:{id:id_event}}">Editar Información de Evento</b-list-group-item>
                                    </b-list-group>
                                    <!--<b-button class="mt-3 mb-3 ml-3" variant="primary" size="sm">Cancelar Evento</b-button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-2" v-if="OrganiOrEvaluaOrAcademCom===true">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Call for Papers</h5>
                                    <p class="card-text"></p>
                                    <b-list-group>
                                    <b-list-group-item v-if="AcademCom===true" :to="{name: 'paperList', params:{id:id_event, id_phase:id_phase}}">Asignación de Evaluadores</b-list-group-item>
                                    <b-list-group-item v-if="AcademCom===true" :to="{name: 'paperListReview', params:{id:id_event}}">Revisión Final de Papers</b-list-group-item>
                                    <b-list-group-item v-if="OrganiOrAcademComOrOrgMem===true" :to="{name: 'editPhases', params:{id:id_event}}">Editar Call for Papers</b-list-group-item>
                                    <b-list-group-item v-if="OrganiOrAcademComOrOrgMem===true" :to="{name: 'sendInvitation', params:{id:id_event}}">Enviar Invitaciones</b-list-group-item>
                                    <b-list-group-item v-if="Evaluator===true" :to="{name: 'selectPaper', params:{id:id_phase}}">Escoger Preferencias</b-list-group-item>
                                    <b-list-group-item v-if="Evaluator===true" :to="{name: 'myPapers', params:{id:id_phase}}">Evaluar Papers</b-list-group-item>
                                    </b-list-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Participación</h5>
                                    <p class="card-text"></p>
                                    <b-list-group>
                                    <div class="list-group-item list-group-item-action" style="list-group-item" v-on:click="goToProgrammeDoc()">Visualizar Programa</div>
                                    <b-list-group-item v-if="Postulant===true" :to="{name: 'uploadDocPostulant',params:{id:id_event}}">Registro de Documentos</b-list-group-item>
                                    <b-list-group-item v-if="Participant===true">Retirarse de Evento</b-list-group-item>
                                    </b-list-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'eventDetail',
    data () {
        return {
            amount: 0,
			description: '',
			title: '',
			vacancies: 0,
			startDate: '',
			endDate: '',
            location: '',
            // eventType: '',
			programme: '',
            picture: '',
            pic_default: 'https://www.acenet.edu/PublishingImages/Interior-Page-Heroes/2018ACE-1045.JPG?RenditionID=10',
            roles: [],
            id_event: 0,
            id_phase:0,
			Postulant: false,
			Organizer: false,
			Evaluator: false,
			Participant: false,
            OrganizCom: false,
            AcademCom: false,
            OrganiOrEvaluaOrAcademCom: false,
            OrganiOrAcademComOrOrgMem: false,
            ev_type:'',
            OrganiOrAcademCom: false,
            user : JSON.parse(localStorage.getItem('user')),
            mainProps: { blank: true, width: 75, height: 75, class: 'm1' }
        }
    },
    methods:{
        goToProgrammeDoc(){ 
            this.axios.post('/send_programme',{
                "id_event": this.$route.params.id
            })
            .then((response)=>{
                console.log(response.data);
                //window.location.href = response.data.programme
                window.open(response.data.programme, '_blank');
            })
            .catch(e=>{
                console.log(e)
            })
        }
    },
    created () {
        this.id_event=this.$route.params.id;
		
        this.axios.post('/specific_event_roles',{
			"username":this.user.username,
			"id_event":this.$route.params.id
		})
		.then((response)=>{
			console.log(response.data);
            this.amount = response.data.amount;
            this.title = response.data.name;
			this.description = response.data.description;
			this.vacancies = response.data.vacancies;
			this.startDate = response.data.startDate;
			this.endDate = response.data.endDate;
			this.location = response.data.location;
			this.programme = response.data.programme;
            this.picture = response.data.picture;
            this.ev_type = response.data.type;
            if(this.picture === ""){
                console.log('pic: 1');
            }
            if(this.picture == ' '){
                console.log('pic: 2');
            } 
            this.roles = response.data.roles;
            var i = 0;
            for (const role in this.roles){
                if (this.roles[i].name == "Postulante") this.Postulant=true;
                if (this.roles[i].name == "Presidente del comité organizador") this.Organizer=true;
                if (this.roles[i].name == "Miembro del comité académico") this.Evaluator=true;
                if (this.roles[i].name == "Miembro del comité organizador") this.OrganizCom=true;
                if (this.roles[i].name == "Presidente del comité académico") this.AcademCom=true;
                if (this.roles[i].name == "Asistente") this.Participant=true;
                i++;
            }
            if (this.Organizer || this.Evaluator || this.AcademCom || this.OrganizCom) this.OrganiOrEvaluaOrAcademCom=true;
            if (this.Organizer || this.AcademCom) this.OrganiOrAcademCom=true;
            if (this.Organizer || this.AcademCom || this.OrganizCom) this.OrganiOrAcademComOrOrgMem=true;
		})
		.catch(e=>{
			console.log(e)
        })  
        this.axios.post('/get_phase_by_event',{
            "event_id": this.$route.params.id
        })
        .then((response)=>{
            console.log(response.data);
            this.id_phase = response.data.phase_id
            console.log(this.id_phase);
        })
        .catch(e=>{
            console.log(e)
        })
    }

}

</script>

<style scoped>
.borde {
    border: 2px solid;
    border-color: rgb(0, 191, 255);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.borde2{
    border: 1px solid;
    border-color: rgb(0, 191, 255);
}
</style>