<template>
    <div>
        <b-form-group>
            <b-container class="box well">
                <legend>Reportes del uso del sistema</legend>
                <hr>

                <b-row class="mt-2">
                    <span class="lblReport">Reportes: </span>
                    <b-form-group>
                        <b-form-radio-group
                            id="report-options"
                            v-model="selected"
                            :options="options_report"
                            name="report-options"
                        ></b-form-radio-group>
                    </b-form-group>
                </b-row>

                <b-row class="mt-2">
                    <b-col cols="2">
                        <span class="labelT">Fecha inicial: </span>
                    </b-col>
                    <b-col cols="3">
                        <datepicker
                                :format="customFormatter"
                                :language="es"
                                placeholder="Fecha de inicio"
                                v-model="periodStart"
                        ></datepicker>
                    </b-col>
                    <b-col cols="2">
                        <span class="labelT">Fecha final: </span>
                    </b-col>
                    <b-col cols="3">
                        <datepicker
                                :format="customFormatter"
                                :language="es"
                                placeholder="Fecha fin"
                                v-model="periodEnd"
                        > </datepicker>
                    </b-col>
                    <b-col cols="2">
                        <b-button @click="refresh(selected)" size="sm" variant="outline-success">Actualizar gráfica</b-button>
                    </b-col>
                </b-row>

                <br/> <hr/> <br/>
                <div v-if="this.selected === 'created'">
                    <EventChart id="print_created"
                        :chart-data='datacollection'
                        :options="myOptions"
                    ></EventChart>
                    <br/> <hr/> <br/>
                    <b-row align-h="center">
                        <b-button @click="createPDF('print_created')" size="lg" variant="outline-info">Generar Reporte</b-button>
                    </b-row>
                </div>
                <div v-else-if="this.selected === 'active'">
                    <EventChart id="print_active"
                        :chart-data='datacollection'
                        :options="myOptions"
                    ></EventChart>
                    <br/> <hr/> <br/>
                    <b-row align-h="center">
                        <b-button @click="createPDF('print_active')" size="lg" variant="outline-info">Generar Reporte</b-button>
                    </b-row>
                </div>
                <div v-else-if="this.selected === 'created_usr'">
                    <EventChart id="print_created_usr"
                                :chart-data='datacollection'
                                :options="myOptions"
                    ></EventChart>
                    <br/> <hr/> <br/>
                    <b-row align-h="center">
                        <b-button @click="createPDF('print_created_usr')" size="lg" variant="outline-info">Generar Reporte</b-button>
                    </b-row>
                </div>
                <div v-else-if="this.selected === 'active_usr'">
                    <EventChart id="print_active_usr"
                                :chart-data='datacollection'
                                :options="myOptions"
                    ></EventChart>
                    <br/> <hr/> <br/>
                    <b-row align-h="center">
                        <b-button @click="createPDF('print_active_usr')" size="lg" variant="outline-info">Generar Reporte</b-button>
                    </b-row>
                </div>
                <div v-else>
                    No ha selecccionado una opción
                </div>
                <br> <br>
            </b-container>
        </b-form-group>
    </div>
</template>


<script>
    import Datepicker from 'vuejs-datepicker';
    import {es} from 'vuejs-datepicker/dist/locale';
    import moment from "moment";
    import EventChart from '../components/ChartEvents.js';
    import jsPDF from 'jspdf';
    import html2canvas from 'html2canvas';

    export default {
        data() {
            return {
                periodStart: '',
                periodEnd: '',
                es: es,
                gradient: null,
                gradient2: null,
                datacollection: null,
                myOptions: null,
                loaded: false,
                number_events: [],
                number_users: [],
                selected: '',
                options_report: [
                    { text: 'Eventos creados', value: 'created' },
                    { text: 'Eventos Activos', value: 'active' },
                    { text: 'Usuarios creados', value: 'created_usr'},
                    { text: 'Usuarios Activos', value: 'active_usr'}
                ]
            }
        },
        components: {
            Datepicker,
            EventChart
        },
        methods: {
            customFormatter(date){
                return moment(date).format('D / MM / YYYY')
            },
            getMonths(start, end){
                var ini = this.$func.getMM(start);
                var fin = this.$func.getMM(end);
                var months = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"];
                months.mm = months.slice(ini - 1, fin);
                months.ini = ini - 1;
                months.fin = fin;
                return months;
            },
            fill_active_events_report(){
                var months = this.getMonths(this.periodStart, this.periodEnd);
                var _data = this.number_events.slice(months.ini, months.fin);
                this.datacollection = {
                    labels: months.mm,
                    datasets: [
                        {
                            label: 'Cantidad de eventos activos mensuales',
                            backgroundColor: 'rgb(2, 74, 151, 0.5)',
                            borderColor: 'rgb(2, 74, 151, 0.7)',
                            pointBorderColor: 'rgb(2, 74, 151, 1)',
                            borderWidth: 1,
                            data: _data
                        }
                    ]
                };

                this.myOptions = {
                    responsive: true,
                    maintainAspectRatio: false
                };
            },
            fill_created_events_report(){
                var months = this.getMonths(this.periodStart, this.periodEnd);
                var _data = this.number_events.slice(months.ini, months.fin);
                this.datacollection = {
                    labels: months.mm,
                    datasets: [
                        {
                            label: 'Cantidad de eventos creados mensuales',
                            backgroundColor: 'rgb(2, 74, 151, 0.5)',
                            borderColor: 'rgb(2, 74, 151, 0.7)',
                            pointBorderColor: 'rgb(2, 74, 151, 1)',
                            borderWidth: 1,
                            data: _data
                        }
                    ]
                };

                this.myOptions = {
                    responsive: true,
                    maintainAspectRatio: false
                };
            },
            fill_created_users_report(){
                var months = this.getMonths(this.periodStart, this.periodEnd);
                var _data = this.number_users.slice(months.ini, months.fin);
                this.datacollection = {
                    labels: months.mm,
                    datasets: [
                        {
                            label: 'Cantidad de usuarios creados mensuales',
                            backgroundColor: 'rgb(2, 74, 151, 0.5)',
                            borderColor: 'rgb(2, 74, 151, 0.7)',
                            pointBorderColor: 'rgb(2, 74, 151, 1)',
                            borderWidth: 1,
                            data: _data
                        }
                    ]
                };

                this.myOptions = {
                    responsive: true,
                    maintainAspectRatio: false
                };
            },
            fill_active_users_report(){
                var months = this.getMonths(this.periodStart, this.periodEnd);
                var _data = this.number_users.slice(months.ini, months.fin);
                this.datacollection = {
                    labels: months.mm,
                    datasets: [
                        {
                            label: 'Cantidad de usuarios activos mensuales',
                            backgroundColor: 'rgb(2, 74, 151, 0.5)',
                            borderColor: 'rgb(2, 74, 151, 0.7)',
                            pointBorderColor: 'rgb(2, 74, 151, 1)',
                            borderWidth: 1,
                            data: _data
                        }
                    ]
                };

                this.myOptions = {
                    responsive: true,
                    maintainAspectRatio: false
                };
            },
            createPDF(name){
                window.scrollTo(0,0);
                html2canvas(document.getElementById(name)).then(function(canvas) {
                    let img = canvas.toDataURL('image/png', 1);
                    //window.open().document.write('<img src="' + img + '" />'); //previsualizar foto en la web
                    let options = {orientation: 'l'};
                    let doc = new jsPDF(options);
                    doc.addImage(img, 'JPEG',15,20,270,180);
                    doc.save('Reporte.pdf');
                });
            },
            refresh(select){
                if(select === "created"){
                    this.number_events = [];
                    this.axios.post('/all_created_events',{
                        date_start: this.periodStart,
                        date_end : this.periodEnd
                    })
                        .then((response)=>{
                            console.log(response.data);
                            response.data.events.forEach(element => this.number_events.push(element.n_events));
                            this.fill_created_events_report();
                        })
                        .catch(e=>{
                            console.log(e)
                        })

                }else
                if(select === "active"){
                    this.number_events = [];
                    this.axios.post('/all_activated_events',{
                        date_start: this.periodStart,
                        date_end : this.periodEnd
                    })
                        .then((response)=>{
                            console.log(response.data);
                            response.data.events.forEach(element => this.number_events.push(element.n_events));
                            this.fill_active_events_report();
                        })
                        .catch(e=>{
                            console.log(e)
                        })
                }else if(select === "created_usr"){
                    this.number_users = [];
                    this.axios.post('/all_created_users',{
                        date_start: this.periodStart,
                        date_end : this.periodEnd
                    })
                        .then((response)=>{
                            console.log(response.data);
                            response.data.users.forEach(element => this.number_users.push(element.n_users));
                            this.fill_created_users_report();
                        })
                        .catch(e=>{
                            console.log(e)
                        })
                }else if(select === "active_usr"){
                    this.number_users = [];
                    this.axios.post('/all_activated_users',{
                        date_start: this.periodStart,
                        date_end : this.periodEnd
                    })
                        .then((response)=>{
                            console.log(response.data);
                            response.data.sessions.forEach(element => this.number_users.push(element.n_sessions));
                            this.fill_active_users_report();
                        })
                        .catch(e=>{
                            console.log(e)
                        })
                }

            }
        },
        watch:{
            selected: {
                deep: true,
                handler: function(newValue){
                    this.refresh(newValue);
                }
            }
        },
        created() {
            this.selected = "created";

            var currentYear = new Date().getFullYear();
            var start = currentYear+"-01-02";
            var end = currentYear+"-12-31";

            //comienza este año por defecto
            this.periodStart = new Date(start);
            this.periodEnd = new Date(end);
        }
    }
</script>

<style>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:30px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 15px 30px;
    }
    .box legend {
        font-size:26px;
        text-align:center;
        font-weight:300;
        font-weight: bold;
    }
    .lblReport{
        margin-left: 15px;
        margin-right: 15px;
        font-size:18px;
        text-align:right;
        font-weight:300;
        font-weight: normal;
    }
    .labelT{
        font-size:18px;
        text-align:right;
        font-weight:300;
        font-weight: normal;
    }
    #report-options{
        margin-top:1px;
    }
</style>
