<template>
  <div>
    <b-container>
      <b-row class="mt-5">
        <b-col align-self="center">
          <b-img center thumbnail fluid src="https://picsum.photos/500/400/?image=220" alt="Image 1"></b-img>
        </b-col>
      </b-row>
      <b-row>
        <div id=aboutBox>
          <p>Si quieres ir rápido, ve solo. Si quieres llegar lejos, ve acompañado.</p>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
    data() {
        return {
          name: ''
        }
    }
}
</script> 

<style scoped>
#aboutBox{
  background-color: white;
  /* border: solid;
  border-color:  rgb(0, 191, 255); */
  box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
  margin-left: 28.3%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
}
</style>