<template>
  <div>
    <!-- <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    > -->
      <!-- Text slides with image -->
      <!-- <b-carousel-slide
        caption="Bienvenido"
        text="en que estas?."
        img-src="https://picsum.photos/1024/480/?image=52"
      ></b-carousel-slide> -->

      <!-- Slides with custom text -->
      <!-- <b-carousel-slide 
        img-src="https://picsum.photos/1024/480/?image=54">
      </b-carousel-slide> -->

      <!-- Slides with image only -->
      <!-- <b-carousel-slide 
        img-src="https://picsum.photos/seed/picsum/1024/480">
      </b-carousel-slide>
    </b-carousel> -->
    <div id=titleScreen>
      <b-row>
        <b-col id=title>
          <h1>Rendezvous</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <h3>Gestión de Eventos Académicos</h3>
        </b-col>
      </b-row>

      <div id=aboutBox>
        <h4>Sobre Rendezvous</h4>
        <br>
        <p>Este software es una herramienta diseñada con el propósito de facilitar la organización de eventos con fines académicos, tales como talleres y conferencias.</p>
        <br>
        <p>Para comenzar, regístrece en el sistema o inicie sesión.</p>
      </div>

    </div>
  </div>
</template>

<script>
  /* Se generan las constantes*/
  import schedule from 'node-schedule'
  import { mapState, mapActions, mapGetters} from "vuex";

  export default {
    name : 'homeLogout', 
    data() {
      return {
        // slide: 0,
        // sliding: null
      }
    },
    methods: {
      ...mapActions('time', ['start', 'set_date']),
      ...mapGetters('time', ['today']),
      onSlideStart() {
        this.sliding = true
      },
      onSlideEnd() {
        this.sliding = false
      }
    },
    created(){
      
    },    
    computed: {
        ...mapState('time', ['now'])
    }
  }
</script>

<style scoped>
#titleScreen{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
}
#title{
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
}
#aboutBox{
  background-color: white;
  /* border: solid;
  border-color:  rgb(0, 191, 255); */
  box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 2%;
  padding: 12px;
}
</style>