<template>
    <div class="invitationEventDetail">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="container mt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <h1><b> {{title}} </b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <h3> Del {{startDate}} - Al {{endDate}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <div v-if="picture == ' ' ">
                        <b-img  v-bind:src='pic_default' fluid></b-img>
                    </div>
                    <div v-else>
                        <b-img v-bind:src='picture' fluid></b-img>
                    </div>
                    <div class="row mt-4">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Descripción</h5>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Ubicación</h5>
                                    <p class="card-text">{{location}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    
                    <div class="row">
                        <div class="container">
                            <div class="col  column2">
                                <div class="card card2">
                                <p><i class="fa fa-user fa2"></i></p>
                                <h3>{{vacancies}}</h3>
                                <p>Vacantes</p>
                                </div>
                            </div>
                            <div class=" col column2">
                                <div class="card card2">
                                <p><i class="fa fa-money fa2"></i></p>
                                <h3>S/ {{amount}}</h3>
                                <p>Costo</p>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="container">
                            <div class="card d-flex">
                                <div class="card-body">
                                    <h5 class="card-title">Opciones</h5>
                                    <p class="card-text"></p>
                                    <b-list-group>
                                    <b-list-group-item @click="participant=true" href="#" v-b-modal="'my-modal'">Participar</b-list-group-item>
                                    <b-list-group-item @click="postulant=true" href="#" v-b-modal="'my-modal2'">Postular</b-list-group-item>
                                    <div class="list-group-item list-group-item-action" style="list-group-item" v-on:click="goToProgrammeDoc()">Visualizar Programa</div>
                                    </b-list-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <b-modal id="my-modal" size="lg" centered hide-footer @hidden="resetModal">
                        <b-tabs content-class="mt-3">
                            <b-tab title="Logueo" active>
                                <div class="content-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center">
                                            <h2>Loguéate</h2>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <b-form @submit.prevent="handleSubmit">
                                                <b-input-group class="mt-3">
                                                    <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                        </span>
                                                    </b-input-group-text>
                                                    </template>
                                                    <b-form-input
                                                    id="input-username"
                                                    v-model="modal.username"
                                                    type="text"
                                                    required
                                                    placeholder="Ingrese su nombre de usuario"
                                                    ></b-form-input>
                                                </b-input-group>
                                                <b-input-group class="mt-3">
                                                    <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-lock"></i>
                                                        </span>
                                                    </b-input-group-text>
                                                    </template>
                                                    <template v-slot:append>
                                                    <b-input-group-append>
                                                        <b-button variant="outline-secondary">
                                                        <span class="input-group-addon">
                                                            <i id="pass-status" class="fa fa-eye" aria-hidden="true" @click="showPass"></i>
                                                        </span>
                                                        </b-button>
                                                    </b-input-group-append>
                                                    </template>
                                                    <b-form-input
                                                    id="input-password"
                                                    v-model="modal.password"
                                                    type="password"
                                                    required
                                                    placeholder="Ingrese su contraseña"
                                                    ></b-form-input>
                                                </b-input-group>
                                                <b-button type="submit" class="btn btn1 btn-block login-btn">Iniciar Sesión</b-button>
                                                <div class="or-seperator">
                                                    <i>o</i>
                                                </div>
                                                <div class="text-center social-btn">
                                                    <g-signin-button
                                                    :params="googleSignInParams"
                                                    @success="onSignInSuccess"
                                                    @error="onSignInError"
                                                    >
                                                    <a href="#" class="btn btn1 btn-danger btn-block">
                                                        <i class="fa fa-google"></i>Continuar con <b>Google</b>
                                                    </a>
                                                    </g-signin-button>
                                                </div>
                                            </b-form>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>
                                </div>
                            </b-tab>
                            <b-tab title="Registro">
                                <div class="content-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center">
                                            <h2>Regístrate</h2>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <b-form @submit.prevent="registrarUserParticipant">
                                            <b-row>
                                                <b-col>
                                                    <b-input-group class="mt-3">
                                                        <b-form-input
                                                            id="input-name"
                                                            v-model="$v.modalRegister.first_name.$model"
                                                            :state="$v.modalRegister.first_name.$model ? !$v.modalRegister.first_name.$error : null"
                                                            type="text"
                                                            required
                                                            placeholder="Nombres"
                                                        ></b-form-input>
                                                        <b-form-invalid-feedback v-if="!$v.modalRegister.first_name.required">
                                                            Este campo es obligatorio
                                                        </b-form-invalid-feedback> 
                                                    </b-input-group>
                                                </b-col>
                                                <b-col>
                                                    <b-input-group class="mt-3">
                                                        <b-form-input
                                                            id="input-lastname"
                                                            v-model="$v.modalRegister.last_name.$model"
                                                            :state="$v.modalRegister.last_name.$model ? !$v.modalRegister.last_name.$error : null" 
                                                            type="text"
                                                            required
                                                            placeholder="Apellidos"
                                                        ></b-form-input>
                                                        <b-form-invalid-feedback v-if="!$v.modalRegister.last_name.required">
                                                            Este campo es obligatorio
                                                        </b-form-invalid-feedback>
                                                    </b-input-group>
                                                </b-col>
                                            </b-row>

                                            <b-input-group class="mt-3">
                                                <b-form-input
                                                    id="input-email"
                                                    v-model="$v.modalRegister.email.$model"
                                                    :state="$v.modalRegister.email.$model ? !$v.modalRegister.email.$error : null"                        
                                                    type="email"
                                                    required
                                                    placeholder="Correo electrónico"
                                                ></b-form-input>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.email.email">
                                                    Email inválido
                                                </b-form-invalid-feedback>                    
                                            </b-input-group>

                                            <b-input-group class="mt-3">
                                                <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    </b-input-group-text>
                                                </template>
                                                <b-form-input
                                                    id="input-username-r"
                                                    v-model="$v.modalRegister.username.$model"
                                                    :state="$v.modalRegister.username.$model ? !$v.modalRegister.username.$error : null"
                                                    type="text"
                                                    required
                                                    placeholder="Nombre de Usuario"
                                                ></b-form-input>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.required">
                                                    Este campo es obligatorio
                                                </b-form-invalid-feedback>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.minLength">
                                                    Este campo debe tener al menos {{ $v.modalRegister.username.$params.minLength.min }} caracteres 
                                                </b-form-invalid-feedback>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.maxLength">
                                                    Este campo debe tener como máximo {{ $v.modalRegister.username.$params.maxLength.max }} caracteres 
                                                </b-form-invalid-feedback>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.alphaNum">
                                                    Este campo debe ser alfanumérico 
                                                </b-form-invalid-feedback>
                                                <b-popover target="input-username-r" triggers="hover" placement="right">
                                                    <template v-slot:title>Nombre de Usuario</template>
                                                    - Solo puede contener caracteres alfanuméricos.<br/>
                                                    - Con una longitud entre 4 y 20 caracteres.
                                                </b-popover>                  
                                            </b-input-group>

                                            <b-input-group class="mt-3">
                                                <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    </b-input-group-text>
                                                </template>
                                                <b-form-input
                                                        id="input-password-r"
                                                        v-model="$v.modalRegister.password.$model"
                                                        :state="$v.modalRegister.password.$model? !$v.modalRegister.password.$error : null"
                                                        type="password"
                                                        required
                                                        placeholder="Contraseña"
                                                    ></b-form-input>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.required">
                                                    Este campo es obligatorio
                                                    </b-form-invalid-feedback>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.minLength">
                                                    Este campo debe tener al menos {{ $v.modalRegister.password.$params.minLength.min }} caracteres 
                                                    </b-form-invalid-feedback>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.maxLength">
                                                    Este campo debe tener como máximo {{ $v.modalRegister.password.$params.maxLength.max }} caracteres 
                                                    </b-form-invalid-feedback>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.alphaNum">
                                                    Este campo debe ser alfanumérico 
                                                    </b-form-invalid-feedback>         
                                                    <b-popover target="input-password-r" triggers="hover" placement="right">
                                                    <template v-slot:title>Contraseña</template>
                                                    - Solo puede contener caracteres alfanuméricos.<br/>
                                                    - Con una longitud entre 8 y 20 caracteres.
                                                </b-popover>            
                                            </b-input-group>
                                            <br/>

                                            <b-button type="submit" class="btn btn1 btn-block login-btn">Registrarme</b-button>

                                            <div class="or-seperator"><i>o</i></div> 
                                            <div class="text-center social-btn">
                                                <g-signin-button
                                                    :params="googleSignInParams"
                                                    @success="onSignUpSuccess"
                                                    @error="onSignUpError"  
                                                    >
                                                    <a href="#" class="btn btn1 btn-danger btn-block"><i class="fa fa-google"></i>Registrarme con <b>Google</b></a>
                                                </g-signin-button>
                                            </div>
                                            </b-form>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>
                                </div>
                            </b-tab>
                        </b-tabs>
                    </b-modal>
                    <b-modal id="my-modal2" size="lg" centered hide-footer @hidden="resetModal">
                        <b-tabs content-class="mt-3">
                            <b-tab title="Logueo">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center">
                                            <h2>Loguéate</h2>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">    
                                            <b-form @submit.prevent="handleSubmit">
                                                <b-input-group class="mt-3">
                                                    <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                        </span>
                                                    </b-input-group-text>
                                                    </template>
                                                    <b-form-input
                                                    id="input-username"
                                                    v-model="modal.username"
                                                    type="text"
                                                    required
                                                    placeholder="Ingrese su nombre de usuario"
                                                    ></b-form-input>
                                                </b-input-group>
                                                <b-input-group class="mt-3">
                                                    <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-lock"></i>
                                                        </span>
                                                    </b-input-group-text>
                                                    </template>
                                                    <template v-slot:append>
                                                    <b-input-group-append>
                                                        <b-button variant="outline-secondary">
                                                        <span class="input-group-addon">
                                                            <i id="pass-status" class="fa fa-eye" aria-hidden="true" @click="showPass"></i>
                                                        </span>
                                                        </b-button>
                                                    </b-input-group-append>
                                                    </template>
                                                    <b-form-input
                                                    id="input-password"
                                                    v-model="modal.password"
                                                    type="password"
                                                    required
                                                    placeholder="Ingrese su contraseña"
                                                    ></b-form-input>
                                                </b-input-group>
                                                <b-button type="submit" class="btn btn1 btn-block login-btn">Iniciar Sesión</b-button>
                                                <div class="or-seperator">
                                                    <i>o</i>
                                                </div>
                                                <div class="text-center social-btn">
                                                    <g-signin-button
                                                    :params="googleSignInParams"
                                                    @success="onSignInSuccess"
                                                    @error="onSignInError"
                                                    >
                                                    <a href="#" class="btn btn1 btn-danger btn-block">
                                                        <i class="fa fa-google"></i>Continuar con <b>Google</b>
                                                    </a>
                                                    </g-signin-button>
                                                </div>
                                            </b-form>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>  
                                </div>
                            </b-tab>
                            <b-tab title="Registro">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center">
                                            <h2>Regístrate</h2>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">     
                                            <b-form @submit.prevent="registrarUserPostulant">
                                            <b-row>
                                                <b-col>
                                                    <b-input-group class="mt-3">
                                                        <b-form-input
                                                            id="input-name"
                                                            v-model="$v.modalRegister.first_name.$model"
                                                            :state="$v.modalRegister.first_name.$model ? !$v.modalRegister.first_name.$error : null"
                                                            type="text"
                                                            required
                                                            placeholder="Nombres"
                                                        ></b-form-input>
                                                        <b-form-invalid-feedback v-if="!$v.modalRegister.first_name.required">
                                                            Este campo es obligatorio
                                                        </b-form-invalid-feedback> 
                                                    </b-input-group>
                                                </b-col>
                                                <b-col>
                                                    <b-input-group class="mt-3">
                                                        <b-form-input
                                                            id="input-lastname"
                                                            v-model="$v.modalRegister.last_name.$model"
                                                            :state="$v.modalRegister.last_name.$model ? !$v.modalRegister.last_name.$error : null" 
                                                            type="text"
                                                            required
                                                            placeholder="Apellidos"
                                                        ></b-form-input>
                                                        <b-form-invalid-feedback v-if="!$v.modalRegister.last_name.required">
                                                            Este campo es obligatorio
                                                        </b-form-invalid-feedback>
                                                    </b-input-group>
                                                </b-col>
                                            </b-row>

                                            <b-input-group class="mt-3">
                                                <b-form-input
                                                    id="input-email"
                                                    v-model="$v.modalRegister.email.$model"
                                                    :state="$v.modalRegister.email.$model ? !$v.modalRegister.email.$error : null"                        
                                                    type="email"
                                                    required
                                                    placeholder="Correo electrónico"
                                                ></b-form-input>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.email.email">
                                                    Email inválido
                                                </b-form-invalid-feedback>                    
                                            </b-input-group>

                                            <b-input-group class="mt-3">
                                                <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    </b-input-group-text>
                                                </template>
                                                <b-form-input
                                                    id="input-username-r"
                                                    v-model="$v.modalRegister.username.$model"
                                                    :state="$v.modalRegister.username.$model ? !$v.modalRegister.username.$error : null"
                                                    type="text"
                                                    required
                                                    placeholder="Nombre de Usuario"
                                                ></b-form-input>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.required">
                                                    Este campo es obligatorio
                                                </b-form-invalid-feedback>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.minLength">
                                                    Este campo debe tener al menos {{ $v.modalRegister.username.$params.minLength.min }} caracteres 
                                                </b-form-invalid-feedback>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.maxLength">
                                                    Este campo debe tener como máximo {{ $v.modalRegister.username.$params.maxLength.max }} caracteres 
                                                </b-form-invalid-feedback>
                                                <b-form-invalid-feedback v-if="!$v.modalRegister.username.alphaNum">
                                                    Este campo debe ser alfanumérico 
                                                </b-form-invalid-feedback>
                                                <b-popover target="input-username-r" triggers="hover" placement="right">
                                                    <template v-slot:title>Nombre de Usuario</template>
                                                    - Solo puede contener caracteres alfanuméricos.<br/>
                                                    - Con una longitud entre 4 y 20 caracteres.
                                                </b-popover>                  
                                            </b-input-group>

                                            <b-input-group class="mt-3">
                                                <template v-slot:prepend>
                                                    <b-input-group-text>
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    </b-input-group-text>
                                                </template>
                                                <b-form-input
                                                        id="input-password-r"
                                                        v-model="$v.modalRegister.password.$model"
                                                        :state="$v.modalRegister.password.$model? !$v.modalRegister.password.$error : null"
                                                        type="password"
                                                        required
                                                        placeholder="Contraseña"
                                                    ></b-form-input>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.required">
                                                    Este campo es obligatorio
                                                    </b-form-invalid-feedback>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.minLength">
                                                    Este campo debe tener al menos {{ $v.modalRegister.password.$params.minLength.min }} caracteres 
                                                    </b-form-invalid-feedback>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.maxLength">
                                                    Este campo debe tener como máximo {{ $v.modalRegister.password.$params.maxLength.max }} caracteres 
                                                    </b-form-invalid-feedback>
                                                    <b-form-invalid-feedback v-if="!$v.modalRegister.password.alphaNum">
                                                    Este campo debe ser alfanumérico 
                                                    </b-form-invalid-feedback>         
                                                    <b-popover target="input-password-r" triggers="hover" placement="right">
                                                    <template v-slot:title>Contraseña</template>
                                                    - Solo puede contener caracteres alfanuméricos.<br/>
                                                    - Con una longitud entre 8 y 20 caracteres.
                                                </b-popover>            
                                            </b-input-group>
                                            <br/>

                                            <b-button type="submit" class="btn btn1 btn-block login-btn">Registrarme</b-button>

                                            <div class="or-seperator"><i>o</i></div> 
                                            <div class="text-center social-btn">
                                                <g-signin-button
                                                    :params="googleSignInParams"
                                                    @success="onSignUpSuccess"
                                                    @error="onSignUpError"  
                                                    >
                                                    <a href="#" class="btn btn1 btn-danger btn-block"><i class="fa fa-google"></i>Registrarme con <b>Google</b></a>
                                                </g-signin-button>
                                            </div>
                                            </b-form>
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                                    </div>
                                </div>
                            </b-tab>
                        </b-tabs>
                    </b-modal>          
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength,email,maxLength, alphaNum} from 'vuelidate/lib/validators'
import { mapState, mapActions} from "vuex";
export default {
    name: 'invitationEventDetail',
    data () {
        return {
            participant:false,
            postulant:false,
            amount: 0,
			description: '',
			title: '',
			vacancies: 0,
			startDate: '',
			endDate: '',
			location: '',
			programme: '',
            picture: '',
            pic_default: 'https://www.acenet.edu/PublishingImages/Interior-Page-Heroes/2018ACE-1045.JPG?RenditionID=10',
            id_event: 0,
            mainProps: { blank: true, width: 75, height: 75, class: 'm1' },
            modal:{
                username:'',
                password:''
            },
            modalRegister:{
                username:'',
                password:'',
                first_name:'',
                last_name:'',
                email:''
            },
            googleSignInParams: {
                client_id: '314777248792-o02ik3e39rjqjo7o1fckevm0h5ln522g.apps.googleusercontent.com'
            }
        }
    },
    mixins: [validationMixin],
    methods:{
        ...mapActions('account', ['login', 'google_login']),
        ...mapActions('time', ['start', 'set_date']),
        goToProgrammeDoc(){ 
            this.axios.post('/send_programme',{
                "id_event": this.$route.params.id
            })
            .then((response)=>{
                console.log(response.data);
                //window.location.href = response.data.programme
                window.open(response.data.programme, '_blank');
            })
            .catch(e=>{
                console.log(e)
            })
        },
        showPass() {
            const password = document.getElementById("input-password");
            const passStatus = document.getElementById("pass-status");
            if (password.type === "password") {
                password.type = "text";
                passStatus.className = "fa fa-eye-slash";
            } else {
                password.type = "password";
                passStatus.className = "fa fa-eye";
            }
        },
        handleSubmit () {
          if(this.postulant==true){
            var self = this;
            this.axios.post('/inscription_to_event_postulant', {
            "username":   this.modal.username,
            "password":   this.modal.password,
            "id_event":   this.id_event
            })
            .then(function (response) {
                console.log(response);
                self.postulant=false
                if(response.data.status == "ok"){
                const username = self.modal.username;
                const password = self.modal.password;
                if (username && password) {
                    self.login({ username, password })
                }
                }else {
                self.ErrorModal()  
                }
            })
            .catch(function (error) {
                console.log(error);
            });
          }
          else if(this.participant==true){
            var self = this;
            this.axios.post('/inscription_to_event_assistant', {
            "username":   this.modal.username,
            "password":   this.modal.password,
            "id_event":   this.id_event
            })
            .then(function (response) {
                console.log(response);
                self.participant=false
                if(response.data.status == "ok"){
                self.ConfirmationModal()
                self.submitted = true;
                const username = self.modal.username;
                const password = self.modal.password;
                if (username && password) {
                    self.login({ username, password })
                }
                }else {
                self.ErrorModal()  
                }
            })
            .catch(function (error) {
                console.log(error);
            });
          }
          

        },
        onSignUpSuccess (googleUser) {
            // `googleUser` is the GoogleUser object that represents the just-signed-in user.
            // See https://developers.google.com/identity/sign-in/web/reference#users
            const profile = googleUser.getBasicProfile() // etc etc
            this.modalRegister.first_name = profile.getGivenName(); 
            this.modalRegister.last_name = profile.getFamilyName(); 
            this.modalRegister.email = profile.getEmail();
            this.modalRegister.username = profile.getName();
            this.modalRegister.password = ''
            // se llama al servicio que registrará al usuario en la bd 
            var id_token = googleUser.getAuthResponse().id_token;
            var token=id_token;
            var username=this.modalRegister.username;
            //para asegurar que se defina el objeto
            var self = this; 
            this.axios.post('/google_registration', {
                "first_name": this.modalRegister.first_name,
                "last_name":  this.modalRegister.last_name,
                "email":      this.modalRegister.email,
                "username":   this.modalRegister.username,
                "token":      id_token
            })
            .then(function (response) {
                console.log(response);
                if(response.data.status == "ok"){
                  if(self.participant==true){
                      self.registrarUserParticipant();
                      self.google_login({username, token});
                  }
                  else if(self.postulant==true){
                      self.registrarUserPostulant();
                      self.google_login({username, token});
                  }
                }else {
                  self.ErrorModal()  
                }
            })
            .catch(function (error) {
                console.log(error);
            });
            // esto no deberia estar aca, pero no encontré una mejor forma xd
            googleUser.disconnect()
        },
        onSignUpError (error) {
            // `error` contains any error occurred.
            console.log('OH NOES', error)
        },
        onSignInSuccess (googleUser) {
            const profile = googleUser.getBasicProfile(); 
            this.modal.username = ''
            this.modal.password = ''
            var username = profile.getName();
            var aux_username=username;
            var token = googleUser.getAuthResponse().id_token;
            if(this.postulant==true){
                var self = this;
                this.axios.post('/inscription_to_event_postulant', {
                "username":   aux_username,
                "password":   this.modal.password,
                "id_event":   this.id_event
                })
                .then(function (response) {
                    console.log(response);
                    self.postulant=false
                    if(response.data.status == "ok"){
                    self.google_login({username, token});
                    }else {
                    self.ErrorModal()  
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
            else if(this.participant==true){
                var self = this;
                this.axios.post('/inscription_to_event_assistant', {
                "username":   aux_username,
                "password":   this.modal.password,
                "id_event":   this.id_event
                })
                .then(function (response) {
                    console.log(response);
                    self.participant=false
                    if(response.data.status == "ok"){
                    self.ConfirmationModal()
                    self.submitted = true;
                    self.google_login({username, token});
                    }else {
                    self.ErrorModal()  
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
            
            //
            googleUser.disconnect();
        },
        onSignInError (error) {
            console.log('OH NOES', error)
        },
        resetModal() {
            this.modal.username = '',
            this.modal.password = '',
            this.modalRegister.first_name= '',
            this.modalRegister.last_name= '',
            this.modalRegister.email='',
            this.modalRegister.username='',
            this.modalRegister.password=''
        },
        registrarUserParticipant(){
            var self = this;
            this.axios.post('/inscription_to_event_assistant', {
            "first_name": this.modalRegister.first_name,
            "last_name":  this.modalRegister.last_name,
            "email":      this.modalRegister.email,
            "username":   this.modalRegister.username,
            "password":   this.modalRegister.password,
            "id_event":   this.id_event
            })
            .then(function (response) {
                console.log(response);
                if(response.data.status == "ok"){
                self.submitted = true;
                self.participant=false;
                const username = self.modalRegister.username;
                const password = self.modalRegister.password;
                if (username && password) {
                    self.login({ username, password })
                }
                }else {
                self.ErrorModal()  
                }
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        registrarUserPostulant(){
            var self = this;
            this.axios.post('/inscription_to_event_postulant', {
            "first_name": this.modalRegister.first_name,
            "last_name":  this.modalRegister.last_name,
            "email":      this.modalRegister.email,
            "username":   this.modalRegister.username,
            "password":   this.modalRegister.password,
            "id_event":   this.id_event
            })
            .then(function (response) {
                console.log(response);
                if(response.data.status == "ok"){
                self.submitted = true;
                self.postulant=true;
                const username = self.modalRegister.username;
                const password = self.modalRegister.password;
                if (username && password) {
                    self.login({ username, password })
                }
                }else {
                self.ErrorModal()  
                }
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        ErrorModal() {
            var self = this; 
            this.$bvModal.msgBoxOk('El e-mail que colocó ya existe', {
            title: 'Error en el registro',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            headerClass: 'p-2 border-bottom-0',
            footerClass: 'p-2 border-top-0',
            centered: true
            })
            .then(function (value) {
                console.log(value);
            })
            .catch(err => {
                console.log(err);
            })
      },
      ConfirmationModal() {
        var self = this; 
        this.$bvModal.msgBoxOk('Usted ha sido registrado existosamente', {
          title: 'Confirmación',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'success',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          centered: true
        })
          .then(function (value) {
            console.log(value);
          })
          .catch(err => {
            console.log(err);
          })
      }
    },
    created () {
        this.id_event=this.$route.params.id;
		
        this.axios.post('/send_event_information',{
			"event_id":this.$route.params.id
		})
		.then((response)=>{
			console.log(response.data);
            this.amount = response.data.event.amount;
            this.title = response.data.event.name;
			this.description = response.data.event.description;
			this.vacancies = response.data.event.vacancies;
			this.startDate = response.data.event.start_date;
			this.endDate = response.data.event.end_date;
			this.location = response.data.event.location;
			this.programme = response.data.event.programme;
            this.picture = response.data.event.picture;
            
            if(this.picture == ""){
                console.log('pic: 1');
            }
            if(this.picture == ' '){
                console.log('pic: 2');
            } 
		})
		.catch(e=>{
			console.log(e)
        })
    },
    validations:{
      modalRegister:{
        first_name:{required},
        last_name:{required},
        email:{required, email},
        username:{required, minLength: minLength(4), maxLength: maxLength(40), alphaNum},
        password:{required, minLength: minLength(8), maxLength: maxLength(40), alphaNum}
      }
    },
    computed:{
        ...mapState('account', ['status']),
        ...mapState('alert', ['type','message']),
        ...mapState('time', ['now']),
    }
}

</script>

<style scoped>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column2 {
  float: left;
  width: 50%;
  padding: 0 5px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa2 {font-size:50px;}

.well {
  background-color: #fff !important;
  border-radius: 0 !important;
  border: black solid 1px;
  box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
}
.box {
  border: #d1d1d1 solid 1px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  padding: 15px 30px 15px 30px;
}
.box legend {
  font-size: 26px;
  text-align: center;
  font-weight: 300;
  font-weight: bold;
}

.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #fff;
  position: relative;
  top: -11px;
  z-index: 1;
}
.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: center;
  line-height: 24px;
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}
.btn1 {
  min-height: 38px;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
  background-color: #024a97 !important;
  border-style: none;
}
.login-btn:hover {
  background-color: #003c7d !important;
}
</style>