<template>
<div>

  <b-container id="Login">
    <b-row>
      <b-col class="box well" md="6" offset-md="3">
        <legend>Iniciar Sesión</legend>
        <hr />
        <b-alert show dismissible v-if="message" :class="`alert ${type}`">{{message}}</b-alert>
        <b-form @submit.prevent="handleSubmit">
          <b-input-group class="mt-3">
            <template v-slot:prepend>
              <b-input-group-text>
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
              </b-input-group-text>
            </template>
            <b-form-input
              id="input-username"
              v-model="username"
              type="text"
              required
              placeholder="Ingrese su nombre de usuario"
            ></b-form-input>
          </b-input-group>

          <b-input-group class="mt-3">
            <template v-slot:prepend>
              <b-input-group-text>
                <span class="input-group-addon">
                  <i class="fa fa-lock"></i>
                </span>
              </b-input-group-text>
            </template>
            <template v-slot:append>
              <b-input-group-append>
                <b-button variant="outline-secondary">
                  <span class="input-group-addon">
                    <i id="pass-status" class="fa fa-eye" aria-hidden="true" @click="showPass"></i>
                  </span>
                </b-button>
              </b-input-group-append>
            </template>
            <b-form-input
              id="input-password"
              v-model="password"
              type="password"
              required
              placeholder="Ingrese su contraseña"
            ></b-form-input>
          </b-input-group>
          <br/>
          <!--
          <div class="clearfix">
            <br />
            <b-form-checkbox class="pull-left mb-2 mr-sm-2 mb-sm-0">Recordarme</b-form-checkbox>
            <a href="#" class="pull-right text-primary">¿Olvidó su contraseña?</a>
          </div>
          -->
          <b-button type="submit" class="btn btn1 btn-block login-btn">Iniciar Sesión</b-button>

          <div class="or-seperator">
            <i>o</i>
          </div>
          <div class="text-center social-btn">
            <g-signin-button
              :params="googleSignInParams"
              @success="onSignInSuccess"
              @error="onSignInError"
            >
              <a href="#" class="btn btn1 btn-danger btn-block">
                <i class="fa fa-google"></i>Continuar con <b>Google</b>
              </a>
            </g-signin-button>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
import { mapState, mapActions} from "vuex";

export default {  
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      profile: "",
      googleSignInParams: {
        client_id:
          "your cliend id"
      }
    };
  },    
  computed: {
      ...mapState('account', ['status']),
      ...mapState('alert', ['type','message']),
      ...mapState('time', ['now']),
  },
  methods: {
      ...mapActions('account', ['login', 'google_login']),
      ...mapActions('time', ['start', 'set_date']),
      
      handleSubmit () {
          this.submitted = true;
          const { username, password } = this;
          if (username && password) {
              this.login({ username, password })
          }
      },
      onSignInSuccess (googleUser) {
          const profile = googleUser.getBasicProfile(); 
          this.username = ''
          this.password = ''
          var username = profile.getName();
          var token = googleUser.getAuthResponse().id_token;
          this.google_login({username, token});
          //
          googleUser.disconnect();
      },
      onSignInError (error) {
          console.log('OH NOES', error)
      },
      showPass() {
        const password = document.getElementById("input-password");
        const passStatus = document.getElementById("pass-status");
        if (password.type === "password") {
          password.type = "text";
          passStatus.className = "fa fa-eye-slash";
        } else {
          password.type = "password";
          passStatus.className = "fa fa-eye";
        }
      }
  }
}
</script>

<style scoped>
.well {
  background-color: #fff !important;
  border-radius: 0 !important;
  border: black solid 1px;
  box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
}
.box {
  border: #d1d1d1 solid 1px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  padding: 15px 30px 15px 30px;
}
.box legend {
  font-size: 26px;
  text-align: center;
  font-weight: 300;
  font-weight: bold;
}

.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #fff;
  position: relative;
  top: -11px;
  z-index: 1;
}
.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: center;
  line-height: 24px;
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}
.btn1 {
  min-height: 38px;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
  background-color: #024a97 !important;
  border-style: none;
}
.login-btn:hover {
  background-color: #003c7d !important;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
</style>