<template>
    <b-container class="box well">
        <legend>Usuarios Registrados: </legend>
        <hr/>
        <userTable/>
    </b-container>
</template>

<script>
import userTable from '@/components/UserTable.vue'
export default {
    name: 'manageUsers',
    components: {
        userTable
    },
    data () {
        return {
        }
    }
}
</script>

<style scoped>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:30px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 15px 30px;
    }
</style>