<template>
  <div>
    <b-container>
      <div class="myEvents">
        <div class="container mt-5">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
              <legend class="titulo">Mis Eventos</legend>
            </div>
          </div>

          <div class="row" v-if="isOrganizer === true">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
              <b-button variant="info" class="mt-3" :to="{name: 'createEvent'}">Organizar un nuevo evento</b-button>
            </div>
          </div>
          <div v-else>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
              <b-button variant="info" class="mt-3" @click="request_permission">Solicitar permiso para organizar eventos</b-button>
            </div>
          </div>

          <!-- 
          <div class="row">
            Hay que implementar metodo de busqueda
            <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 col-xl-9">
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 col-xl-3">
              <b-navbar-nav>
                <b-nav-form>
                  <b-form-input size="sm" placeholder="Search"></b-form-input>
                  <b-button size="sm">Search</b-button>
                </b-nav-form>
              </b-navbar-nav>
            </div>!
          </div>
            -->
          <div class="row">
            <div class="container mt-5 p-3">
              <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3" v-for="(item,index) in currentPageEvents" :key="index">
                  
                  <div v-if="item.image != ' '">
                    <b-card
                    img-top
                    :img-src="item.image"
                    v-bind:title="item.title"
                    img-alt="Image"
                    tag="article"
                    style="max-width: 25rem  max-height: 25rem;"
                    >
                      <b-card-text>
                        <p>{{item.startDate}} - {{item.endDate}}<br>
                        <b>{{textRol}}</b><br>
                          <ul style="list-style: none;" v-for="(rol,idx) in item.roles" :key="idx">
                            <li>{{rol.name}}</li>
                          </ul>
                        {{item.location}}</p>
                      </b-card-text>
                      <b-button :to="{name: 'eventDetail',params:{id:item.id_event}}" styles="font.family: Lucida Sans">Detalles</b-button>
                    </b-card>
                  </div>
                  <div v-else>
                    <b-card
                    img-top
                    :img-src="pic_default"
                    v-bind:title="item.title"
                    img-alt="Image2"
                    tag="article"
                    style="max-width: 25rem  max-height: 25rem;"
                    >
                      <b-card-text>
                        <p>{{item.startDate}} - {{item.endDate}}<br><br>
                        <b>{{textRol}}</b><br><br>
                          <ul style="list-style: none;" v-for="(rol,idx) in item.roles" :key="idx">
                            <li>{{rol.name}}</li>
                          </ul>
                        {{item.location}}</p>
                      </b-card-text>
                      <b-button :to="{name: 'eventDetail',params:{id:item.id_event}}" styles="font.family: Lucida Sans">Detalles</b-button>
                    </b-card>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="card-pagination">
            <div class="page-index" v-for="i in nbPages" :key="i"  @click="goto(i)" :class={active:currentPage(i)}></div>
          </div>
        </div>
      </div>
    </b-container> 
  </div>
</template>

<script>
// @ is an alias to /src
import EventCard from '@/components/EventCard.vue'
import { get } from 'http';
import {mapState, mapActions, mapGetters} from 'vuex';

export default {
  name: 'myEvents',
  components: {
    EventCard
  },
  data () {
    return {
      num: [],
      //Permission: '',
      Word:'',
      back:[],
      perPage: 4,
      paginatedEvents: [],
      currentPageIndex:0,
      nbPages:0,
      user_ls : JSON.parse(localStorage.getItem('user')),
      isOrganizer:false,
      textRol:'Roles:',
      pic_default: 'http://www.eventboost.com/wp-content/uploads/2015/02/eventboost-facebook-og.jpg'
    }
  },
  computed:{
    ...mapState('account', ['status', 'user','isAdmin','is_organizer']),
    formattedClubs() {
      return this.num.reduce((c, n, i) => {
        if (i % 4 === 0) c.push([]);
        c[c.length - 1].push(n);
        return c;
      }, []);
    },
    currentPageEvents(){
      this.createPages();
      return this.paginatedEvents[this.currentPageIndex];
    }
  },
  created () {
    //this.Permission=this.$route.params.Permission;
    //llamada para los datos de cadad evento
    this.update_permission(this.user_ls.username);
    
    this.axios.post('/my_events',{
      "username": this.user_ls.username
    })
    .then((response)=>{
      console.log(response.data);
      this.num = response.data.events;

      this.isOrganizer = this.check_organizer()
    })
    .catch(e=>{
      console.log(e)
    })
    // Verifica que es organizador 
    /*
    this.axios.post('/check_organizer',{
        "username": this.user.username 
    })
    .then((response)=>{
      console.log(response.data);
      this.isOrganizer = response.data.is_organizer;
    })
    .catch(e=>{
      console.log(e)
    })
    */ 

  },
  mounted:function () {
    //pass
  },
  methods:{
    ...mapActions('account', ['update_permission']),
    ...mapGetters('account', ['check_organizer']),   
    currentPage(i){
      return i-1===this.currentPageIndex;
    },

    createPages() {
      let lengthAll = Object.keys(this.num).length;
      this.nbPages = 0;
        for (let i = 0; i < lengthAll; i = i + this.perPage) {
          this.paginatedEvents[this.nbPages] = this.num.slice(
            i,
          i + this.perPage
        );
        this.nbPages++;
      }
    },
    goto(i){
      this.currentPageIndex=i-1;
    },
    request_permission(){
      this.axios.post('/request_organizer_permission',{
        "username": this.user_ls.username
      })
      .then(response => {
          console.log(response.data);
      })
      .catch(e=>{
        console.log(e)
      });
      this.$swal({
        text: "Su solicitud ha sido registrada exitosamente.",
        icon: 'success',
        })
    },
    goToCreateEvent(){
      console.log(this.Permission);
      this.$router.push({path: '/CreateEvent', params: {Permission: this.Permission}})
    }
  }
}
</script>
<style>
  .card-pagination{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px;
  }
  .page-index{
    margin-left:10px;
    width:15px;
    height:15px;
    border-radius:15px;
    background:#007bff
  }
  .active{
    width:20px;
    height:20px;
    border-radius:20px;
  }
  .well{
      background-color:#fff!important;
      border-radius:0!important;
      border:black solid 1px;
      box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
  }
  .box{
      border:#d1d1d1 solid 1px;
      margin:0 auto;
      margin-top:30px;
      margin-bottom: 30px;
      background: #fff;
      padding: 15px 30px 15px 30px;
  }
  .box legend {
      font-size:26px;
      text-align:center;
      font-weight:300;
  }
  ul {
    list-style-type: none;
    padding: 5px;
    font-weight: bolder;
  }
  .titulo{
      font-size: 35px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bolder
    }
</style><