<template>
    <div>
        <br>
        <b-container>
            <b-row>
                <b-col>
                    <h1 class="titulo">Evaluar Papers: </h1>
                </b-col>
            </b-row>
            <b-row> 
                <b-col>
                    <h4>{{ this.$func.format_date(fecha1) }} al {{ this.$func.format_date(fecha2) }}</h4>  
                </b-col>
            </b-row>
            <br/>
            <b-row id=tableHeader>
                <b-col>
                    <h5>Nombre del Paper</h5>
                </b-col>
                <b-col>
                    <h5>Categorias</h5>
                </b-col>
                <b-col style="margin-right: 280px">
                    <h5>Estado</h5>
                </b-col>
            </b-row>
            <div v-for="paper in papers" :key="paper.id" class="col-md-12 col-6 my-1">
                <b-card class="card" id=elementoPaper>
                    <b-row>
                        <b-col>
                            <b-card-text>
                                {{paper.name}}
                            </b-card-text>
                        </b-col>
                        <b-col>
                            <b-card-text v-for="item in paper.category" v-bind:key="item">
                                {{item}}
                            </b-card-text>
                        </b-col>
                        <b-col>
                            <b-card-text v-if="paper.state == 1">
                                Revisado
                            </b-card-text>
                            <b-card-text v-else>
                                Sin Revisar
                            </b-card-text>
                        </b-col>
                        <b-col v-if="paper.state == 1">
                            <b-button id="button-review" squared variant="outline-primary" :to="{name: 'evaluatedPaper', params:{id_evaluation: paper.id}}">Ver Detalles</b-button>
                        </b-col>
                        <b-col v-else>
                            <b-button id="button-review" squared variant="primary" :to="{name: 'evaluatePaper', params:{id_evaluation: paper.id}}">Revisar</b-button>
                        </b-col>
                    </b-row>
                </b-card>
            </div>    
        </b-container>
        <b-row>
            <div style="margin-left: 47.5%">
                <b-button variant="danger" @click="regresar">Regresar</b-button>
            </div>
        </b-row>
    </div>
</template>

<script>

import axios from 'axios'

export default {
    name: 'myPapers',
    data() {
        return { 
            phaseId: 13, // EL id de la fase depende de un evento
            fecha1:'a',
            fecha2:'a',
            user: JSON.parse(localStorage.getItem('user')),
            papers:[]
        }
    },
    created (){
        axios.post('/evaluation_services',{
            "username": this.user.username,
            "phase_id": this.$route.params.id
        })
        .then((response)=>{
            console.log(response.data);
            this.papers = response.data.evaluations
        })
        .catch(e=>{
            console.log(e)
        }),
        axios.post('/get_phase_date',{
            "id": this.$route.params.id
        })
        .then((response)=>{
            //start_date end_date
            console.log(response.data.dates);
            this.fecha1=this.$func.dd_x_mm(response.data.dates.start_date)
            this.fecha2=this.$func.dd_x_mm(response.data.dates.end_date)
        })
        .catch(e=>{
            console.log(e)
        })
    },
    methods: {
        regresar(){
            this.$router.go(-1);
        }
    }
}
</script>

<style scoped>
   
    .header{
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 40px;
    }

    .card{
        margin-top: 15px;
        margin-bottom: 15px
    }
   
    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formato{
      font-size: 20px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;  
    }

    .centerI {
    text-align: center
    }

    #elementoPaper{
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }

    #tableHeader{
        background-color: rgb(50, 132, 238);
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 8px;
        padding-bottom: 5px;
        color: white;
    }
</style>
