<template>
  <div class="papersPresident">
    <b-row>
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Buscar: "
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Escribe para buscar ..."
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="6" class="my-1">
        <b-form-group
          label="Filtrar por: "
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          description="No selecciones para buscar con todos tus datos"
          class="mb-0">
          <b-form-checkbox-group v-model="filterOn" class="mt-1">
            <b-form-checkbox value="fullname">Apellidos y Nombres</b-form-checkbox>
            <b-form-checkbox value="username">Nombre de Usuario</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>

      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Cantidad de Filas"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>

    <b-table class="tabla"
      ref="selectableTable"
      selectable
      selected-variant="active"
      :items="items"
      :fields="fields"
      @row-selected="onRowSelected"
      responsive="sm"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      @filtered="onFiltered"
    >
      <template v-slot:cell(fullname)="data">
        {{ data.value.lastname }} {{ data.value.second_lastname }}, {{ data.value.names }}
      </template>

      <!-- Example scoped slot for select state illustrative purposes -->
      <template v-slot:cell(selected)="{ rowSelected }">
        <template v-if="rowSelected">
          <span aria-hidden="true">&check;</span>
          <span class="sr-only">Selected</span>
        </template>
        <template v-else>
          <span aria-hidden="true">&nbsp;</span>
          <span class="sr-only">Not selected</span>
        </template>
      </template>
    </b-table>
    <div class="buttons">
      <b-button class="btn_user" variant="outline-primary" size="sm" @click="selectAllRows">Seleccionar Todo</b-button>
      <b-button class="btn_user" variant="outline-primary" size="sm" @click="clearSelected">Deseleccionar</b-button>
      <b-button class="btn_user" variant="outline-primary" size="sm" @click="givePermissions">Otorgar Permisos</b-button>
      <b-button class="btn_user" variant="outline-primary" size="sm" @click="quitPermissions">Quitar Permisos</b-button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'userTable',
    data() {
      return {
        // Note 'isActive' is left out and will not appear in the rendered table
        fields: [
          {
            key: 'selected',
            label: 'Selección',
            sortable: false
          },
          {
            key: 'fullname',
            label: 'Apellidos y Nombres',
            sortable: true,
            filterByFormatted: true
          },
          {
            key: 'username',
            label: 'Nombre de usuario',
            sortable: true,
            filterByFormatted: true
          },
          {
            key: 'permissions',
            label: 'Permisos',
            sortable: false,
          }
        ],
        items: [
          { index: 1, fullname: {lastname: 'Perez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: 'Organizar' },
          { index: 2, fullname: {lastname: 'Ramirez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: '-' },
          { index: 3, fullname: {lastname: 'Perez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: '-' },
          { index: 4, fullname: {lastname: 'Carlos', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: 'Organizar' },
          { index: 5, fullname: {lastname: 'Perez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: 'Organizar' },
          { index: 6, fullname: {lastname: 'Ramirez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: '-' },
          { index: 7, fullname: {lastname: 'Perez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: '-' },
          { index: 8, fullname: {lastname: 'Carlos', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: 'Organizar' },
          { index: 9, fullname: {lastname: 'Perez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: 'Organizar' },
          { index: 10, fullname: {lastname: 'Ramirez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: '-' },
          { index: 11, fullname: {lastname: 'Perez', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: '-' },
          { index: 12, fullname: {lastname: 'Carlos', second_lastname: 'Perez', names: 'Juan Mario'}, username: 'juan.perez', permissions: 'Organizar' },
        ],
        selectMode: 'multi',
        selected: [],
        filter: null,
        filterOn: [],
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15]
      }
    },
    mounted() {
      this.totalRows = this.items.length
    },
    methods: {
      onRowSelected(items) {
        this.selected = items
      },
      selectAllRows() {
        this.$refs.selectableTable.selectAllRows()
      },
      clearSelected() {
        this.$refs.selectableTable.clearSelected()
      },
      givePermissions() {
        for(let i=0; i<this.items.length; i++){
            if(this.$refs.selectableTable.isRowSelected(i)){
              this.$set(this.items[(this.currentPage-1)*this.perPage + i], 'permissions', 'Organizar')
            }
        }
      },
      quitPermissions() {
        for(let i=0; i<this.items.length; i++){
            if(this.$refs.selectableTable.isRowSelected(i)){
              this.$set(this.items[(this.currentPage-1)*this.perPage + i], 'permissions', '-')
            }
        }
      }
    }
  }
</script>

<style scoped>
  .btn_user{
    margin-left: 10px;
    margin-right: 10px;
  }
  .buttons{
    display: table;
    margin: auto;
  }
  .tabla{
    margin-top: 30px;
    margin-bottom: 30px;
  }
</style>