<template>
    <b-container>
        <br>
        <b-container>
            <b-row>
                <b-col>
                    <h1 class="titulo">Revisión final de papers: {{ fase }}</h1>
                </b-col>
            </b-row>
            <b-row> 
                <b-col>
                     <h4>{{ this.$func.format_date(fechaInicio) }}  al  {{ this.$func.format_date(fechaFin) }}</h4>
                </b-col>
            </b-row>
            <br>
            <br>

            <!-- Barra de Busqueda y Tabla de Papers-->
            <b-row no-gutters>
                <b-col cols="3" sm="auto">
                    <b-form-input v-model="searchName" placeholder="Buscar..." />
                </b-col>
                <b-col cols="7">
                    <b-button variant="primary" @click="searchName = null" >Despejar Búsqueda</b-button>
                </b-col>
                <b-col cols="2" sm="auto">
                    <b-pagination v-model="currentPage" :total-rows="rows" :per-page="papersPerPage" aria-controls="paperTable" sm="auto"></b-pagination>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-table id=paperTable class=paperTable :fields="fields" :items="papers" 
                        :per-page="papersPerPage" :current-page="currentPage" fixed hover
                        :filter="searchName">
                        <template v-slot:table-colgroup="scope">
                            <col :key="fields[0].key" :style="{ width: '50px'}">
                            <col :key="fields[1].key" :style="{ width: '150px'}">
                            <col :key="fields[2].key" :style="{ width: '150px'}">
                            <col :key="fields[3].key" :style="{ width: '100px'}">
                            <col :key="fields[4].key" :style="{ width: '100px'}">
                        </template>
                        <template v-slot:cell(keywords)="row">
                            <div v-for="item in row.item.keywords" v-bind:key="item.name">
                                {{item.name}} 
                            </div>
                        </template>
                        <template v-slot:cell(action)="row">
                            <div v-if="row.item.president_result == 'No evaluado'">
                                <b-button squared href="#" variant="primary" 
                                    :to="{name: 'presidentPaperReview',params:{  paper_id: row.item.id, event_id: eventID, 
                                        phase_id: phaseID, phase_name: fase, start_date: fechaInicio, end_date: fechaFin,
                                        paper_name: row.item.name, paper_author: row.item.author, paper_keywords: row.item.keywords }}">
                                    Revisar
                                 </b-button>
                            </div>
                            <div v-else>
                                <b-button squared href="#" variant="outline-primary" 
                                    :to="{name: 'presidentPaperReviewed',params:{  paper_id: row.item.id, event_id: eventID, 
                                        phase_id: phaseID, phase_name: fase, start_date: fechaInicio, end_date: fechaFin,
                                        paper_name: row.item.name, paper_author: row.item.author, paper_keywords: row.item.keywords }}">
                                    Ver Detalles
                                 </b-button>
                            </div>
                        </template>
                    </b-table>
                </b-col>
            </b-row>




            <b-row>
                <div style="margin-left: 45%">
                    <b-button variant="danger" @click="regresar">Regresar</b-button>
                </div>
            </b-row>

        </b-container>
    </b-container>
</template>

<script>
    export default {
        name: 'PaperList',
        data() {
            return {
                //Datos del paper en cuestion
                fase: '', 
                fechaInicio: '',
                fechaFin: '',
                eventID: '',
                phaseID: '',
                submissionID: '',
                //Parametros de la tabla, considerar volverla su propio componente después de tener vista y barra de búsqueda funcional
                currentPage: 1,
                papersPerPage: 10,
                fields: [{key: "author", label: "Autor", thStyle: { backgroundColor: '#3284ee'}}, 
                         {key: "name", label: "Título", thStyle: { backgroundColor: '#3284ee'}}, 
                         {key: "keywords", label: "Categorías", thStyle: { backgroundColor: '#3284ee'}}, 
                         {key: "president_result", label: "Estado", thStyle: { backgroundColor: '#3284ee'}},
                         {key: "action", label: "Acciones", thStyle: { backgroundColor: '#3284ee'}}],
                papers: [],
                selectMode: "single",
                searchName: null,
                possible_results: ["Aceptado","Rechazado","No evaluado"]
            }
        },
        computed: {
            rows() { 
                return this.papers.length;
            }
        },
        methods: {
            regresar(){
                this.$router.go(-1);
            }
        },
        created() {
            this.eventID = this.$route.params.id;
            this.axios.post('/get_phase_by_event', {
                'event_id': this.eventID
            })
            .then(response => {
                this.phaseID = response.data.phase_id;
                this.axios.post('/view_submissions', {
                    'phase_id': this.phaseID
                })
                .then(response => { 
                    console.log(response);
                    this.fase = response.data.phase;
                    this.fechaInicio = response.data.start_date;
                    this.fechaFin = response.data.end_date;
                    this.papers = response.data.submissions;
                })
                .catch(error => {
                    console.log(error.response)
                })
            })
            .catch(error => {
                console.log(error.response)
            })
        }
    }
</script>

<style lang="scss" scoped>
    #descripcionBuscar{
        margin-left: 5px;
        margin-right: 40px;
    }
    .centeredLabel{
        line-height: 35px;
    }
    .titulo{
        text-decoration: underline;
    }
    .paperTable{
        background-color: white;
        padding: 7px;
        border: solid;
        border-width: 3px;
        border-color: rgb(50, 132, 238);
    }
</style>