<!-- Listar papers de un evento -->
<template>
    <div>
        <br>
        <b-container>

            <!-- Info del evento -->
            <b-row>
                <b-col>
                    <h1 class="titulo">Asignación de Evaluadores: {{ fase }}</h1>
                </b-col>
            </b-row>
            <b-row> 
                <b-col>
                    <h4> {{ fechaInicio }} -  {{ fechaFin }} </h4>
                </b-col>
            </b-row>
            <br>
            <br>

            <!-- Barra de Busqueda y Tabla de Papers-->
            <b-row no-gutters>
                <b-col cols="3" sm="auto">
                    <b-form-input v-model="searchName" placeholder="Buscar..." />
                </b-col>
                <b-col cols="7">
                    <b-button variant="primary" @click="searchName = null" >Despejar Búsqueda</b-button>
                </b-col>
                <b-col cols="2">
                    <b-pagination v-model="currentPage" :total-rows="rows" :per-page="papersPerPage" aria-controls="paperTable"></b-pagination>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-table id=paperTable class=paperTable :fields="fields" :items="papers" 
                        :per-page="papersPerPage" :current-page="currentPage" fixed hover
                        selectable :select-mode="selectMode" @row-selected="selected"
                        :filter="searchName">
                        <template v-slot:table-colgroup="scope">
                            <col :key="fields[0].key" :style="{ width: '50px'}">
                            <col :key="fields[1].key" :style="{ width: '150px'}">
                            <col :key="fields[2].key" :style="{ width: '150px'}">
                            <col :key="fields[3].key" :style="{ width: '100px'}">
                        </template>
                        <template v-slot:cell(keywords)="row">
                            <div v-for="item in row.item.keywords" v-bind:key="item.name">
                                {{item.name}} 
                            </div>
                        </template>
                    </b-table>
                </b-col>
            </b-row>



            <b-row>
                <div style="margin-left: 45%">
                    <b-button variant="danger" @click="regresar">Regresar</b-button>
                </div>
            </b-row>

        </b-container>
    </div>
</template>

<script>
    export default {
        name: 'PaperList',
        data() {
            return {
                //Datos del paper en cuestion
                fase: '', 
                fechaInicio: '',
                fechaFin: '',
                eventID: '',
                phaseID: '',
                submissionID: '',
                //Parametros de la tabla, considerar volverla su propio componente después de tener vista y barra de búsqueda funcional
                currentPage: 1,
                papersPerPage: 10,
                fields: [{key: "author", label: "Autor", thStyle: { backgroundColor: '#3284ee'}}, 
                         {key: "name", label: "Título", thStyle: { backgroundColor: '#3284ee'}}, 
                         {key: "summary", label: "Abstracto", thStyle: { backgroundColor: '#3284ee'}}, 
                         {key: "keywords", label: "Categoría", thStyle: { backgroundColor: '#3284ee'}}],
                papers: [],
                selectMode: "single",
                searchName: null,
            }
        },
        methods: {
            selected(items) {
                var temp_id = items[0].id;
                var temp_author = items[0].author;
                var temp_name = items[0].name;
                var temp_keyword = items[0].keywords;

                this.$router.push({
                    name: 'assignEvaluators',
                    params: {
                        id:temp_id,
                        event_id:this.eventID,
                        phase_id:this.phaseID,
                        phase_name:this.fase,
                        start_date:this.fechaInicio,
                        end_date:this.fechaFin,
                        paper_name:temp_name,
                        paper_author:temp_author,
                        paper_keyword:temp_keyword
                    } })
                .catch(error => {
                    console.log(error.response);
                })
            },
            regresar(){
                this.$router.go(-1);
            }
        },
        computed: {
            rows() { 
                return this.papers.length;
            }
        },
        created() {
            this.eventID = this.$route.params.id;
            this.phaseID = this.$route.params.id_phase;
            console.log(this.eventID);

            // se llama al servicio que obtiene todas las fases del evento?
            this.axios.post('/view_event_phases_information', {
                'event_id': this.eventID
            })
            .then(response => {
                console.log(response.data);
                // this.phaseID = response.data.phases[0].phase_id;
                this.fase = response.data.phases[0].phase;
                this.fechaInicio = response.data.phases[0].start_date;
                this.fechaFin = response.data.phases[0].limit_date;

                this.axios.post('/view_submissions', {
                    'phase_id': this.phaseID
                })
                .then(response => { 
                    //console.log(response);
                    this.papers = response.data.submissions;
                })
                .catch(error => {
                    console.log(error.response)
                })
            })
            .catch(error => {
                console.log(error.response)
            })
        }
    }
</script>

<style lang="scss" scoped>
    #descripcionBuscar{
        margin-left: 5px;
        margin-right: 40px;
    }
    .centeredLabel{
        line-height: 35px;
    }
    .titulo{
        text-decoration: underline;
    }
    .paperTable{
        background-color: white;
        padding: 7px;
        border: solid;
        border-width: 3px;
        border-color: rgb(50, 132, 238);
    }
</style>