<template>
    <div class="container">
        <br/>
        <b-row>
            <b-col class= "col-xs-12 col-md-4 offset-md-4">
                <div class="card center">
                    <b-card-header> 
                        <h2 class="centerI"><strong>Detalles  de pago</strong></h2>
                        <div  align="center" >                            
                            <img class="img-responsive pull-right" src="../assets/accepted_c22e0.png">
                        </div>
                    </b-card-header>
                    <br/>
                    <b-row>
                        <b-col class= "col-xs-12 col-md-8 col-md-6 offset-md-1">
                            <div class="form-group">
                                <label for="name">Nombre del titular</label>
                                <b-form-group>
                                    <b-form-input 
                                        type="text"
                                        class="form-control"
                                        name="name"
                                        placeholder="Nombre del titular"
                                        size="sm"  
                                        v-model="$v.Payment.name.$model"
                                        :state="$v.Payment.name.$dirty ? !$v.Payment.name.$error : null"
                                        aria-describedby="input-10-live-feedback"
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="input-10-live-feedback">
                                        Ingrese un nombre válido
                                    </b-form-invalid-feedback>                                    
                                </b-form-group>  
                            </div>      
                        </b-col>        
                    </b-row>
                    <b-row>
                        <b-col class= "col-xs-12 col-md-8 col-md-6 offset-md-1">
                            <label for="cardNumber">Número de tarjeta</label>
                            <b-form-group>
                                <b-form-input
                                    type="text"
                                    class="form-control"
                                    name="cardNumber"
                                    placeholder="Número de tarjeta"
                                    size="sm"  
                                    v-model="$v.Payment.creditNumber.$model"
                                    :state="$v.Payment.creditNumber.$dirty ? !$v.Payment.creditNumber.$error : null"
                                    aria-describedby="input-11-live-feedback"
                                ></b-form-input>
                                <b-form-invalid-feedback id="input-11-live-feedback">
                                    Ingrese un número válido
                                </b-form-invalid-feedback>  
                            </b-form-group>                              
                        </b-col>        
                    </b-row>
                    <b-row>
                        <b-col class="col-xs-7 col-md-6 offset-md-1">
                            <label for="date">Fecha de expiración</label>
                            <b-form-group>
                                <b-form-input
                                    type="text"
                                    class="form-control"
                                    name="date"
                                    placeholder="MM / YY"
                                    size="sm"  
                                    v-model="$v.Payment.date.$model"
                                    :state="$v.Payment.date.$dirty ? !$v.Payment.date.$error : null"
                                    aria-describedby="input-12-live-feedback"
                                ></b-form-input>
                                <b-form-invalid-feedback id="input-12-live-feedback">
                                    Ingrese la fecha correctamente(MM/AA)
                                </b-form-invalid-feedback>  
                            </b-form-group>          
                        </b-col>
                        <b-col class="col-xs-7 col-md-4 ">
                            <label for="cvc">CVC</label>
                            <b-form-group>
                                <b-form-input
                                    type="text"
                                    class="form-control"
                                    name="cvc"
                                    placeholder="CVC"
                                    size="sm"  
                                    v-model="$v.Payment.cvc.$model"
                                    :state="$v.Payment.cvc.$dirty ? !$v.Payment.cvc.$error : null"
                                    aria-describedby="input-13-live-feedback"
                                ></b-form-input>
                                <b-form-invalid-feedback id="input-13-live-feedback">
                                    Ingrese el código correctamente
                                </b-form-invalid-feedback>  
                            </b-form-group>          
                        </b-col>         
                    </b-row>
                    <b-row>
                        <b-col class="col-xs-12 col-md-9 offset-md-1">
                            <label for="cupon">Cupón de descuento</label>
                            <b-form-group>
                                <b-form-input
                                    type="text"
                                    class="form-control"
                                    name="cupon"
                                    placeholder="Descuento"
                                    size="sm"  
                                    v-model="cupon"
                                ></b-form-input>
                            </b-form-group>        
                        </b-col>        
                    </b-row>
                    <b-row>
                        <b-col class="col-xs-12 col-md-10 offset-md-1 center2">
                            <b-button class="btn btn-success btn-lg btn-block" variant="submit"  @click="Pagar" >Pagar</b-button>           
                        </b-col>        
                    </b-row>
                </div>
            </b-col>
        </b-row>         
    </div>    
</template>


<script>
import { required, minLength,email,maxLength,alphanumberic, minValue, maxValue, numeric} from 'vuelidate/lib/validators'

export default{
    data () {    
        return{
            data:[],
            a:4557880545671263,
            Payment:{
                name:'',
                creditNumber:'',
                cvc:'',
                date:''
            },
            cupon:'',
            price:200
           
        }
    },
    validations: {
        Payment:{
            name:{required},
            creditNumber:{required, 
                          numeric,
                          minLength: minLength(16),
                          maxLength: maxLength(16)
            },
            cvc:{required,
                 numeric, 
                 minLength: minLength(3),
                 maxLength: maxLength(3)
                },
            date:{required,
                  minLength: minLength(5),
                  maxLength: maxLength(5)  
                }
        }
        
    },

    methods: {
        Prueba3(){
            this.$swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    type: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!',
    cancelButtonText: 'No, cancel!',
    confirmButtonClass: 'btn btn-primary',
    cancelButtonClass: 'btn btn-secondary',
    buttonsStyling: false
  }).then(function() {
    this.$swal(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    );
  }, function(dismiss) {
    // dismiss can be 'cancel', 'overlay',
    // 'close', and 'timer'
    if (dismiss === 'cancel') {
      this.$swal(
        'Cancelled',
        'Your imaginary file is safe :)',
        'error'
      );
    }
  }) 

        },    


        
        Pagar(){
            this.$v.$touch()
            if (this.$v.Payment.$anyError){
                return
            }else{
                this.$swal({
                title: 'Cargando',
                allowEscapeKey: false,
                allowOutsideClick: false,
                timer: 4000,
                onOpen: () => {
                this.$swal.showLoading();
                },
                onAfterClose:()=>{
                if(this.Payment.creditNumber==4557880545671253){ 
                    this.$swal('Tarjeta rechazada',
                                        'Fondos insuficientes',
                                        'error'
                                    );

                    }else {
                        this.$swal.fire({
                        title: 'Se realizo el pago exitosamente',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        onClose: () => {
                            this.Payment.name='';
                            this.Payment.creditNumber='';
                            this.Payment.cvc='';
                            this.Payment.date='';
                            this.cupon='' 
                            this.$v.Payment.$reset(); 
                            this.$router.go(-1)    
                        }
                        })

                    }
                },
                onClose: () => {
                    this.$swal.close()
                    
                }
                })
                                  
            }
        }
    }
}
</script>

<style scoped>

body { margin:0 auto; width:700px;}

.center{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.formato{
      font-size: 20px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;  
    }


.centerI {
  text-align: center;
  font-family: Calibri, 'Trebuchet MS', sans-serif;  
}

.center2{
    margin-bottom: 20px;
}

</style>