<template>
    <b-container>
        <br>
        <b-row>
            <b-col>
                <h1 class="titulo">Revisión final: {{ fase }}</h1>
            </b-col>
        </b-row>
        <b-row>
            <b-col> 
                <h4> Desde ({{ fechaInicio }}) Hasta ({{ fechaFin }})</h4> 
            </b-col>
        </b-row>
        <div class=transparentBackground>
            <b-row>
                <b-col cols="10">
                    <h2>"{{ nombreDelPaper }}" - Por {{nombreAutor}}</h2>
                </b-col>
            </b-row>
            <b-row>
                <b-col sm="auto">
                    <h5 id=labelKeyword>CATEGORIAS: </h5>
                </b-col>
                <b-col sm="auto">
                    <div v-for="item in this.keywords" v-bind:key="item.name">
                        {{item.name}} 
                    </div>
                </b-col>
            </b-row>
        </div>
        <br/>

        <!-- Barra de Busqueda y Tabla de Papers-->
        <b-row no-gutters>
            <b-col cols="3" sm="auto">
                <b-form-input v-model="searchName" placeholder="Buscar..." />
            </b-col>
            <b-col cols="7">
                <b-button variant="primary" @click="searchName = null" >Despejar Búsqueda</b-button>
            </b-col>
            <b-col cols="2" sm="auto">
                <b-pagination v-model="currentPage" :total-rows="rows" :per-page="papersPerPage" aria-controls="paperTable" sm="auto"></b-pagination>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table id=paperTable class=paperTable :fields="fields" :items="papers" 
                    :per-page="papersPerPage" :current-page="currentPage" fixed hover
                    :filter="searchName">
                    <template v-slot:table-colgroup="scope">
                        <col :key="fields[0].key" :style="{ width: '70px'}">
                        <col :key="fields[1].key" :style="{ width: '100px'}">
                        <col :key="fields[2].key" :style="{ width: '100px'}">
                        <col :key="fields[3].key" :style="{ width: '120px'}">
                        <col :key="fields[4].key" :style="{ width: '50px'}">
                    </template>
                    <template v-slot:cell(detail)="row">
                        <div v-if="row.item.trust != null">
                            <span style="margin-right: 10px">{{row.item.prom_result}}</span>
                            <b-button squared variant="outline-primary" @click="info(row.item, row.index, $event.target)">
                                Ver Detalles
                            </b-button>
                        </div>
                        <div v-else>
                            <b-button squared disabled variant="ligth">
                                No ha sido evaluado
                            </b-button>
                        </div>
                    </template>
                </b-table>
            </b-col>
        </b-row>

        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal" centered >
            <h5><b>Resultados según criterios: </b></h5>
            <ul>
                <li v-for="item in infoModal.content.qualification" v-bind:key="item.idCriterio">
                    {{item.criterio}} : {{item.score}}
                </li>
            </ul>
        </b-modal>
        <br>

        <!-- Observaciones -->
        <b-row>
            <b-col sm="8">
                <label for="remark"><b>Observaciones para el evaluado:</b></label>
                <br/>
                <b-form-textarea
                    id="remark"
                    v-model="remark"
                    placeholder="Ingrese observaciones para el participante... "
                    rows="5"
                    class="paperTable"
                ></b-form-textarea>
            </b-col>
            <b-col sm="4">
                <b-row>
                    <b>Resultado final:</b>
                </b-row><br/>
                <b-row>
                    <b-col sm="1"></b-col>
                    <b-col>
                        <b-form-radio-group
                            v-model="result"
                            :options="options"
                            stacked
                        >
                        </b-form-radio-group>
                    </b-col>
                </b-row><br/>
                <div class="centerI">
                    <b-button variant="primary" @click="onSubmit">
                        Guardar Cambios
                    </b-button>
                    <b-button variant="danger" @click="back">
                        Cancelar
                    </b-button>
                </div>
            </b-col>
        </b-row>
        <br/>
    </b-container>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
    name: 'presidentPaperReviewed',
    data() {
        return{
            username: '',
            //Datos del paper, por estandarizacion los id van con snake_case
            paper_id: '',
            event_id: '',
            phase_id: '',
            fase: '',
            fechaInicio: '',
            fechaFin: '',
            nombreDelPaper: '',
            nombreAutor: '',
            keywords: '',
            //Parametros de la tabla, considerar volverla su propio componente después de tener vista y barra de búsqueda funcional
            currentPage: 1,
            papersPerPage: 10,
            fields: [{key: "evaluator", label: "Evaluador", thStyle: { backgroundColor: '#3284ee'}}, 
                        {key: "detail", label: "Resultado Promedio", thStyle: { backgroundColor: '#3284ee'}}, 
                        {key: "trust", label: "Nivel de Confianza", thStyle: { backgroundColor: '#3284ee'}}, 
                        {key: "comment_president", label: "Comentarios", thStyle: { backgroundColor: '#3284ee'}},
                        {key: "score", label: "Veredicto", thStyle: { backgroundColor: '#3284ee'}}],
            papers: [],
            selectMode: "single",
            searchName: null,
            infoModal: {
                id: 'info-modal',
                title: '',
                content: ''
            },
            wasEvaluated: true,
            result: '',
            remark:'',
            options: [
                { text: 'Aprobado', value: 'approved' },
                { text: 'Desaprobado', value: 'rejected' }
            ]
        }
    },
    created() { 
        this.username = JSON.parse(localStorage.getItem('user')).username;
        //Cargamos los parámetros pasados de "PaperList.vue"
        this.paper_id = this.$route.params.paper_id;
        this.event_id = this.$route.params.event_id;
        this.phase_id = this.$route.params.phase_id;
        this.fase = this.$route.params.phase_name;
        this.fechaInicio = this.$route.params.start_date;
        this.fechaFin = this.$route.params.end_date;
        this.nombreAutor = this.$route.params.paper_author;
        this.nombreDelPaper = this.$route.params.paper_name;
        this.keywords = this.$route.params.paper_keywords;

        this.axios.post('/view_evaluations_by_submission', {
            'submission_id': this.paper_id
        })
        .then(response => { 
            console.log(response);
            
            var _papers = [];
            response.data.evaluations.forEach(item => {
                if(item.trust == 1){
                    item.trust = "Muy Malo";
                }else
                if(item.trust == 2){
                    item.trust = "Malo";
                }else
                if(item.trust == 3){
                    item.trust = "Regular";
                }else
                if(item.trust == 4){
                    item.trust = "Bueno";
                }else
                if(item.trust == 5){
                    item.trust = "Muy Bueno";
                }

                var prom = 0;
                item.qualification.forEach(q => {
                    prom += q.score;
                    if(q.score == 1){
                        q.score = "Muy Malo";
                    }else
                    if(q.score == 2){
                        q.score = "Malo";
                    }else
                    if(q.score == 3){
                        q.score = "Regular";
                    }else
                    if(q.score == 4){
                        q.score = "Bueno";
                    }else
                    if(q.score == 5){
                        q.score = "Muy Bueno";
                    }
                });
                prom /= item.qualification.length;
                prom = Math.round(prom);
                
                if(prom == 1){
                    prom = "Muy Malo";
                }else
                if(prom == 2){
                    prom = "Malo";
                }else
                if(prom == 3){
                    prom = "Regular";
                }else
                if(prom == 4){
                    prom = "Bueno";
                }else
                if(prom == 5){
                    prom = "Muy Bueno";
                }

                if(item.score == 1){
                    item.score = "Fuerte Rechazo";
                }else
                if(item.score == 2){
                    item.score = "Rechazo";
                }else
                if(item.score == 3){
                    item.score = "Indeciso";
                }else
                if(item.score == 4){
                    item.score = "Débil Aceptación";
                }else
                if(item.score == 5){
                    item.score = "Fuerte Aceptación";
                }

                item.prom_result = prom;

                _papers.push(item);
            });

            this.papers = _papers;

                

            this.axios.post('/view_data_evaluation_president', {
                'id_submission': this.paper_id
            })
            .then(response =>{
                console.log(response);
                console.log(response.data.president_result);
                console.log(response.data.president_comment);

                let result_str = (response.data.president_result == 1)? "approved" : "rejected";
                this.result = result_str;
                this.remark = response.data.president_comment;
            })
            .catch(error => {
                console.log(error.response)
            });
        })
        .catch(error => {
            console.log(error.response)
        })
        
    },
     validations: {
        remark:{ required },
        result:{ required }
    },
    methods: {
        info(item, index, button) {
            this.infoModal.title = `Evaluado por: ${item.evaluator}`
            this.infoModal.content = item
            this.$root.$emit('bv::show::modal', this.infoModal.id, button)
        },
        resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
        },
        onSubmit(){
            this.$v.$touch();
            if (this.$v.result.$anyError) {
                this.$swal("Seleccione el resultado final");
                return
            }
            console.log('result: ', this.result);
            console.log('comments: ', this.remark);

            let result_int = (this.result == "approved")? 1 : 0;
            this.axios.post('/register_president_evaluation', {
                'submission_id': this.paper_id,
                "president_result": result_int,
                "president_comment": this.remark,
                "username": this.username
            })
            .then(response => { 
                console.log(response);
                this.axios.post('/send_evaluation_results', {
                    "id": this.paper_id,
                    "comment": this.remark
                })
                .then(response => {
                    console.log(response)
                })
                .catch(error => {
                    console.log(error.response)
                })
            })
            .catch(error => {
                console.log(error.response)
            })

            this.$swal({
                title: '',
                text: "Se guardaron los cambios de su evaluación exitosamente",
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.value) {
                    this.$router.go(-1);
                }
            })
        },
        back(){
            this.$router.go(-1);
        }
    },
    computed: {
        rows() { 
            return this.papers.length;
        }
    }
}
</script>

<style lang="scss" scoped>
    .review{
        background-color: white;
    }
    #descripcionBuscar{
        margin-left: 5px;
        margin-right: 40px;
    }
    .centeredLabel{
        line-height: 35px;
    }
    .titulo{
        text-decoration: underline;
    }
    .paperTable{
        background-color: white;
        padding: 7px;
        border: solid;
        border-width: 3px;
        border-color: rgb(50, 132, 238);
    }
    .centerI {
        text-align: center
    }   
    .centerI .btn{
        margin-left: 10px;
        margin-right: 10px;
    }
</style>