<template>
  <div id="profile">
    <b-row>
      <b-col class="box well" cols="8">
        <legend>Editar datos de mi perfil</legend>
        <b-form  @submit.stop.prevent @submit="onSubmit" @reset="onReset">
          <b-form-group id="input-username" label="Usuario:" label-for="lfUsername" description="Entre 2-12 caracteres">
            <b-form-input
              id="lfUsername"
              v-model="form.username"
              required
              :state="usernameValid"
              v-bind:readonly="true"
              :maxlength="20"
              placeholder="Ingrese su usuario ..."
              aria-describedby="email-error"
            ></b-form-input>
            <b-form-invalid-feedback id="username-error" v-if="$v.form.username.$minLength">
              El Usuario debe tener entre 2-20 caracteres.
            </b-form-invalid-feedback>
          </b-form-group>


          <b-form-group id="input-first_name" label="Nombre:" label-for="lfFirst_Name">
            <b-form-input
              id="lfFirst_Name"
              v-model="form.first_name"
              required
              v-bind:readonly="no_edit"
              :maxlength="20"
              :state="nameValid"
              placeholder="Ingrese su nombre ..."
            ></b-form-input>
            <b-form-invalid-feedback>
              El Nombre debe tener entre 2-20 letras.
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="input-last_name" label="Apellido:" label-for="lfLast_Name">
            <b-form-input
              id="lfLast_Name"
              v-model="form.last_name"
              required
              v-bind:readonly="no_edit"
              :maxlength="20"
              :state="lastNameValid"
              placeholder="Ingrese su apellido ..."
            ></b-form-input>
            <b-form-invalid-feedback>
              El Apellido debe tener entre 2-20 letras.
            </b-form-invalid-feedback>
          </b-form-group>

            <b-form-group
              id="input-email"
              label="Correo electrónico:"
              label-for="lfEmail"
            >
              <b-form-input
                id="lfEmail"
                v-model="form.email"
                type="email"
                required
                v-bind:readonly="no_edit"
                :state="!no_edit? $v.form.email.email : null"
                placeholder="Escriba su correo ..."
              ></b-form-input>
              <b-form-invalid-feedback>
                Ingrese un correo valido.
              </b-form-invalid-feedback>
            </b-form-group> 

            <b-row>
              <b-col cols="12">
                <b-button v-b-toggle="'collapse-2'" class="m-1" variant="outline-info">Cambio de contraseña</b-button>
                <b-collapse id="collapse-2">
                  <b-card>
                      <b-form-group id="input-password" label="Nueva Contraseña:" label-for="lfNewPassword">
                      <b-form-input
                        id="lfNewPassword"
                        v-model="$v.newPassword.$model"
                        type="password"
                        required
                        :maxlength="15"
                        :state="$v.newPassword.$dirty? newPassword.length>=8 && newPassword.length<=15:null"
                        placeholder="Ingrese su nueva contraseña ..."
                      ></b-form-input>
                      <b-form-invalid-feedback >
                        La contraseña debe tener entre 8-15 caracteres.
                      </b-form-invalid-feedback>
                      <b-form-valid-feedback >
                        Longitud correcta.
                      </b-form-valid-feedback>
                    </b-form-group>

                    <b-form-group id="input-password" label="Confirma tu nueva contraseña: " label-for="lfNewPassword2">
                      <b-form-input
                        id="lfNewPassword2"
                        v-model="$v.newPassword2.$model"
                        type="password"
                        required
                        :maxlength="15"
                        :state="$v.newPassword2.$dirty? $v.newPassword2.sameAsPassword && newPassword.length>=8:null"
                        placeholder="Ingrese su nueva contraseña ..."
                      ></b-form-input>
                      <b-form-invalid-feedback>
                        Las contraseñas deben ser idénticas (8-15 caracteres)
                      </b-form-invalid-feedback>
                      <b-form-valid-feedback>
                        Longitud correcta.
                      </b-form-valid-feedback>
                    </b-form-group>
                    <b-button @click="changePass" variant="outline-info" size="md">Cambiar Contraseña</b-button>
                  </b-card>
                </b-collapse>
              </b-col>
            </b-row>

            <b-row align-h="center">
              <b-col cols="default">
                <b-button @click="no_edit=false" variant="outline-info" size="lg" v-if="no_edit">Editar Perfil</b-button>
                <b-button @click="saveChange" variant="outline-info" size="lg" v-if="!no_edit">Guardar Cambios</b-button>
              </b-col>
            </b-row>
          </b-form>
        </b-col>
    </b-row>
  </div>
</template>


<script>
  //vuelidate
  import { validationMixin } from 'vuelidate'
  import { required, minLength, maxLength, between, alpha, alphaNum, email, sameAs} from 'vuelidate/lib/validators'
  
  export default {
    data() {
      return {
        form: {
          email: '',
          first_name: '',
          last_name: '',
          username: '',
        },
        newPassword: '',
        newPassword2: '',
        show: true,
        no_edit:true,
        user : JSON.parse(localStorage.getItem('user'))
      }
    },
    mixins: [validationMixin],
    computed: {
      setItems(){
        user = JSON.parse(localStorage.getItem('user'));
      },
      usernameValid(){
        if(this.no_edit) return null;
        if(this.form.username.length>2 && this.form.username.length<20) return true;
        else return false;
      },
      nameValid(){
        if(this.no_edit) return null;
        var hasNumber = /\d/;
        var check = hasNumber.test(this.form.first_name);
        if(this.form.first_name.length>2 && this.form.first_name.length<20 && !check) return true;
        else return false;
      },
      lastNameValid(){
        if(this.no_edit) return null;
        var hasNumber = /\d/;
        var check = hasNumber.test(this.form.last_name);
        if(this.form.last_name.length>2 && this.form.last_name.length<20 && !check) return true;
        else return false;
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      saveChange(){
        var valEdit = this.handleEdit();
        if(valEdit){
          this.$swal.fire({
          title: 'Quieres realizar los cambios efectuados?',
          text: "Se podrá volver a cambiar los datos luego",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar'
          }).then((result) => {
            if (result.value) {
              var username = this.form.username;
              var password = this.user.password;
              var old_username = this.user.username;
              localStorage.removeItem('user');
              localStorage.setItem('user', JSON.stringify({ username, password }))
              this.axios.post('/update_data_user',{
              "username": old_username,
              "username_new": username,
              "first_name": this.form.first_name,
              "last_name":this.form.last_name,
              "email":this.form.email
              })
              .then((response)=>{
                this.$swal.fire(
                'Guardado con éxito',
                'Sus datos fueron guardados exitosamente',
                'success'
                )
                console.log(response);
              })
              .catch(e=>{
                console.log(e)
              })
              this.no_edit=true;
            }
          })
        }
        else{
          this.$swal.fire(
          'Datos inválidos',
          'Los datos ingresados no son válidos',
          'warning'
          )
        }
      },
      changePass(){
        var valPass = this.handlePass();
        if(valPass){
          this.$swal.fire({
          title: 'Quieres realizar los cambios efectuados?',
          text: "Se podrá volver a cambiar los datos luego",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar'
          }).then((result) => {
            if (result.value) {
              var password = this.newPassword;
              var username = this.user.username;
              localStorage.removeItem('user');
              localStorage.setItem('user', JSON.stringify({ username, password }))
              this.axios.post('/update_password_user',{
              "username": username,
              "password": password,
              })
              .then((response)=>{
                this.$swal.fire(
                'Guardado con éxito',
                'Sus datos fueron guardados exitosamente',
                'success'
                )
                this.newPassword='';
                this.newPassword2='';
                console.log(response);
              })
              .catch(e=>{
                this.$swal.fire(
                'Upss..',
                'Hubo un error al guardar sus datos',
                'error'
                )
                console.log(e)
              })
            }
          })
        }
        else{
          this.$swal.fire(
          'Contraseñas no iguales o inválidas',
          'Las contraseñas deben ser iguales y válidas',
          'warning'
          )
        }
      },
      handlePass(){
        var valPass2=this.$v.newPassword2.$dirty? this.$v.newPassword2.sameAsPassword && this.newPassword2.length>=8:null;
        if(valPass2) return true;
        else return false;
      },
      handleEdit(){
        var valEd = this.usernameValid && this.nameValid && this.lastNameValid && !this.$v.form.email.$invalid;
        console.log(this.$v.form.username.$invalid);
        if(valEd)return true;
        else return false;
      }
    },
    created() {
      this.axios.post('/send_user_data',{
        "username": this.user.username 
      })
      .then((response)=>{
        this.form.email=response.data.email;
        this.form.first_name=response.data.first_name;
        this.form.last_name=response.data.last_name;
        this.form.username=response.data.username;
      })
      .catch(e=>{
        console.log(e)
      })
    },
    validations:{
      form:{
        email:{required,email},
        first_name:{required,minLength: minLength(2),maxLength: maxLength(20)},
        last_name:{required,minLength: minLength(2),maxLength: maxLength(20)},
        username:{required,minLength: minLength(2),maxLength: maxLength(20)}
      },
      newPassword:{required,minLength: minLength(8),maxLength: maxLength(15)},
      newPassword2:{required,minLength: minLength(8),maxLength: maxLength(15),sameAsPassword: sameAs('newPassword')}
    }
  }
</script>

<style scoped>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:30px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 15px 30px;
    }
    .box legend {
        font-size:26px;
        text-align:center;
        font-weight:300;
    }
</style>