<template>
    <b-container id="Register">
        <b-row>
            <b-col class="box well" md="6" offset-md="3">
                <legend>Registrarse</legend>
                <hr>

                <b-form @submit.prevent="registrarUser">
                    <b-row>
                        <b-col>
                            <b-input-group class="mt-3">
                                <b-form-input
                                    id="input-name"
                                    v-model="$v.User.first_name.$model"
                                    :state="$v.User.first_name.$dirty ? !$v.User.first_name.$error : null"
                                    type="text"
                                    required
                                    placeholder="Nombres"
                                ></b-form-input>
                                <b-form-invalid-feedback v-if="!$v.User.first_name.required">
                                    Este campo es obligatorio
                                </b-form-invalid-feedback> 
                            </b-input-group>
                        </b-col>
                        <b-col>
                            <b-input-group class="mt-3">
                                <b-form-input
                                    id="input-lastname"
                                    v-model="$v.User.last_name.$model"
                                    :state="$v.User.last_name.$dirty ? !$v.User.last_name.$error : null" 
                                    type="text"
                                    required
                                    placeholder="Apellidos"
                                ></b-form-input>
                                <b-form-invalid-feedback v-if="!$v.User.last_name.required">
                                    Este campo es obligatorio
                                </b-form-invalid-feedback>
                            </b-input-group>
                        </b-col>
                    </b-row>

                    <b-input-group class="mt-3">
                        <b-form-input
                            id="input-email"
                            v-model="$v.User.email.$model"
                            :state="$v.User.email.$dirty ? !$v.User.email.$error : null"                        
                            type="email"
                            required
                            placeholder="Correo electrónico"
                        ></b-form-input>
                        <b-form-invalid-feedback v-if="!$v.User.last_name.required">
                            Este campo es obligatorio
                        </b-form-invalid-feedback>
                        <b-form-invalid-feedback v-if="!$v.User.last_name.email">
                            Email inválido
                        </b-form-invalid-feedback>                    
                    </b-input-group>

                    <b-input-group class="mt-3">
                        <template v-slot:prepend>
                            <b-input-group-text>
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </b-input-group-text>
                        </template>
                        <b-form-input
                            id="input-username-r"
                            v-model="$v.User.username.$model"
                            :state="$v.User.username.$dirty ? !$v.User.username.$error : null"
                            type="text"
                            required
                            placeholder="Nombre de Usuario"
                        ></b-form-input>
                        <b-form-invalid-feedback v-if="!$v.User.username.required">
                            Este campo es obligatorio
                        </b-form-invalid-feedback>
                        <b-form-invalid-feedback v-if="!$v.User.username.minLength">
                            Este campo debe tener al menos {{ $v.User.username.$params.minLength.min }} caracteres 
                        </b-form-invalid-feedback>
                        <b-form-invalid-feedback v-if="!$v.User.username.maxLength">
                            Este campo debe tener como máximo {{ $v.User.username.$params.maxLength.max }} caracteres 
                        </b-form-invalid-feedback>
                        <b-form-invalid-feedback v-if="!$v.User.username.alphaNum">
                            Este campo debe ser alfanumérico 
                        </b-form-invalid-feedback>
                        <b-popover target="input-username-r" triggers="hover" placement="right">
                            <template v-slot:title>Nombre de Usuario</template>
                            - Solo puede contener caracteres alfanuméricos.<br/>
                            - Con una longitud entre 4 y 20 caracteres.
                        </b-popover>                  
                    </b-input-group>

                    <b-input-group class="mt-3">
                        <template v-slot:prepend>
                            <b-input-group-text>
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </b-input-group-text>
                        </template>
                        <b-form-input
                                id="input-password-r"
                                v-model="$v.User.password.$model"
                                :state="$v.User.password.$dirty ? !$v.User.password.$error : null"
                                type="password"
                                required
                                placeholder="Contraseña"
                            ></b-form-input>
                            <b-form-invalid-feedback v-if="!$v.User.password.required">
                              Este campo es obligatorio
                            </b-form-invalid-feedback>
                            <b-form-invalid-feedback v-if="!$v.User.password.minLength">
                              Este campo debe tener al menos {{ $v.User.password.$params.minLength.min }} caracteres 
                            </b-form-invalid-feedback>
                            <b-form-invalid-feedback v-if="!$v.User.password.maxLength">
                              Este campo debe tener como máximo {{ $v.User.password.$params.maxLength.max }} caracteres 
                            </b-form-invalid-feedback>
                            <b-form-invalid-feedback v-if="!$v.User.password.alphaNum">
                              Este campo debe ser alfanumérico 
                            </b-form-invalid-feedback>         
                            <b-popover target="input-password-r" triggers="hover" placement="right">
                            <template v-slot:title>Contraseña</template>
                            - Solo puede contener caracteres alfanuméricos.<br/>
                            - Con una longitud entre 8 y 20 caracteres.
                        </b-popover>            
                    </b-input-group>
                    <br/>

                    <b-button type="submit" class="btn btn1 btn-block login-btn">Registrarme</b-button>

                    <div class="or-seperator"><i>o</i></div> 
                    <div class="text-center social-btn">
                        <g-signin-button
                              :params="googleSignInParams"
                              @success="onSignUpSuccess"
                              @error="onSignUpError"  
                              >
                              <a href="#" class="btn btn1 btn-danger btn-block"><i class="fa fa-google"></i>Registrarme con <b>Google</b></a>
                          </g-signin-button>
                    </div>
                </b-form>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
  //vuelidate
  import { required, minLength, maxLength, alphaNum, email} from 'vuelidate/lib/validators'

  export default {
    data() {
      return {
        User: {
          first_name: '',
          last_name: '',
          email: '',
          username: '',
          password: ''
        },
        show: true,
        googleSignInParams: {
          client_id: '314777248792-o02ik3e39rjqjo7o1fckevm0h5ln522g.apps.googleusercontent.com'
        }
      }
    },
    validations:{
      User:{
        first_name:{required},
        last_name:{required},
        email:{required, email},
        username:{required, minLength: minLength(4), maxLength: maxLength(40), alphaNum},
        password:{required, minLength: minLength(8), maxLength: maxLength(40), alphaNum}
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.User))
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our User values
        this.User.first_name = ''
        this.User.last_name = ''
        this.User.email = ''
        this.User.username = ''
        this.User.password = ''
        // Trick to reset/clear native browser User validation state
        this.show = false
        this.$nextTick(() => { this.show = true })
      },
     registrarUser(){
       var self = this;
       //para asegurar que se defina el objeto
        this.axios.post('/registration', {
            "first_name": this.User.first_name,
            "last_name":  this.User.last_name,
            "email":      this.User.email,
            "username":   this.User.username,
            "password":   this.User.password
        })
        .then(function (response) {
            console.log(response.data);
            console.log(response.data.messaje);
            if(response.data.status == "ok"){
              self.ConfirmationModal()
            }else 
            if(response.data.status == "error"){
              self.ErrorModal(response.data.message)  
            }
        })
        .catch(function (error) {
            console.log(error);
        });
      }, 
      ConfirmationModal() {
        this.$swal.fire({
          title: 'Se registro exitosamente',
          allowEscapeKey: false,
          allowOutsideClick: false,
          
          })
      
          this.$router.push({name: "login"}) 
      
      },
      ErrorModal(msj) {
        this.$swal.fire(
              'Error',
              msj,
              'error'
          )
          this.$router.push({name: "login"}) 
      },
      onSignUpSuccess (googleUser) {
            // `googleUser` is the GoogleUser object that represents the just-signed-in user.
            // See https://developers.google.com/identity/sign-in/web/reference#users
            const profile = googleUser.getBasicProfile(); // etc etc
            this.User.first_name = profile.getGivenName(); 
            this.User.last_name = profile.getFamilyName(); 
            this.User.email = profile.getEmail();
            this.User.username = profile.getName();
            this.User.password = '';
            // se llama al servicio que registrará al usuario en la bd 
            var id_token = googleUser.getAuthResponse().id_token;
            
            //para asegurar que se defina el objeto
            var self = this; 
            this.axios.post('/google_registration', {
                "first_name": this.User.first_name,
                "last_name":  this.User.last_name,
                "email":      this.User.email,
                "username":   this.User.username,
                "token":      id_token
            })
            .then(function (response) {
                console.log(response);
                if(response.data.status === "ok"){
                  self.ConfirmationModal()
                }else {
                  self.ErrorModal()  
                }
            })
            .catch(function (error) {
                console.log(error);
            });
            // esto no deberia estar aca, pero no encontré una mejor forma xd
            googleUser.disconnect()
        },
        onSignUpError (error) {
            // `error` contains any error occurred.
            console.log('OH NOES', error)
        }  
    }
  }
</script>

<style scoped>
    .well{
        background-color:#fff!important;
        border-radius:0!important;
        border:black solid 1px;
        box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    }
    .box{
        border:#d1d1d1 solid 1px;
        margin:0 auto;
        margin-top:30px;
        margin-bottom: 30px;
        background: #fff;
        padding: 15px 30px 15px 30px;
    }
    .box legend {
        font-size:26px;
        text-align:center;
        font-weight:300;
        font-weight: bold;
    }

    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #fff;
        position: relative;
        top: -11px;
        z-index: 1;
    }
    .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: center; 
        line-height: 24px;       
    }
	.social-btn .btn i {
		float: left;
		margin: 4px 15px  0 5px;
        min-width: 15px;
	}
    .btn1 {
        min-height: 38px;
        border-radius: 8px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .login-btn {        
        font-size: 15px;
        font-weight: bold;
        background-color: #024a97!important;
        border-style:none;
    }
    .login-btn:hover { 
        background-color: #003c7d!important;
    }

    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

</style>