<template>
    <div>
        <b-container>
        <br/>
        <b-row>
            <b-col>
                <h1 class="titulo">Selección de Papers </h1>
            </b-col>
        </b-row>
        <b-row> 
            <b-col>
                <h4>{{ fecha1 }} al {{ fecha2 }}</h4>  <!-- this.$func.format_date(fecha) cuando recibe dateTime-->
            </b-col>
        </b-row>
        <br/>
        
            <div class="abs-center">
                <b-form @submit.stop.prevent="onSubmit">
                    <b-row class="mt-4">
                        <div class="col-md-5 mb-3">
                            <label>Buscar Papers por nombre:</label>
                        </div>
                        <div class="col-md-4 mb-1">
                            <b-form-group  >
                                <b-form-input
                                    size="sm" 
                                    placeholder="Busqueda"
                                    v-model="$v.search.$model"
                                    :state="$v.search.$dirty ? !$v.search.$error : null"
                                    type="text"
                                    aria-describedby="input-10-live-feedback"
                                ></b-form-input>
                                <b-form-invalid-feedback id="input-10-live-feedback">
                                    Ingrese un nombre
                                </b-form-invalid-feedback>
                            </b-form-group> 
                        </div>
                        <div class="col-md-2 mb-1">
                            <b-button type="submit" variant="success">Buscar</b-button>
                        </div>
                        <div class="col-md-1 mb-1">
                            <b-button  variant="danger"  @click="Cancelar" >Resetear</b-button>
                        </div>
                    </b-row>    
                </b-form> 
            </div>
            <div  class="col-md-12 col-6 my-1">
                <b-row>
                    <b-col>
                        <b-card tag="article" class="mb-2" header-tag="header">
                            <b-card-text>
                                <div class="formato">
                                    <b-row>
                                        <b-col >
                                            <strong >Nombre del paper</strong>
                                        </b-col>
                                        <b-col >
                                            <strong >Lista de Autores</strong >
                                        </b-col>   
                                        <b-col >
                                            <strong>Categorías</strong >
                                        </b-col>
                                    </b-row>
                                </div>
                            </b-card-text> 
                        </b-card>
                    </b-col>    
                </b-row>    
            </div>
            <div v-for="(paper, index) in Papers" :key="paper.id" class="col-md-12 col-6 my-1">
                <b-card tag="article" class="mb-2" header-tag="header">
                    <b-card-text>
                        <div class="formato">
                            <b-row>
                                <b-col >
                                    {{index+1}}. {{paper.name}} 
                                </b-col>
                                <b-col >
                                    <b-card-text>
                                        <span v-for="item in paper.authors" v-bind:key="item">
                                            -{{item}}
                                        </span>     
                                    </b-card-text>                               
                                </b-col>   
                                <b-col >
                                    <b-card-text>
                                        <span v-for="item in paper.category" v-bind:key="item" 
                                            style="margin-left: 10px">
                                            {{item}}
                                        </span>
                                    </b-card-text>
                                </b-col>
                            </b-row>
                            <br>
                            <b-row >
                                <b-col>
                                    <div class="centerI">
                                        <b-form-group >
                                            <b-form-radio-group
                                                :name="'radio'+ index"
                                                v-model="selected[index]"
                                                :options="options"
                                                size="lg"
                                            ></b-form-radio-group>
                                            <!-- Mostrar datos><b-col >div class="mt-3">Selected: <strong>{{ selected[index]}}</strong></div><-->
                                        </b-form-group>
                                    </div>
                                </b-col>
                            </b-row>    
                        </div>        
                    </b-card-text>
                </b-card>
            </div>
            <div>
                <b-row>
                    <b-col sm="3">
                    </b-col>
                    <b-col sm="4">
                        <b-button  variant="danger"  @click="Cancelar2" >Cancelar</b-button>  
                    </b-col>  
                    <b-col>
                        <b-button  variant="success"  @click="Aceptar">Aceptar</b-button>  
                    </b-col>       
                </b-row>        
            </div>    
        </b-container>
    </div>
</template>

<script>
import { required, minLength,email,maxLength,alpha, minValue, maxValue, numeric} from 'vuelidate/lib/validators'
import axios from 'axios'
export default{
     
    data () {
        return{
            dates:[],
            fecha1:'',
            fecha2:'',
            search:'',
            options:['Si me interesa','Quizás me interesa','No me interesa','Conflicto de interés'],
            selected:[],
            tam:0,
            user: JSON.parse(localStorage.getItem('user')),
            id:0,
            id_phase: 13,
            //id:JSON.parse(localStorage.getItem('')),
            //id_phase:JSON.parse(localStorage.getItem('')),
            username: '',
            filtrado:[],
            preferences:[],
            Papers:[],  
            mostrar:[]

        }
    },
    created(){
        this.username = this.user.username;
        axios.post('/submission_services', {   
            "username": this.username,
            "phase_id": this.$route.params.id
            
        }).then(response =>{
                this.Papers = response.data.submisions;
                this.mostrar = response.data.submisions;
                console.log(this.Papers);
        }).catch(e =>{
            console.log(e);
        })
    },
    validations: {
        search:{required},

      },

    methods: {
        onSubmit() {
            this.$v.$touch()
            if (this.$v.search.$anyError) {
                //alert("error");
                return
            }else{
                /*
                axios.post('/submission_services', {
                            "name":this.search
                }).then(response =>{
                        this.Papers = response.data.submisions;
                }).catch(e =>{
                    console.log(e);
                })
                */
                let self = this;
                for (let i=0; i < this.Papers.length;i++){
                    this.filtrado.push({
                        id:this.Papers[i].id,
                        name: this.Papers[i].name,
                        user: this.Papers[i].user,
                        category:this.Papers[i].category,
                    })
                }
                // alert(JSON.stringify(this.filtrado))
                //alert(this.search)
                //let busqueda= this.search
                //alert(this.busqueda)
                let paper = (this.filtrado).filter(
                    function (el) {
                        return el.name === self.search
                    }
                );
                this.Papers=paper;
                this.selected = new Array(this.Papers.length);
                paper=[];
                this.filtrado=[];
                //alert(JSON.stringify(paper))
                //console.log(paper); 
                //alert(JSON.stringify(this.selected.length));
                this.search='';
                this.$v.search.$reset()
            }
        },
        concatenar(paper){
            var texto="";
            for  (let paper2 of  paper.Categories){
                    texto += paper2 + ' ';
            }
                return texto;
        },
        concatenar2(paper){
            var texto="";
            for  (let paper2 of  paper.Keywords){
                    texto += paper2 + ' ';
            }
                return texto;
        },
        Cancelar(){
            this.Papers=this.mostrar
            this.selected=new Array(this.Papers.length),
            this.preferences=[],
            this.filtrado=[];
            //alert(this.selected.length),
            this.search='',
            this.$v.search.$reset()
        },

        Cancelar2(){
            this.$swal.fire({
                title: '',
                text: "¿Desea salir?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                       this.$router.go(-1)                        
                    }
                })
        },
        Aceptar(){
            for (let i=0; i < this.Papers.length;i++){
                    if(this.selected[i]!=null){
                    this.preferences.push({
                        submission_id: this.Papers[i].id,
                        level: this.selected[i]
                    })
                }
            }
            if(this.preferences.length!=0){
                this.$swal.fire({
                title: '¿Desea guardar las preferencias ingresadas?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/select_preferences', {
                            "username":this.username,
                            "preferences": JSON.stringify(this.preferences)                  
                        })
                        .then(response => { 
                            this.$swal.fire(
                                'Guardado con éxito',
                                'Sus datos fueron guardados exitosamente',
                                'success'
                            )
                            this.preferences=[];
                            this.selected=[];
                            console.log(response)        
                            this.$router.go(-1)        
                        })
                        .catch(error => {
                        this.$swal.fire(
                            'Upss..',
                            'Hubo un error al guardar sus datos',
                            'error'
                        )
                        this.preferences=[];
                        this.selected=[];
                        console.log(error.response)
                        });
                        //alert(JSON.stringify(this.preferences));
                        this.preferences=[];
                        this.selected=[];
                        //alert(JSON.stringify(this.preferences))
                    }
                })
            
            }else{
                this.$swal("Espere...","Seleccione alguna preferencia","warning");
            }
        }

    },
    mounted: function()  {
        axios.post('/get_phase_date', {
           "id":this.$route.params.id
        }).then(response =>{
            console.log(response);
            this.fecha1 = response.data.dates.start_date;
            this.fecha2 = response.data.dates.end_date;
        }).catch(e =>{
            console.log(e);
        });
        this.tam=this.Papers.length;
        this.selected=new Array(this.tam);
    }
}
</script>
<style scoped>
   
    .titulo{
      font-size: 50px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
    }

    .titulo2{
      font-size: 30px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
    }
   
    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .formato{
      font-size: 20px;
      font-family: Calibri, 'Trebuchet MS', sans-serif;  
    }


.centerI {
  text-align: center
}
</style>