<template>
    <div class="sendInvitation">
        <div class="container mt-5">
            <div class="row" id=backgroundContainer>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                    <h1><b> Envío de invitaciones </b></h1>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6"></div>
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6"><h2>Listado de Invitados:</h2></div>
                    </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <b-form @reset="onReset" v-if="show">
                                    <b-form-group
                                        id="input-group-1"
                                        label="Correo:"
                                        label-for="input-1"
                                        description="Campo obligatorio"
                                    >
                                        <b-form-input
                                        id="input-1"
                                        v-model="invitation.email"
                                        type="email"
                                        required
                                        :state="$v.invitation.email.$model? $v.invitation.email.email : null"
                                        aria-describedby="email-error"
                                        placeholder="Ingresa tu email"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="email-error">
                                            Ingrese un email valido
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                    <div class="row mb-5 mt-4 float-right mr-1">
                                        <b-button @click="addInvitation" variant="primary">Agregar Invitacion</b-button>
                                    </div>
                                    <div class="row mb-5 mt-4 float-left mr-1">
                                        <b-button @click="showUrl" variant="primary">Mostrar URL</b-button>
                                        <b-button class="botonAyuda" :pressed="true" size="md" 
                                        v-b-popover.hover.top="'Podrá compartir este URL con quien quiera invitar a participar en su evento.'" title="Ayuda">?
                                        </b-button>
                                    </div>
                                </b-form>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <b-list-group v-for="(item,index) in invitations" :key="index">
                                    <b-list-group-item>{{item.email}} <b-button-close @click="eliminate(item)"></b-button-close></b-list-group-item>
                                </b-list-group>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6"></div>
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 mt-5 float-right">
                            <div class="row mb-5 mt-4 float-left mr-1">
                                <b-button variant="danger" @click="cancelar">Regresar</b-button>
                            </div>
                            <div class="row mb-5 mt-4 float-right mr-1">
                                <b-button variant="primary" @click="sendInvitations">Enviar invitaciones</b-button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3"></div>
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <b-alert
                                    dismissible
                                    fade
                                    :show="showDismissibleAlert"
                                    @dismissed="showDismissibleAlert=false"
                            >
                                Su link es: {{url}}
                            </b-alert>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength,email,maxLength,alpha, minValue, maxValue, numeric} from 'vuelidate/lib/validators'
export default {
    name: 'eventDetail',
    mixins: [validationMixin],
    data () {
        return {
            show:true,
            invitation:{
                email:''
            },
            invitations:[],
            url:'',
            showDismissibleAlert: false
        }
    },
    methods:{
        addInvitation(){
        var inv = {email:''};
        var valEmail = true;
        var valEmailBd= true;
        inv.email = this.invitation.email;

                for(let i=0; i<this.invitations.length;i++){
                    if(this.invitations[i].email==inv.email){
                        this.$swal("Espere...","Ya ha agregado el correo","warning");
                        valEmail= false;
                    }
                }
                if(valEmail==true){
                    if(inv.email==''){
                        this.$swal("Espere...","Le falta llenar el email","warning");
                    }
                    else{
                        this.invitations.push(inv);
                        this.invitation.email='';
                    }
                }
        },
        onReset(evt) {
        evt.preventDefault()
            // Reset our form values
            this.form.email = ''
            this.form.name = ''
            this.form.food = null
            this.form.checked = []
            // Trick to reset/clear native browser form validation state
            
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        },
        eliminate(value){
            for(let i=0;i<this.invitations.length;i++){
                if(this.invitations[i].email==value.email){
                    this.invitations.splice(i, 1);
                }
            }
        },
        sendInvitations(){
            if(this.invitations.length!=0){
                var id=this.$route.params.id
                var page ='/InvitationEventDetail/'
                var base_page=this.axios.defaults.baseURL
                var total_url=base_page+page+id
                this.url=total_url
                console.log(total_url)
                const formData = new FormData();
                formData.append('guests', JSON.stringify(this.invitations))
                formData.append('link',total_url)
                formData.append('base',base_page)
                this.axios.post('/send_invitations_inscription', formData)
                .then(response => {
                    this.$swal.fire(
                    'Envío exitoso',
                    'Sus invitaciones fueron enviadas',
                    'success'
                    )
                    console.log(response)  
                    })
                .catch(error => {
                    this.$swal.fire(
                    'Upss..',
                    'Hubo un error al enviar sus invitaciones',
                    'error'
                    )
                    console.log(error.response)
                });
            }
            else{
                this.$swal.fire(
                'Lista de invitaciones vacia',
                'Debe haber un correo como minimo',
                'warning'
                )
            }
        },
        cancelar(){
            this.$router.go(-1);
        },    
        showUrl(){
            var id=this.$route.params.id;
            console.log(id);
            var page ='/InvitationEventDetail/';
            var base_page=this.axios.defaults.baseURL;
            var total_url=base_page+page+id;
            this.url=total_url;
            this.showDismissibleAlert=true
        }
        
    },
    validations: {
        invitation:{
            email: {required,email}
        },
        invitations:{required}
        
    }
}
</script>

<style scoped>
#backgroundContainer{
    background-color: white;
    box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    padding: 30px;
}
.botonAyuda{
    padding: 0px 0px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-top: 4px;
    /* margin-bottom: 10px; */
    margin-left: 10px;
}
</style>