<template>
    <div>
         <b-form-group>
             <b-container>
                <b-row class="mt-5"  align-v="center" align-h="center">
                    <b-col cols="4">
                        <label>Nueva Fecha</label>
                    </b-col> <!-- FECHA INICIAL -->
                    <b-col cols="4">
                        <datepicker  
                        :format="customFormatter"
                        :language="es"
                        placeholder="Elegir fecha nueva" 
                        v-model="new_date"
                        > </datepicker>
                    </b-col>
                    <b-col cols="4">
                        <b-button @click="set_new_date" size="sm" variant="success">Configurar</b-button>
                    </b-col>
                </b-row>
             </b-container>
        </b-form-group>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import {es} from 'vuejs-datepicker/dist/locale' 
import moment from 'moment'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    data(){
        return{
            new_date: '',
            es: es
        }
    },
    methods: {
        ...mapActions('time', ['start', 'set_date']),
        ...mapGetters('time', ['today']),
        customFormatter(date){
            return moment(date).format('D / MM / YYYY')
        },
        printNewDate(){
          console.log(this.new_date)
        },
        set_new_date(){
            // se setea la fecha en vuex primero 
            this.set_date(this.new_date)
            
            // aca se llama al servicio que actualiza la fecha en la bd 
            this.axios.post('/update_time',{
                "date": this.now
            })
            .then((response)=>{
                console.log(response);
                // luego adentro se llama al servicio que actualiza todos los states 
                this.axios.post('/update_states',{
                    "date": this.now
                })
                .then((response)=>{
                    console.log(response);                    
                })
                .catch(e=>{
                    console.log(e)
                }) 
            })
            .catch(e=>{
                console.log(e)
            }) 

        }
    },
    components: {
        Datepicker
    },
    computed: {
        ...mapState('time', ['now'])
    }
}
</script>

<style scoped>

</style>