<template>
    <div id="wholeForm">
        <b-col>
            <form-wizard v-bind:title="title" v-bind:subtitle="dateStart+'-'+dateEnd" color="#0B62B9"  @on-complete="onComplete" nextButtonText="Siguiente" back-button-text="Anterior" finish-button-text="Finalizar">
                <tab-content title="Resumen" :before-change="handleStepOne">
                    <div class="container mt-5">
                        <b-form @reset="onReset" v-if="show">
                            <b-form-group
                                id="input-group-1"
                                label="Titulo:"
                                label-for="input-1"
                                description="Campo obligatorio (2-120 caracteres)"
                            >
                                <b-form-input
                                id="input-1"
                                v-model="$v.form.title.$model"
                                required
                                :state="$v.form.title.$dirty? !$v.form.title.$error : null"
                                aria-describedby="title-error"
                                placeholder="Ingresa un titulo"
                                ></b-form-input>
                                <b-form-invalid-feedback id="title-error">
                                    Ingrese un texto valido (2-120 caracteres)
                                </b-form-invalid-feedback>
                            </b-form-group>

                            <b-form-group label="Elija las categorias correspondientes: " description="Campo obligatorio">
                                <b-form-checkbox-group
                                v-model="form.selected"
                                :options="categories"
                                :state = "form.selected.length >= 1 ? form.selected.length >= 1: null"
                                name="check-2a"
                                stacked
                                ></b-form-checkbox-group>
                            </b-form-group>

                            <b-form-group id="input-group-2" label="Resumen:" label-for="input-2" description="Campo obligatorio">
                                <b-form-textarea
                                id="textarea"
                                v-model="$v.form.summary.$model"
                                placeholder="Ingresa tu texto"
                                rows="8"
                                max-rows="15"
                                :maxlength="1500"
                                :state="$v.form.summary.$dirty? !$v.form.summary.$error : null"
                                aria-describedby="summary-error"
                                ></b-form-textarea>
                                <b-form-invalid-feedback id="summary-error">
                                    Ingrese un texto valido (2-1500 caracteres)
                                </b-form-invalid-feedback>
                            </b-form-group>
                            <div v-for="(item,index) in fields" :key="index">
                                <b-form-group id="input-group-4" v-bind:label= item.name_field label-for="input-2" description="Campo obligatorio">
                                    <b-form-textarea
                                    id="textarea"
                                    v-model="item.content_field"
                                    placeholder="Ingresa tu texto"
                                    rows="5"
                                    max-rows="8"
                                    :maxlength="500"
                                    :state="item.content_field!= null? item.content_field.length >2 : null"
                                    aria-describedby="fields-error"
                                    ></b-form-textarea>
                                    <b-form-invalid-feedback id="fields-error">
                                        Ingrese un texto valido (2-500 caracteres)
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </div>
                        </b-form>
                    </div>
                </tab-content>
                <tab-content title="Autores" :before-change="handleStepTwo">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <b-form @reset="onReset" v-if="show">
                                    <b-form-group
                                        id="input-group-1"
                                        label="Nombre:"
                                        label-for="input-1"
                                        description="Campo obligatorio"
                                    >
                                        <b-form-input
                                        id="input-1"
                                        v-model="form2.author.name"
                                        required
                                        :state="$v.form2.author.name.$model? nameValid : null"
                                        aria-describedby="name-error"
                                        placeholder="Ingresa el nombre"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="name-error">
                                            Ingrese solo letras
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                    <b-form-group
                                        id="input-group-1"
                                        label="Apellidos:"
                                        label-for="input-1"
                                        description="Campo obligatorio"
                                    >
                                        <b-form-input
                                        id="input-1"
                                        v-model="form2.author.last_name"
                                        :state="$v.form2.author.last_name.$model? lastNameValid : null"
                                        aria-describedby="last-name-error"
                                        required
                                        placeholder="Ingresa apellidos"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="last-name-error">
                                            Ingrese solo letras
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                    <b-form-group
                                        id="input-group-1"
                                        label="Correo:"
                                        label-for="input-1"
                                        description="Campo obligatorio"
                                    >
                                        <b-form-input
                                        id="input-1"
                                        v-model="form2.author.email"
                                        type="email"
                                        required
                                        :state="$v.form2.author.email.$model? $v.form2.author.email.email : null"
                                        aria-describedby="email-error"
                                        placeholder="Ingresa tu email"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="email-error">
                                            Ingrese un email valido
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                    <b-form-group
                                        id="input-group-1"
                                        label="Afiliación:"
                                        label-for="input-1"
                                        description="Campo obligatorio"
                                    >
                                        <b-form-input
                                        id="input-1"
                                        v-model="form2.author.affiliation"
                                        required
                                        :state="$v.form2.author.affiliation.$dirty? !$v.form2.author.affiliation.$error : null"
                                        aria-describedby="affiliation-error"
                                        placeholder="Ingresa tu afiliación"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="affiliation-error">
                                            El campo es obligatorio
                                        </b-form-invalid-feedback>
                                    </b-form-group>
                                    <div class="row mb-5 mt-4 float-right mr-1">
                                        <b-button @click="addAuthor" variant="primary">Agregar autor</b-button>
                                    </div>
                                </b-form>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <b-list-group v-for="(item,index) in form2.authors" :key="index">
                                    <b-list-group-item>{{item.name}} {{item.last_name}} - {{item.email}} <b-button-close @click="eliminate(item)"></b-button-close></b-list-group-item>
                                </b-list-group>
                            </div>
                        </div>
                    </div>
                </tab-content>
                <tab-content title="Documento" v-if="needs_doc===true">
                    <div class="container mt-5 mb-5">
                        <b-card>
                            <b-row>
                                <b-form inline>
                                <b-col cols="6">Subir Documento:</b-col>
                                <b-col cols="6">
                                    <b-form-file 
                                    placeholder="Archivo no seleccionado" 
                                    v-model="form3.paper" 
                                    ref="file-input" 
                                    class="mb-2" 
                                    browse-text="Seleccionar" 
                                    size = "md"></b-form-file>
                                </b-col>
                                </b-form>
                            </b-row> 
                            <b-row>
                            <b-col cols="8"><p class="mt-2">Archivo:  <b>{{form3.paper !== null ? form3.paper.name : form3.paper_name }}</b></p></b-col>
                            <b-col cols="4"><b-button @click="form3.paper = null" size="sm">Eliminar archivo</b-button></b-col>
                            </b-row>
                        </b-card>
                    </div>
                </tab-content>
                <template slot="footer" scope="props">
                    <div class=wizard-footer-left>
                        <wizard-button @click.native="props.prevTab()" v-if="props.activeTabIndex > 0" :style="props.fillButtonStyle">Anterior</wizard-button>
                        <wizard-button @click.native="cancelar" v-else :style="props.fillButtonStyle">Cancelar</wizard-button>
                    </div>
                    <div class="wizard-footer-right">
                        <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Siguiente</wizard-button>

                        <wizard-button v-else @click.native="onComplete" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">{{props.isLastStep ? 'Finalizar' : 'Siguiente'}}</wizard-button>
                    </div>
            </template>
            </form-wizard>
        </b-col>
    </div>
</template>

<script>
import {FormWizard, TabContent,WizardButton} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import { validationMixin } from 'vuelidate'
import { required, minLength,email,maxLength,alpha, minValue, maxValue, numeric} from 'vuelidate/lib/validators'
export default {
    name: 'updatePaperUpload',
    components:{
        FormWizard,
        TabContent,
        WizardButton
    },
    mixins: [validationMixin],
    data() {
      return {
        form: {
          title: '',
          summary: '',
          selected: [],
        },
        categories: [],
        show: true,
        needs_doc:false,
        title:'',
        dateStart: '',
        dateEnd: '',
        fields:[],
        form2:{
            author:{
                name:'',
                last_name: '',
                email: '',
                affiliation: ''
            },
            authors: []
        }, 
        form3: {
            paper: null,
            paper_name : ''
        },
        id_event : 0, 
        id_phase : 0, 
        user : JSON.parse(localStorage.getItem('user')),
        id_submission:0
      }
    },
    methods: {
      onComplete(){
            var validateThree = this.handleStepThree();
            if(validateThree == true){
                this.$swal.fire({
                title: 'Quieres guardar los datos ingresados?',
                text: "No será capaz de revertirlo!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
                }).then((result) => {
                if (result.value) {
                    const formData = new FormData();  
                    formData.append('id_event', this.id_event)
                    formData.append('id_phase', this.id_phase)
                    formData.append('username', this.user.username)
                    formData.append('id_submission',this.id_submission)
                    formData.append('authors', JSON.stringify(this.form2.authors))
                    formData.append('needs_document', this.needs_doc ? 1 : 0)
                    if (this.needs_doc && this.form3.paper != null)
                        formData.append('document', this.form3.paper, this.form3.paper.name)
                    else if(this.needs_doc && this.form3.paper == null){
                        formData.append('document', null)
                    }
                    formData.append('name', this.form.title)
                    formData.append('summary', this.form.summary)
                    formData.append('keywords', JSON.stringify(this.form.selected))
                    formData.append('fields', JSON.stringify(this.fields))
                
                    this.axios.post('/update_submission', formData)
                    .then(response => {
                        this.$swal.fire(
                        'Guardado con éxito',
                        'Sus datos fueron guardados exitosamente',
                        'success'
                        )
                        console.log(response)
                        this.$router.push({ name: 'uploadDocPostulant', params: { id: this.id_event }})  
                    })
                    .catch(error => {
                        this.$swal.fire(
                        'Upss..',
                        'Hubo un error al guardar sus datos',
                        'error'
                        )
                        console.log(error.response)
                    });
                    
                }
                })
            }
            
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      addAuthor(){
        var aut = {name:'',last_name:'',email:'',affiliation:''};
        var valEmail = true;
        var valEmailBd= true;
        aut.name = this.form2.author.name;
        aut.last_name = this.form2.author.last_name;
        aut.email = this.form2.author.email;
        aut.affiliation = this.form2.author.affiliation;
        this.axios.post('/verify_account',{
            "first_name": aut.name,
            "last_name": aut.last_name,
            "email": aut.email
        })
        .then((response)=>{
            if(response.data.status!="ok"){
                valEmailBd=false;
                this.$swal("Espere...","Ya existe otra persona con el mismo correo","warning");
            }
            else
            {
                for(let i=0; i<this.form2.authors.length;i++){
                    if(this.form2.authors[i].email==aut.email){
                        this.$swal("Espere...","Ya ha agregado a una persona con el mismo correo","warning");
                        valEmail= false;
                    }
                }
                if(valEmail==true){
                    if(((aut.name==null) || (aut.name=="")) && ((aut.last_name==null) || (aut.last_name=="")) && ((aut.email==null) || (aut.email=="")) && ((aut.email==null) || (aut.email==""))){
                        this.$swal("Espere...","Le falta llenar los campos","warning");
                    }
                    else if(((aut.name==null) || (aut.name=="")) && ((aut.last_name==null) || (aut.last_name=="")) || ((aut.name==null) || (aut.name=="")) && ((aut.email==null) || (aut.email=="")) || ((aut.name==null) || (aut.name=="")) && ((aut.affiliation==null) || (aut.affiliation==""))){
                        this.$swal("Espere...","Le falta llenar los campos","warning");
                    }
                    else if (((aut.last_name==null) || (aut.last_name=="")) && ((aut.email==null) || (aut.email=="")) || ((aut.last_name==null) || (aut.last_name=="")) && ((aut.affiliation==null) || (aut.affiliation==""))){
                        this.$swal("Espere...","Le falta llenar los campos","warning");
                    }
                    else if (((aut.email==null) || (aut.email=="")) && ((aut.affiliation==null) || (aut.affiliation==""))){
                        this.$swal("Espere...","Le falta llenar los campos","warning");
                    }
                    else if((aut.name==null) || (aut.name=="")) this.$swal("Espere...","Le falta llenar el nombre","warning");
                    else if ((aut.last_name==null) || (aut.last_name=="")) this.$swal("Espere...","Le falta llenar el apellido","warning");
                    else if ((aut.email==null) || (aut.email=="")) this.$swal("Espere...","Le falta llenar el correo","warning");
                    else if ((aut.affiliation==null) || (aut.affiliation=="")) this.$swal("Espere...","Le falta llenar la afiliación","warning");
                    else if (!this.lastNameValid && !this.nameValid) this.$swal("Espere...","El nombre y apellido solo pueden tener letras","warning");
                    else if (this.lastNameValid && !this.nameValid) this.$swal("Espere...","El nombre solo puede tener letras","warning");
                    else if (!this.lastNameValid && this.nameValid) this.$swal("Espere...","El apellido solo puede tener letras","warning");
                    else{
                        this.form2.authors.push(aut);
                        this.form2.author.name='';
                        this.form2.author.last_name='';
                        this.form2.author.email='';
                        this.form2.author.affiliation='';
                    }
                }
            }
        })
        .catch(e=>{
            console.log(e)
        })
      },
      handleStepOne(){
          var valFields = false;
          var count = 0;
          var field = "";

          for(let i=0; i<this.fields.length; i++){
              if((this.fields[i].content_field==null) || (this.fields[i].content_field== "")){
                  valFields=true;
                  count++;
                  field=this.fields[i].name_field;
              }
          }
          if(this.$v.form.title.$invalid) count++;
          if(this.$v.form.summary.$invalid) count++;
          if(this.form.selected.length<1) count++;

          if(count > 1){
              this.$swal("Espere...","Llene los campos obligatorios","warning");
              return false;
          }
          else if (count == 1){
              if(this.$v.form.title.$invalid) this.$swal("Espere...","Le falta llenar el título","warning");
              else if(this.$v.form.summary.$invalid) this.$swal("Espere...","Le falta llenar el resumen","warning");
              else if(this.form.selected.length<1) this.$swal("Espere...","Le falta escoger una categoría","warning");
              else this.$swal("Espere...","Le falta llenar "+field,"warning");
              return false;
          }
          return true;
      },
      handleStepTwo(){
          if(this.$v.form2.authors.$invalid){
              this.$swal("Espere...","Debe agregar por lo menos un autor","warning");
              return false;
          }
          else return true;
      },
      handleStepThree(){
          return true;
      },
      cancelar(){
          this.$router.push({ name: 'uploadDocPostulant', params: { id: this.id_event }}) 
      },
      eliminate(value){
      for(let i=0;i<this.form2.authors.length;i++){
        if(this.form2.authors[i].name==value.name){
          this.form2.authors.splice(i, 1);
        }
      }
    }
      
    },
    created (){
        var aux =this.$route.params.needs;
        if(aux === 0) this.needs_doc=false;
        else this.needs_doc=true;

        this.id_event = this.$route.params.id
        this.id_phase = this.$route.params.id_phase
        this.axios.post('/send_submission_data',{
            "username":this.user.username,
            "id_event": this.id_event,
            "id_phase": this.id_phase
        })
        .then((response)=>{
            console.log(response);
            this.title = response.data.title_event;
            this.phases = response.data.phases;
            this.dateStart =response.data.startDate;
            this.dateEnd = response.data.endDate;
            this.form.title = response.data.name;
            this.form.summary = response.data.summary;
            for(let i=0;i<response.data.keywords.length;i++){
                this.categories.push(response.data.keywords[i].name)
            }
            for(let i=0;i<response.data.keywords_choose.length;i++){
                this.form.selected.push(response.data.keywords_choose[i].name)
                console.log(response.data.keywords_choose[i])
            }
            this.fields = response.data.fields;
            this.form2.authors=response.data.authors;
            console.log(this.form2.authors);
            if(response.data.document!=null){
                var elements = response.data.document.split("/");
                this.form3.paper_name = elements[3];
            }
            this.id_submission=response.data.id_submission;
        })
        .catch(e=>{
            console.log(e)
        })
    },
    validations: {
        form:{
            title:{required,minLength: minLength(2),maxLength: maxLength(1500)},
            summary:{required,minLength: minLength(2),maxLength: maxLength(1500)},
            selected:{required}
        },
        form2:{
            author:{
                name: {required,alpha},
                last_name: {required,alpha},
                email: {required,email},
                affiliation: {required}
            },
            authors:{required}
        },
        fields:{
            $each:{
                content_field: {required,minLength: minLength(2), maxLength: maxLength(500)}
            }
        }
    },
    computed:{
        nameValid(){
        var hasNumber = /\d/;
        var check = hasNumber.test(this.form2.author.name);
        console.log(check);
        if(this.form2.author.name.length<20 && !check) return true;
        else return false;
      },
      lastNameValid(){
        var hasNumber = /\d/;
        var check = hasNumber.test(this.form2.author.last_name);
        console.log(check);
        if(this.form2.author.last_name.length<20 && !check) return true;
        else return false;
      }
    }
    
}
</script>

<style scoped>
#wholeForm{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
    background-color: white;
}
</style>