<template>
    <div class="uploadDocPostulant">
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h1>{{name_event}} - Fases</h1>
                </div>
            </div>
            <div class="row" v-for="(item, index) in phases" :key="index" >
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-xs-2 col-md-2 col-lg-2 col-xl-2"></div>
                        <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8">
                            <div class="container mt-3">
                                <div class="row borde" id="phaseBackground">
                                    <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6" id="phaseData">
                                        <p><strong>Fase:</strong>&emsp;&emsp;&emsp;&emsp;{{item.name_phase}}<br>
                                        <strong>Fecha Inicio:</strong>&ensp;{{item.startDate}}<br>
                                        <strong>Fecha Fin:</strong>&emsp;&ensp;&nbsp;{{item.endDate}}
                                        </p>
                                    </div>
                                    <!-- -->
                                    <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3" v-if="item.status_phase === 1 && item.status_submission === 0">
                                        <b-button :to="{name: 'paperUpload', params:{id:id, id_phase: item.id_phase, needs:item.needs_document}}" class="mt-3 mb-3 ml-3" variant="primary">Subir Entregable</b-button>
                                    </div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3" v-else>
                                        <b-button disabled :to="{name: 'paperUpload', params:{id:id, id_phase: item.id_phase, needs:item.needs_document}}" class="mt-3 mb-3 ml-3" variant="primary">Subir Entregable</b-button>
                                    </div>
                                    
                                    <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3" v-if="item.status_phase === 1 && item.status_submission === 1">
                                        <b-button :to="{name: 'updatePaperUpload', params:{id:id, id_phase: item.id_phase, needs:item.needs_document}}" class="mt-3 mb-3 ml-3" variant="primary">Editar Entregable</b-button>
                                    </div>
                                    <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3" v-else>
                                        <b-button disabled :to="{name: 'updatePaperUpload', params:{id:id, id_phase: item.id_phase, needs:item.needs_document}}" class="mt-3 mb-3 ml-3" variant="primary">Editar Entregable</b-button>
                                    </div>

                                </div>
                            </div>    
                        </div>
                        <div class="col-xs-2 col-md-2 col-lg-2 col-xl-2"></div>
                    </div>
                </div>
            </div>     
        </div>
    </div>

</template>

<script>
export default {
    name:'uploadDocPostulant',
    data () {
        return {
            phases: [],
            name_event: '',
            id:0,
            user:JSON.parse(localStorage.getItem('user'))
        }
    },
    created () {
        // se obtiene el id del evento   
        this.id = this.$route.params.id;
    }, 
    mounted(){
        // se llama el servicio que obtiene todas las fases 
        this.axios.post('/all_phases',{
            "username":this.user.username,
            "id_event": this.$route.params.id,
        })
        .then((response)=>{
            console.log(response);
            localStorage.removeItem('phases');
            this.name_event = response.data.name_event;
            this.phases = response.data.phases;   
            localStorage.setItem('phases',JSON.stringify({
                        fase:this.phases
                        }))         
            console.log(this.phases[0].startDate);
        })
        .catch(e=>{
            console.log(e)
        }) 
        
      
    }
}
</script>

<style scoped>
.borde{
    background-color:#fff!important;
    border-radius:0!important;
    box-shadow: 0 0px 6px 0.5px rgb(194, 194, 194);
}
#phaseBackground{
    background-color: white;
}
#phaseData{
    margin-top: 10px;
}
</style>