<template>
  <div class="eventCard">
    <div class="container mt-5 p-3">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3" v-for="item in numb.slice(0,4)" v-bind:key="item">
                <b-card
                v-bind:title="item.Title"
                img-src="https://picsum.photos/600/300/?image=25"
                img-alt="Image"
                img-top
                tag="article"
                style="max-width: 25rem;"
                >
                    <b-card-text>
                        <p>{{item.Date}}<br>
                           {{item.Role}}<br>
                           {{item.Location}}</p>
                    </b-card-text>

                    <b-button href="#" variant="primary">Detalles</b-button>
                </b-card>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'eventCard',
  data () {
    return {
      limit: 4
    }
  },
  props: ['numb']
}
</script>
