<template>
    <b-navbar id="nav" toggleable="lg" type= "dark" variant="light">

      <b-navbar-brand v-if="stateUser.status.loggedOut" :to="{name: 'homeLogout'}">
        <img src="../assets/logo_blanco_50x50.png" alt="Rendezvous"> 
        Rendezvous
      </b-navbar-brand>

      <b-navbar-brand v-if="stateUser.status.loggedIn" :to="{name: 'homeLogged'}">
        <img src="../assets/logo_blanco_50x50.png" alt="Rendezvous"> 
        Rendezvous
      </b-navbar-brand>

      <b-collapse id="nav-text-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-text>| Gestión de Eventos Académicos</b-nav-text>
        </b-navbar-nav>
      </b-collapse>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          
      <b-collapse id="nav-collapse" is-nav >            
        <b-navbar-nav class="ml-auto" v-if="stateUser.status.loggedOut">
          <b-nav-item :to="{name: 'login'}" >Iniciar Sesión</b-nav-item>
          <b-nav-item :to="{name: 'register'}" >Registrarse</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto" v-if="stateUser.status.loggedIn">
          <b-nav-item :to="{name: 'manageUsers'}" v-if="stateUser.user.isAdmin">Administrar Usuarios</b-nav-item>
          <b-nav-item :to="{name: 'eventsReport'}" v-if="stateUser.user.isAdmin">Reportes</b-nav-item>
          <b-nav-item :to="{name: 'myEvents'}" v-if="!stateUser.user.isAdmin">Mis Eventos</b-nav-item>
          <b-nav-item disabled>{{getUsername()}}</b-nav-item> <!-- Esto aun no es reactivo -->
          
          <b-nav-item-dropdown right>
            <template v-slot:button-content>
                <img src="../assets/user_30x30.png" alt="User"> 
            </template>
            <b-dropdown-item :to="{name: 'profile'}">Mi Perfil</b-dropdown-item>
            <b-dropdown-item @click.prevent="logout">Cerrar Sesión</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
</template>

<script>

import { mapState, mapActions } from 'vuex'

export default {
  template: '<Navbar/>',
  name: 'navbar',
  data() {
    return {
      user: JSON.parse(localStorage.getItem('user'))
    }
  },
  computed:{
    ...mapState('account', ['stateUser'])
  },
  methods: {
     ...mapActions('account', ['logout']),
     getUsername(){
       this.user = JSON.parse(localStorage.getItem('user'))
       return this.user.username;
     }
  }
}

</script>

<style scoped>
  nav{
    background-color: #003c7d!important;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
  }
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }
  nav .nav-item{
    margin-left: 10px;
    margin-right: 10px;
  }
  nav .navbar-brand{
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 1.3em;
  }
</style>