<template>
  <div id="app">
    
      <h1>Page Title</h1>

    <form-wizard>
      <template v-slot="{formData}">
        <tab info="Datos Generales del Evento" number="1" :selected="true" :formData="formData">

        </tab>
          
          <tab info="Agregar Miembros" number="2" data-vv-scope="step2">
              <div id="form-step-2">
                  <div class="field">
                          <label class="label">Ingrese el correo electronico de los colaboradores del evento</label>
                          <label class="label">Email</label>
                          <div class="control">
                          <input class="input" name="email"  type="email"  v-model="formData.email" placeholder="Email input" data-vv-scope="step2" v-validate="'required|email'">
                          <p class="help is-danger" v-show="errors.has('step2.email')">
                              {{ errors.first('step2.email') }}
                            </p>
                      </div>
                          
                          <div class="control">
                            <textarea class="textarea" name="about"  v-model="formData.about" placeholder="Something about you.." v-validate="'required'" data-vv-scope="step2"></textarea>
                            <p class="help is-danger" v-show="errors.has('step2.about')">
                                  {{ errors.first('step2.about') }}
                            </p>
                          </div>
                    </div>
                    <div class="field">
                          <select v-model="formData.selected" placeholder="Please select one">
                          <option disabled value="">Please select one</option>
                          <option>A</option>
                          <option>B</option>
                          <option>C</option>
                          </select>
                          
                          <div class="control">
                              <strong>Gender</strong><br/>
                            <label class="radio">
                              <input type="radio" name="gender" v-model="formData.gender" v-validate="'required'" data-vv-scope="step2" value="Male">
                              Male
                            </label>
                            <label class="radio">
                              <input type="radio" name="gender" v-model="formData.gender" data-vv-scope="step2" value="Female">
                              Female
                            </label>
                            <p class="help is-danger" v-show="errors.has('step2.gender')">
                                  {{ errors.first('step2.gender') }}
                            </p>
                          </div>
                    </div>
              </div>
          </tab>
          <tab number="3" info="Call for Papers" >
              <div id="form-step-3">
                      <div class="field">
                              <label class="label">Where did you hear about us?</label>
                              <div class="control">
                                <div class="select" name="reference">
                                  <select v-model="formData.reference" v-validate="'required'" name="reference" data-vv-scope="step3">
                                    <option value="">Select</option>
                                    <option value="newspaper">Newspaper</option>
                                    <option value="social-media">Social Media</option>
                                    <option value="other">Other</option>
                                  </select>
                                </div>
                              </div>
                              <p class="help is-danger" v-show="errors.has('step3.reference')">
                                      {{ errors.first('step3.reference') }}
                              </p>
                      </div>
                      <div class="field">
                              <div class="control">
                                <label class="checkbox">
                                  <input type="checkbox" name="terms" v-model="formData.terms" data-vv-scope="step3" v-validate="'required'">
                                  I agree to the <a href="#">terms and conditions</a>
                                </label>
                              </div>
                              <p class="help is-danger" v-show="errors.has('step3.terms')">
                                      {{ errors.first('step3.terms') }}
                              </p>
                      </div>                
              </div>
          </tab>
          </template>
          </form-wizard>

  </div>
</template>

<script>

import Tab from './Tab'
import FormWizard from './FormWizard'

export default {
  name: 'Steps',
  components: {
    FormWizard, Tab
  },
}
</script>

<style scoped lang="scss">
</style>
