<template>
    <b-container>
      <b-row>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar: "
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar ..."
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group
            label="Filtrar por: "
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            description="No selecciones para buscar con todos tus datos"
            class="mb-0">
            <b-form-checkbox-group v-model="filterOn" class="mt-1">
              <b-form-checkbox value="fullname">Apellidos y Nombres</b-form-checkbox>
              <b-form-checkbox value="username">Nombre de Usuario</b-form-checkbox>
              <b-form-checkbox value="permissions">Permisos de Usuario</b-form-checkbox>
              <b-form-checkbox value="request_organizer">Solicitud de Permisos</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group
            label="Per page"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            label-for="perPageSelect"
            class="mb-0"
          >
            <b-form-select
              v-model="perPage"
              id="perPageSelect"
              size="sm"
              :options="pageOptions"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
    </b-row>

        <b-table
            class="tabla"
            ref="table"
            :items="items"
            :fields="fields"
            responsive="sm"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :no-border-collapse="true"
            @filtered="onFiltered"
        >
          <template v-slot:head(selected)="scope">
            <input type="checkbox" v-model="selectAll" @click="selectAllFn"/>
          </template>
          <template v-slot:cell(selected)="row">
            <input type="checkbox" v-model="selected" :value="row.item" />
          </template>
          <template v-slot:cell(fullname)="row">
            {{row.item.fullname.lastname}}, {{row.item.fullname.name}}
          </template>
          <template v-slot:cell(permissions)="row">
            <div v-for="item in row.item.permissions" v-bind:key="item">
                {{item}} 
            </div>
          </template>
        </b-table>

        <!-- Example scoped slot for select state illustrative purposes -->
        <div class="buttons">
        
          <b-button class="btn_user" variant="primary" size="sm" @click="givePermissions">Otorgar Permisos</b-button>
        
        </div>

 
    </b-container>
</template>

<script>
export default {
    name: 'userTable',
    data() {
      return {
        fields: [
            {
            key: 'selected',
            label: '',
            sortable: false
          },
          {
            key: 'fullname',
            label: 'Apellidos y Nombres',
            sortable: true,
            filterByFormatted: true
          },
          {
            key: 'username',
            label: 'Nombre de usuario',
            sortable: true,
            filterByFormatted: true
          },
          {
            key: 'permissions',
            label: 'Permisos',
            sortable: false,
          },
          {
            key: 'request_organizer',
            label: 'Solicitud de Permisos',
            sortable: true,
            
          }
        ],
        items: [],
        selected: [],
        selectAll: false,
        filter: null,
        filterOn: [],
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15]
      }
    },
    mounted(){
        this.axios.post('/all_users')
          .then(response =>{
              console.log(response.data)
              var i = 1 
              var permissions_obj = {permissions: ''}
              var requests = ''
              var _rowVariant = ''
              var it = []

              response.data.forEach(user => {
                if(user.permissions.length == 0){
                  permissions_obj.permissions = 'No tiene permisos'
                }else if(user.permissions.length == 1){
                    if(user.permissions[0].id_permission == 1) permissions_obj.permissions= 'Administrador'
                    else permissions_obj.permissions= 'Organizador'
                }else if(user.permissions.length > 1){
                  for(var perm in user.permissions){
                    if(perm.id_permission == 1) permissions_obj.permissions = 'Administrator'
                    else permissions_obj.permissions.concat(', Organizador')
                  }
                }

                if(user.request_organizer == 0){
                  requests = 'Ninguno'
                }else if(user.request_organizer == 1){
                  requests = 'Organizador'
                  _rowVariant = 'warning'
                }

                it.push({
                  index: i,
                  fullname: {lastname: user.last_name, name: user.name},
                  username: user.username,
                  permissions: permissions_obj,
                  request_organizer: requests
                })

                permissions_obj = {permissions: ''}
                i++
              });

              console.log("it: ",it.length)
              this.items = it
              console.log("item length: ",this.items.length)
              this.totalRows = this.items.length
              console.log("totalRows: ",this.totalRows);
          }).catch(e =>{
              console.log(e)
          })        
    },
    methods:{
      
      selectAllFn(){
        this.selected = [];
        if (!this.selectAll) {
          for (let i in this.items) {
            this.selected.push(this.items[i]);
          }
        }
      },
      onRowSelected(items) {
        this.selected = items
      },
      selectAllRows() {
        this.$refs.selectableTable.selectAllRows()
      },
      clearSelected() {
        this.$refs.selectableTable.clearSelected()
      },
      givePermissions() {
        const formData = new FormData(); 
        var users = []
        
        this.selected.forEach(element => {
          //console.log(element)
          users.push({"username" : element.username})
        });
        console.log(users)
        console.log('users', JSON.stringify(users))

        formData.append('permission', 'Organizer')
        formData.append('users', JSON.stringify(users))

        this.$swal.fire({
                title: '¿Esta seguro de asignar los permisos?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                         this.axios.post('/assign_permission', formData)
                            .then(response => { 
                                this.$swal.fire(
                                'Guardado con éxito',
                                'Sus datos fueron guardados exitosamente',
                                'success'
                            )
                                console.log(response)
                            })
                            .catch(error => {
                                 this.$swal.fire(
                                  'Upss..',
                                  'Hubo un error al guardar sus datos',
                                  'error'
                        )
                                console.log(error.response)
                            }); 

                            this.$refs.table.refresh();
                          
                        

                    }
                })

      },
      quitPermissions() {
        for(let i=0; i<this.items.length; i++){
            if(this.$refs.selectableTable.isRowSelected(i)){
              this.$set(this.items[(this.currentPage-1)*this.perPage + i], 'permissions', '-')
            }
        }
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    computed:{

    }
}
</script>

<style scoped>
  .btn_user{
    margin-left: 10px;
    margin-right: 10px;
  }
  .buttons{
    display: table;
    margin: auto;
  }
  .tabla{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  input[type="checkbox"]{
    background-color: #00a308;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
</style>