<template>
  <div>
    <div id="app">
      <Navbar />
    </div>
    <router-view/>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import { mapState, mapActions, mapGetters} from "vuex"
/*
import schedule from 'node-schedule'

var j = schedule.scheduleJob('0 0 0 * * *', function(){
  console.log('Se llama a la actualizacion de estados del sistema');
});
 */

export default {
  name : 'App',
  components: {
    'Navbar': Navbar
  },
  created(){
    // Una vez levantada la aplicacion, se setea now con la fecha que tengo en base de datos!
    this.axios.post('/send_time')
    .then((response)=>{
        console.log(response.data);
        this.set_date(response.data.time);
    })
    .catch(e=>{
        console.log(e)
    })  
  },
  methods:{
    ...mapActions('time', ['start', 'set_date']),
    ...mapGetters('time', ['today']),

  },  
  computed: {
    ...mapState('time', ['now'])
  }
}
</script>

<style>
  body{
    background-image: url("./assets/motivo.png");
    background-repeat: repeat;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
  }
</style>